/*
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
*/
h4, h5, h6, h1, h2, h3 {
	margin-top: 0;
}
ul, ol {
	margin: 0;
}
p {
	margin: 0;
	color: #333
}
html, body {
	font-family: 'Roboto', sans-serif;
	font-size: 100%;
	background: #f2f4f8;
	overflow-x: hidden;
}
body a {
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
}
/*-- header --*/
.navbar .navbar-nav li a {
	padding: 0 10px;
	line-height: 52px;
	position: relative;
}
.nav>li>a:focus, .nav>li>a:hover {
	background-color: rgba(239, 85, 58, 0) !important;
}
.navbar .navbar-nav li a i {
	border: 1px solid #fff;
	padding: 8px 0;
	width: 32px;
	text-align: center;
	-webkit-border-radius: 50em;
	-moz-border-radius: 50em;
	border-radius: 50em;
	color: #fff;
	height: 32px;
}
.navbar .navbar-nav li .dropdown-menu {
	margin-top: 3px;
	border: none;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	border: 1px solid #e1e6ef;
	-webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.125);
	-moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.125);
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.125);
	padding: 0;
}
.navbar .navbar-nav li .dropdown-menu:before {
	position: absolute;
	top: -9.5px;
	right: 16px;
	display: inline-block;
	border-right: 8px solid transparent;
	border-bottom: 8px solid #e1e6ef;
	border-left: 8px solid transparent;
	content: '';
}
.navbar .navbar-nav li .dropdown-menu li.dropdown-menu-header, .navbar .navbar-nav li .dropdown-menu li.dropdown-menu-footer {
	background: #f2f4f8;
}
.navbar .navbar-nav li.m_2 a {
	line-height: 38px;
}
.navbar .navbar-nav li .dropdown-menu li a i {
	margin: 0 10px 0 -5px;
	border: none;
}
.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover {
	background-color:#cecece !important
}
.navbar .navbar-nav li .dropdown-menu li a .label {
	position: absolute;
	right: 10px;
	top: 11px;
}
.label.label-info {
	background-color: #ef553a;
}
.label {
	padding: 4px 6px;
	border: none;
	text-shadow: none;
}
.warning_1, .warning_11 {
	padding: 10px 16px !important;
}
.warning_11, .warning_22, .warning_33, .warning_44 {
	background-color: #337ab7 !important;
	border-color: #337ab7 !important;
}
.warning_11:hover, .warning_22:hover, .warning_33:hover, .warning_44:hover {
	background-color: #246AA6 !important;
	border-color: #246AA6 !important;
}
.warning_2, .warning_22 {
	padding: 6px 12px !important;
}
.warning_3, .warning_33 {
	padding: 5px 10px !important;
}
.warning_4, .warning_44 {
	padding: 1px 5px !important;
}
.but_list, .tab-content {
	margin: 1.5em 0 0 0;
}
.btn-group-lg>.btn, .btn-lg {
	border-radius: 4px !important;
}
.navbar .navbar-nav li .dropdown-toggle.avatar img {
	height: 40px;
	-webkit-border-radius: 50em;
	-moz-border-radius: 50em;
	border-radius: 50em;
	margin-top: -4px;
}
.navbar .navbar-nav li .dropdown-menu li a i {
	margin: 0 10px 0 -5px;
	border: none;
	color: rgb(6, 217, 149);
}
.navbar .navbar-nav li .dropdown-menu li.dropdown-menu-header .progress, .navbar .navbar-nav li .dropdown-menu li.dropdown-menu-footer .progress {
	border: 1px solid #e1e6ef;
	background: white;
	box-shadow: none;
}
.progress.thin {
	height: 10px;
}
.progress {
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	background: #f2f4f8;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}
.navbar .navbar-nav li .dropdown-menu li.avatar {
	min-width: 300px;
	height: 56px;
	padding: 0px 15px;
}
.navbar .navbar-nav li .dropdown-menu li {
	padding: 0;
	position: relative;
	min-width: 100%;
	border-bottom: 1px solid #e1e6ef;
	line-height: 40px;
	padding: 0 15px;
	font-size: 14px;
	width: 179px;
}
.navbar .navbar-nav li .dropdown-menu li.avatar a {
	line-height: 59px;
	height: 59px;
	padding: 9px 15px;
}
.navbar .navbar-nav li .dropdown-menu li a {
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	line-height: 40px;
	height: 40px;
	margin: 0 -15px;
	padding: 0 15px;
}
.navbar .navbar-nav li .dropdown-menu li a img {
	height: 40px;
	-webkit-border-radius: 50em;
	-moz-border-radius: 50em;
	border-radius: 50em;
	border: 1px solid #e1e6ef;
	margin: 0px 10px 0 -5px;
	float: left;
}
.navbar .navbar-nav li .dropdown-menu li a div {
	font-size: 14px;
	line-height: 26px;
	font-weight: bold;
	color: #000;
}
.navbar .navbar-nav li .dropdown-menu li a small {
	display: block;
	line-height: 12px;
	font-size: 10px;
	margin-top: -3px;
	font-style: italic;
}
.small, small {
	color: #CFCFCF !important;
	font-weight: 300 !important;
}
.navbar .navbar-nav li .dropdown-menu li.avatar a .label {
	top: 20px;
}
.navbar .navbar-nav li a .badge {
	background: #ff5454;
	border: 2px solid white;
	position: absolute;
	top: 9px;
	right: 3px;
	font-size: 8px;
	line-height: 8px;
	padding: 4px 6px;
	-webkit-border-radius: 50em;
	-moz-border-radius: 50em;
	border-radius: 50em;
	min-width: 0;
}
.navbar-default.sidebar {
	background-color: #999;
	font-family: 'Roboto', sans-serif;
}
nav.top1.navbar.navbar-default.navbar-static-top {
	/*background-color:rgb(21, 245, 173);*/
	background-color: #0168ad;
	font-family: 'Roboto', sans-serif;
	border:0 !important;
}
.navbar-default .navbar-brand {
	color: #fff !important;
	font-size: 30px;
	font-weight: 500;
	padding: 5px 0px;
	margin-left: 15px
}
.navbar-right {
	margin-right: 10px !important;
}
.navbar-right li {
	display: inline-block;
}
i.nav_icon {
	color: #fff;
	margin-right: 6px;
}
.sidebar ul li a {
	color: #fff;
	font-size: 14px;
}
.form-control {
    background-color: #fff !important;
}
.navbar-form.navbar-right input[type="text"] {
	color: #fff;
}
form.navbar-form.navbar-right {
	margin: 9px 0 0 0;
}
ul.nav.navbar-nav.navbar-right {
	height: 51px;
}
.sidebar-nav.navbar-collapse {
	/*margin: 2em 0 0 0;*/
	margin-top: 0
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
	background-color: rgba(231, 231, 231, 0) !important;
}
.dropdown-menu {
	min-width: 182px !important;
	width: 60%;
}
/* Active state */
.wrapper-dropdown-4.active i.dropdown-icon {
	background-position: -2px -2px;
}
.wrapper-dropdown-4.active .dropdown {
	max-height: 400px;
}
ul.dropdown {
	padding: 0;
	margin: 0;
	list-style: none;
}
.span_1 {
	background: #000;
	padding: 1em;
	margin: 0;
	position: fixed;
	height: 100%;
	overflow-y: auto;
	z-index: 100;
	top: 0;
}
.col-md-10.span_1_of_span_2 {
	padding: 1em;
}
.col_1_of_2.span_1_of_2 {
	padding: 5px;
}
.col_1_of_2.span_1_of_2:hover .red {
	background: #E84F34;
}
.col_1_of_2.span_1_of_2:hover .blue1 {
	background: #8D51A6;
}
.col_1_of_2.span_1_of_2:hover .fb2 {
	background: #355290;
}
.col_1_of_2.span_1_of_2:hover .tw2 {
	background: #03A5E2;
}
.span_4 {
	padding-right: 0;
}
.col_3 {
	margin-bottom: 1em;
}
.col_3 h4 {
	margin: 0 0 2em;
	color: #fff;
	text-transform: uppercase;
	font-size: 0.85em;
}
.span_10 {
	margin-bottom: 1em;
}
/**** icon dropdown ******/
.wrapper-dropdown-5 {
	position: relative;
	margin: 0 auto;
	cursor: pointer;
	outline: none;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}
.wrapper-dropdown-5 i.dropdown-icon {
	width: 15px;
	height: 12px;
	display: block;
	background: url(../images/up-down.png) no-repeat -3px -13px;
	float: left;
}
.wrapper-dropdown-5 .dropdown {
	position: absolute;
	top: 18px;
	right: -16px;
	width: 245px;
	background: #333;
	color: #fff;
	list-style: none;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
	max-height: 0;
	overflow: hidden;
	z-index: 1;
}
.wrapper-dropdown-5 .dropdown li:first-child a {
	border-top: none;
}
.wrapper-dropdown-5 .dropdown li a {
	display: block;
	text-decoration: none;
	color: #fff;
	font-size: 0.85em;
	border: none;
	padding: 8px 15px;
	transition: all 0.3s ease-out;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	border-radius: 0;
}
/* Hover state */
.wrapper-dropdown-5 .dropdown li:hover a {
	color: #FFF;
	background: #65cea7;
}
/* Active state */
.wrapper-dropdown-5.active i.dropdown-icon {
	background-position: -2px -2px;
}
.wrapper-dropdown-5.active .dropdown {
	max-height: 400px;
}
/**** icon dropdown ******/
.wrapper-dropdown-6, .wrapper-dropdown-7, .wrapper-dropdown-8, .wrapper-dropdown-9 {
	position: relative;
	margin: 0 auto;
	cursor: pointer;
	outline: none;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}
.wrapper-dropdown-6 i.dropdown-icon, .wrapper-dropdown-7 i.dropdown-icon, .wrapper-dropdown-8 i.dropdown-icon, .wrapper-dropdown-9 i.dropdown-icon {
	width: 15px;
	height: 12px;
	display: block;
	background: url(../images/up-down.png) no-repeat -3px -13px;
	float: left;
}
.wrapper-dropdown-6 .dropdown, .wrapper-dropdown-7 .dropdown, .wrapper-dropdown-8 .dropdown, .wrapper-dropdown-9 .dropdown {
	position: absolute;
	top: 20px;
	right: -16px;
	width: 245px;
	background: #333;
	color: #fff;
	list-style: none;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
	max-height: 0;
	overflow: hidden;
	z-index: 1;
}
.wrapper-dropdown-6 .dropdown li:first-child a, .wrapper-dropdown-7 .dropdown li:first-child a, .wrapper-dropdown-8 .dropdown li:first-child a, .wrapper-dropdown-9 .dropdown li:first-child a {
	border-top: none;
}
.wrapper-dropdown-6 .dropdown li a, .wrapper-dropdown-7 .dropdown li a, .wrapper-dropdown-8 .dropdown li a, .wrapper-dropdown-9 .dropdown li a {
	display: block;
	text-decoration: none;
	color: #fff;
	font-size: 0.85em;
	border: none;
	padding: 8px 15px;
	transition: all 0.3s ease-out;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	border-radius: 0;
}
/* Hover state */
.wrapper-dropdown-6 .dropdown li:hover a, .wrapper-dropdown-7 .dropdown li:hover a, .wrapper-dropdown-8 .dropdown li:hover a, .wrapper-dropdown-9 .dropdown li:hover a {
	color: #FFF;
	background: #65cea7;
}
/* Active state */
.wrapper-dropdown-6.active i.dropdown-icon, .wrapper-dropdown-7.active i.dropdown-icon, .wrapper-dropdown-8.active i.dropdown-icon, .wrapper-dropdown-9.active i.dropdown-icon {
	background-position: -2px -2px;
}
.wrapper-dropdown-6.active .dropdown, .wrapper-dropdown-7.active .dropdown, .wrapper-dropdown-8.active .dropdown, .wrapper-dropdown-9.active .dropdown {
	max-height: 400px;
}
section.accordation_menu {
	min-height: 800px;
}
.span_3 {
	padding: 0;
}
.col_1 {
	margin: 1em 0 0 0;
}
.one {
	width: 150px;
}
.profile_img1 {
	float: left;
	margin-right: 10px;
	width: 83%;
	margin-bottom: 2em;
}
.user-name1 {
	float: left;
}
.user-name1 p {
	font-size: 13px;
	color: #65cea7;
	line-height: 1em;
}
.tiles_info {
	color: #fff!important;
}
a.tiles_info:hover {
	text-decoration: none;
}
a.tiles_info, a.shortcut-tiles {
	background: 0 0;
}
.tiles-body {
	text-align: center;
}
.tiles_info, .shortcut-tiles {
	display: block;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
}
.red1 {
	background: #ef553a;
}
.tiles_info .tiles-head {
	letter-spacing: normal;
	padding: 10px 10px;
	font-weight: 500;
	box-shadow: inset 0 -50px 0 0 rgba(255,255,255,.1);
	border-top-right-radius: 3px;
	border-top-left-radius: 3px;
	text-transform: uppercase;
	text-align: center;
	font-size: 0.85em;
}
.red {
	background: #ef553a;
}
.tiles_info .tiles-body-alt, .info-tiles .tiles-body {
	padding: 15px;
	font-weight: 300;
}
.tiles_info .tiles-body {
	font-size: 32px;
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
	padding: 19px 15px;
}
.tiles_info .tiles-body-alt .text-center, .info-tiles .tiles-body .text-center {
	margin-top: -5px;
}
.tiles_info.tiles_blue1 .tiles-body {
	background: #9358ac;
}
.tiles_blue1 {
	background: #9358ac;
}
.blue1 {
	background: #9358ac;
}
.fb1 {
	background: #3b5998;
}
.fb2 {
	background: #3b5998;
}
.tw1 {
	background: #00aced;
}
.tw2 {
	background: #00aced;
}
.content_bottom {
	margin-bottom: 1em;
}
.grid-date {
	background: #78cd51;
	padding: 2.31em;
}
p.date-in {
	float: left;
	font-size: 1.2em;
	color: #fff;
}
span.date-on {
	float: right;
	font-size: 1.2em;
	color: #fff;
}
.grid-date h4 {
	color: #fff;
	font-size: 3.5em;
	text-align: center;
	padding: 48px 0 15px 0;
}
.grid-date h4 i {
	display: inline-block;
	vertical-align: middle;
}
p.monday {
	background: #fff;
	font-size: 1.1em;
	color: #000;
	padding: 1em;
	text-align: center;
}
h4.pull-left {
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	display: block;
}
.copy {
	background: #fff;
	text-align: center;
	padding: 1.5em 0;
}
.copy p, .copy_layout p {
	font-size: 0.85em;
	color: #444;
}
.copy p, .copy_layout.login p {
	font-size: 0.85em;
	color: #fff !important;
}
.copy p a, .copy_layout p a {
	color: #000;
}
/*-- circular progress --*/
.span_7 {
	padding-left: 0;
}
.span_8 {
	text-align: center;
	padding-left: 0;
}
.col_2 {
	background-color: #fff;
	padding: 1em;
	margin-bottom: 1em;
}
.grid-1, .grid-2, .grid-3, .grid-4 {
	display: inline-block;
}
.grid-1 {
	margin-bottom: 2em;
}
.grid-1, .grid-3 {
	margin-right: 10%;
	width: 27%;
}
.activity-row, .activity-row1 {
	text-align: left;
}
i.text-info {
	float: left;
	line-height: 60px;
	font-size: 1.2em;
}
i.icon_13 {
	color: #00aced;
}
.activity-img {
	text-align: center;
}
.activity-img img {
	display: inline-block;
}
.activity-desc h5 {
	color: #000;
	font-size: 1em;
	font-weight: 500;
	margin-bottom: 5px;
}
.activity-desc h5 a {
	color: #000;
}
.activity-desc p {
	color: #999;
	font-size: 0.85em;
	line-height: 1.5em;
}
.activity-desc h6 {
	color: #D8D8D8;
	font-size: 12px;
	margin: 10px 0 0 0;
}
.activity-row {
	margin-bottom: 2em;
}
.scrollbar {
	height: 392px;
	background: #fff;
	overflow-y: scroll;
	padding: 2em 1em;
}
.activity_box {
	background: #fff;
	min-height: 392px;
}
.icon_11 {
	color: #ef553a;
}
.icon_12 {
	color: #9358ac;
}
#style-2::-webkit-scrollbar-track {
 background-color:#f0f0f0;
}
 #style-2::-webkit-scrollbar {
 width:5px;
 background-color: #f5f5f5;
}
 #style-2::-webkit-scrollbar-thumb {
 background-color:rgb(6, 217, 149);
}
/*-- General stats --*/
.stats-info {
	background-color: #fff;
}
.panel .panel-heading {
	padding: 20px;
	overflow: hidden;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	border: 0!important;
	height: 55px;
	font-size: 14px;
	font-weight: 600;
}
.panel .panel-heading .panel-title {
	font-size: 14px;
	float: left;
	margin: 0;
	padding: 0;
	font-weight: 600;
}
.panel-heading {
	padding: 32px 15px 0px;
	border-top-left-radius: 0 !important;
	border-top-right-radius: 0 !important;
}
.stats-info ul {
	margin: 0;
}
.list-unstyled {
	padding-left: 0;
	list-style: none;
}
.stats-info ul li {
	border-bottom: 1px solid #eee;
	padding: 12px 0;
	font-size: 0.85em;
	color: #999;
}
.panel-title {
	font-size: 20px;
}
.stats-info ul li.last {
	border-bottom: 0;
	padding-bottom: 4px;
}
.text-success {
	color: #22BAA0;
}
.text-danger {
	color: #f25656;
}
/*-- col_3 --*/
.widget {
	padding: 0;
}
.col-md-3.widget.widget1 {
	width: 23.5%;
}
.r3_counter_box {
	min-height: 100px;
	background: #ffffff;
	padding: 15px;
}
.stats {
	overflow: hidden;
}
.r3_counter_box .fa {
	margin-right: 0px;
	width: 66px;
	height: 66px;
	text-align: center;
	line-height: 65px;
}
.stats span {
	color: #999;
	font-size: 15px;
}
.fa.pull-left {
	margin-right: 10% !important;
}
.icon-rounded {
	background-color: #9358ac;
	color: #ffffff;
	border-radius: 50px;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	-o-border-radius: 50px;
	-ms-border-radius: 50px;
	font-size: 25px;
}
.r3_counter_box.stats {
	padding-left: 85px;
}
.r3_counter_box h5 {
	margin: 10px 0 5px 0;
	color: #000;
	font-weight: 600;
	font-size: 20px;
}
i.user1 {
	background: #ef553a;
}
i.user2 {
	background: #3b5998;
}
i.dollar1 {
	background: #00aced;
}
.widget1 {
	margin-right: 1.5%;
}
.widget {
}
.world-map {
	width: 64%;
	float: left;
	background: #4597a8;
	position: relative;
	padding: 2em 2em 0 2em;
}
.world-map h3 {
	float: left;
	font-size: 1.9em;
	color: #fff;
	font-weight: 600;
	padding: 0em 0 0.5em 0;
}
.world-map p {
	float: right;
	font-size: 1.3em;
	color: #fff;
	font-weight: 300;
	padding: 0.5em 0 0.5em 0;
}
/*-- map --*/
#vmap {
	background-color: #fff !important;
}
.col_4, .col_5 {
	padding-left: 0;
}
.map_container, #chart, .span_6, .col_2, .weather_list, .cal1, .skills-info, .stats-info, .r3_counter_box, .activity_box, .bs-example1, .cloud, .copy {
	-ms-box-shadow: 0 1px 3px 0px rgba(0, 0, 0, 0.2);
	-o-box-shadow: 0 1px 3px 0px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 1px 3px 0px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 0 1px 3px 0px rgba(0, 0, 0, 0.2);
	box-shadow: 0 1px 3px 0px rgba(0, 0, 0, 0.2);
}
.span_11 {
	margin-bottom: 1em;
}
/*-- graphs --*/
.graphs {
	padding: 15px 1em;
	background: #f2f4f8;
	font-family: 'Roboto', sans-serif;
	min-height: 770px;
	/*margin-top: 40px;*/
}
canvas#doughnut, canvas#line, canvas#polarArea, #bar, #pie, #radar {
	background-color: rgb(255, 255, 255);
}
.graph_box {
	margin-bottom: 1em;
}
.grid_1 {
	background: #fff;
}
.grid_2 {
	padding: 0 7px;
}
.grid_1 h3 {
	text-align: center;
	font-size: 1.5em;
	color: #000;
	font-weight: 300;
	padding: 1em 0;
}
/* --  grids  -- */
.form-control1, .form-control_2.input-sm {
	border: 1px solid #e0e0e0;
	padding: 5px 8px;
	color: #616161;
	background: #fff;
	box-shadow: none !important;
	width: 100%;
	font-size: 0.85em;
	font-weight: 300;
	height: 40px;
	border-radius: 0;
	-webkit-appearance: none;
}
.control3 {
	margin: 0 0 1em 0;
}
.btn-warning {
	color: #fff;
	background-color: rgb(6, 217, 149);
	border-color: rgb(6, 217, 149);
	padding: 8.5px 12px;
}
.tag_01 {
	margin-right: 5px;
}
.tag_02 {
	margin-right: 3px;
}
.btn-warning:hover {
	background-color: rgb(3, 197, 135);
	border-color: rgb(3, 197, 135);
}
.btn-success:hover {
	border-color: #E74225 !important;
	background: #E74225 !important;
}
.control2 {
	height: 200px;
}
.alert-info {
	color: #31708f;
	background-color: rgb(240, 253, 249);
	border-color: rgb(201, 247, 232);
}
.bs-example4 {
	background: #fff;
	padding: 2em;
}
button.note-color-btn {
	width: 20px !important;
	height: 20px !important;
	border: none !important;
}
.form-control1:focus {
	border: 1px solid #03a9f4;
	background: #fff;
	box-shadow: none;
}
.show-grid [class^=col-] {
	background: #fff;
	text-align: center;
	margin-bottom: 10px;
	line-height: 2em;
	border: 10px solid #f0f0f0;
}
.show-grid [class*="col-"]:hover {
	background: #e0e0e0;
}
.grid_3 {
	margin-bottom: 2em;
}
.xs h3, .widget_head {
	color: #000;
	font-size: 1.7em;
	font-weight: 300;
	margin-bottom: 1em;
}
.grid_3 p {
	color: #999;
	font-size: 0.85em;
	margin-bottom: 1em;
	font-weight: 300;
}
/*-- Typography --*/
.grid_4 {
	background: #fff;
	padding: 2em 2em 1em 2em;
}
.label {
	font-weight: 300 !important;
	border-radius: 4px;
}
.grid_5 {
	background: #fff;
	padding: 2em;
}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
	border-top: none !important;
}
.tab-content > .active {
	display: block;
	visibility: visible;
}
.progress {
	height: 8px;
	box-shadow: none;
}
.progress {
	overflow: hidden;
	height: 20px;
	margin-bottom: 20px;
	background-color: #eeeeee;
	border-radius: 2px;
	-webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}
.progress-bar {
	float: left;
	width: 0%;
	height: 100%;
	font-size: 12px;
	line-height: 20px;
	color: #ffffff;
	text-align: center;
	background-color: #03a9f4;
	-webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
	box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
	-webkit-transition: width 0.6s ease;
	-o-transition: width 0.6s ease;
	transition: width 0.6s ease;
}
.progress-bar {
	box-shadow: none;
}
.progress-bar-primary {
	background-color: #03a9f4;
}
.progress-bar-info {
	background-color: #00bcd4;
}
.progress-bar-success {
	background-color: rgb(6, 217, 149);
}
.progress-bar-warning {
	background-color: #ffc107;
}
.progress-bar-danger {
	background-color: #e51c23;
}
.progress-bar-inverse {
	background-color: #757575;
}
.page_1 {
	padding: 0;
}
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
	background-color: rgb(6, 217, 149) !important;
	border-color: rgb(6, 217, 149) !important;
}
.breadcrumb li {
	font-size: 0.85em;
}
.breadcrumb li a {
	color: rgb(6, 217, 149);
}
.badge-primary {
	background-color: #03a9f4;
}
.badge-success {
	background-color: #8bc34a;
}
.badge-warning {
	background-color: #ffc107;
}
.badge-danger {
	background-color: #e51c23;
}
.tab-container .tab-content {
	border-radius: 0 2px 2px 2px;
	border: 1px solid #e0e0e0;
	padding: 16px;
	background-color: #ffffff;
}
.nav-tabs {
	margin-bottom: 1em;
}
.well {
	padding: 9px;
	font-size: 0.85em;
	color: #555;
	line-height: 1.8em;
}
.bs-example-modal {
	background-color: #fff !important;
	border-color: #fff !important;
}
.modal {
	overflow-y: auto !important;
}
.btn-primary {
	background-color: #0168ad !important;
	border-color: #0168ad !important;
	color: #fff;
    text-transform: capitalize;
    padding: 4px 17px;
}
.btn-primary:hover {
	background-color: rgb(55, 135, 189) !important;
	border-color: rgb(55, 135, 189) !important;
    text-transform: capitalize;
    padding: 4px 17px;
}
.top-heading-all button{
	/*margin-top: 10px;*/
}
.top-heading-all h2{
	margin-top: 5px;
}
/*#myModal .btn-primary:hover {
	background-color: #2f7ee1 !important;
	border-color: #2f7ee1 !important;
}*/
h2.modal-title {
	font-size: 1.3em;
	color: #fff;
	font-weight: 500;
}
.modal-content {
	-ms-box-shadow: 0 2px 12px rgba(0, 0, 0, 0.2);
	-o-box-shadow: 0 2px 12px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 2px 12px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 0 2px 12px rgba(0, 0, 0, 0.2);
	box-shadow: 0 2px 12px rgba(0, 0, 0, 0.2);
	border: 0px solid #e0e0e0;
}
.modal-body h2 {
	color: #555;
	font-size: 1.5em;
	font-weight: 300;
}
.modal-body p {
	color: #888;
	font-size: 0.85em;
	font-weight: 300;
	line-height: 1.8em;
}
.modal-body p img {
	/*margin: 1em 0;*/
}
.form-horizontal .control-label {
	text-align: right;
	color: #000;
	font-weight: 300;
	font-size: 0.85em;
}
.checkbox-inline1 {
	position: relative;
	display: block;
	margin-bottom: 0;
	font-weight: 400;
	vertical-align: middle;
	cursor: pointer;
}
.help-block {
	color: #999;
	font-size: 0.85em;
}
.radio label, .checkbox label, label {
	font-size: 0.85em;
	font-weight: 400;
	vertical-align: middle;
	color: #101010
}
.checkbox1 {
	font-size: 0.85em;
	font-weight: 300;
}
.div-heights {
	min-height: 90px;
}
.div-heights > input.form-control {
	margin-bottom: 0 !important
}
select[multiple] {
	padding: 7px 9px !important;
}
.has-success .form-control1 {
	background-color: #f1f8e9;
	border-color: #c5e1a5 !important;
}
.has-error .form-control1 {
	background-color: #fde0dc;
	border-color: #f69988 !important;
}
.input-icon.right > i, .input-icon.right .icon {
	right: 12px;
	float: right;
}
.input-icon > i, .input-icon .icon {
	position: absolute;
	display: block;
	margin: 10px 8px;
	line-height: 14px;
	color: #999;
}
.has-success .help-block, .has-success .control-label, .has-success .radio, .has-success .checkbox, .has-success .radio-inline, .has-success .checkbox-inline, .has-success.radio label, .has-success.checkbox label, .has-success.radio-inline label, .has-success.checkbox-inline label {
	color: #7cb342;
}
.has-error .help-block, .has-error .control-label, .has-error .radio, .has-error .checkbox, .has-error .radio-inline, .has-error .checkbox-inline, .has-error.radio label, .has-error.checkbox label, .has-error.radio-inline label, .has-error.checkbox-inline label {
	color: #dd191d;
}
/* -- validation --*/
.well1 {
	background: #fff;
	padding: 2em;
}
/*-- Basic_tables --*/
.bs-example1 {
	background: #fff;
	padding: 2em;
	margin-bottom: 15px;
}
.panel-body1 {
	background: #fff;
	padding: 2em;
	margin: 2em 0 0 0;
}
.panel-warning {
	margin-top: 2em;
}
.panel.panel-midnightblue {
	border-color: #263238;
}
.panel.panel-midnightblue .panel-heading {
	color: #eceff1;
	background-color: #37474f;
	border-color: #263238;
}
.panel.panel-warning {
	border-color: #fdd835;
}
.panel.panel-warning .panel-heading {
	color: #fffde7;
	background-color: #ffc107;
	border-color: #fdd835;
}
.panel .panel-heading .panel-ctrls {
	margin-right: -8px;
}
.panel .panel-heading .panel-ctrls {
	width: auto;
	float: right;
	padding: 0;
	margin: 0;
	line-height: 0;
}
.panel .panel-heading h2 {
	font-size: 14px;
	font-weight: 700;
	margin: 0;
	text-transform: uppercase;
}
/*-- inbox --*/
.mail-header {
	padding: 15px;
}
.mail-title {
	font-size: 20px;
	line-height: 32px;
	display: block;
	float: left;
	height: 34px;
	margin: 0 10px 0 0;
}
.btn-group, .btn-group-vertical {
	position: relative;
	display: inline-block;
	vertical-align: middle;
}
.float-right, .pull-right {
	float: right!important;
}
.pad0A {
	padding: 0!important;
}
.input-group {
	position: relative;
	display: table;
	width: 100%;
	border-collapse: separate;
	margin-bottom: 1em;
}
.has-success .input-group-addon {
	border-color: #A4E7A5 !important;
}
.has-feedback label~.form-control-feedback {
	top: 28px !important;
}
div[id^=uniform-] input {
	position: absolute;
	top: 0;
	left: 0;
	display: -moz-inline-box;
	display: inline-block;
	zoom: 1;
	opacity: 0;
	border: none;
	background: 0 0;
	filter: alpha(opacity=0);
	-moz-opacity: 0;
}
.email-list1 {
	padding: 0;
}
ul.collection {
	margin: 0;
	list-style: none;
	background: #fff;
	padding: 2em;
}
ul.collection li {
	margin-bottom: 2em;
}
ul.collection li.email_last {
	margin-bottom: 0;
}
#email-list .collection .collection-item.avatar {
	height: auto;
	position: relative;
}
#email-list .collection .collection-item.avatar .icon {
	position: absolute;
	width: 42px;
	height: 42px;
	overflow: hidden;
	left: 15px;
	display: inline-block;
	text-align: center;
	vertical-align: middle;
	top: 20px;
}
.email-unread .email-title {
	font-weight: 500;
}
.ultra-small {
	font-size: 0.8rem;
	margin: 0;
	padding: 0;
	color: #999;
}
span.badge {
	min-width: 3rem;
	padding: 2px 9px;
	text-align: center;
	font-size: 0.85;
	line-height: inherit;
	color: #fff;
	position: absolute;
	right: 38px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border-radius: 2px;
}
span.blue {
	background-color: #00aced;
}
span.red {
	background-color: #ef553a;
}
span.blue1 {
	background-color: #9358ac;
}
i.icon_1 {
	float: left;
	color: #00aced;
	line-height: 2em;
	margin-right: 1em;
}
i.icon_2 {
	float: left;
	color: #ef553a;
	line-height: 2em;
	margin-right: 1em;
	font-size: 20px;
}
i.icon_3 {
	float: left;
	color: #9358ac;
	line-height: 2em;
	margin-right: 1em;
	font-size: 20px;
}
.avatar_left {
	float: left;
}
i.icon_4 {
	width: 45px;
	height: 45px;
	background: #F44336;
	float: left;
	color: #fff;
	text-align: center;
	border-radius: 40px;
	font-size: 1.5em;
	line-height: 44px;
	font-style: normal;
	margin-right: 1em;
}
i.icon_5 {
	background-color: #3949ab;
}
i.icon_6 {
	background-color: #03a9f4;
}
.blue-text {
	color: #2196F3 !important;
	float: right;
}
.content-box-wrapper {
	background: #fff;
	padding: 2em;
	margin: 1em 0 0;
}
.status-badge {
	position: relative;
	display: inline-block;
}
.mrg10A {
	margin: 10px!important;
}
.small-badge {
	overflow: hidden;
	width: 12px;
	height: 12px;
	padding: 0;
	border: 2px solid #fff!important;
	border-radius: 20px;
	background-color: red;
}
.status-badge .small-badge {
	position: absolute;
	right: 1px;
	bottom: 1px;
}
.badge-danger {
	color: #fff;
	border-color: #e73629;
	background: #F44336;
}
.badge-success {
	color: #fff;
	border-color: #3fa243;
	background: #4CAF50;
}
.bg-green1 {
	color: #fff;
	border-color: #3fa243;
	background: #4CAF50;
}
h4.content-box-header {
	color: #000;
	font-size: 1.3em;
	font-weight: 300;
	margin-bottom: 1em;
	text-align: left;
}
.editor {
	background: #fff;
	padding: 1em 2em 2.5em 2em;
}
.mailbox-content {
	background: #fff;
	padding: 2em;
}
.widget-footer.clearfix {
	margin: 1em 0 0 0;
}
div.selector, div.selector span, div.checker span, div.radio span, div.uploader, div.uploader span.action, div.button, div.button span {
	background: #fff;
	background-repeat: no-repeat;
	-webkit-font-smoothing: antialiased;
	border: 1px solid #CDCDCD;
}
div.checker, div.checker span, div.checker input {
	width: 19px;
	height: 19px;
}
div.checker span {
	display: -moz-inline-box;
	display: inline-block;
	zoom: 1;
	text-align: center;
	background-position: 0 -260px;
}
div.checker input {
	opacity: 0;
	filter: alpha(opacity=0);
	-moz-opacity: 0;
	border: none;
	background: none;
	display: -moz-inline-box;
	display: inline-block;
	zoom: 1;
}
.m-r-sm {
	margin-right: 15px;
	font-weight: 400;
	font-size: 14px;
}
.icon-state-warning {
	color: rgb(6, 217, 149);
}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
	font-size: 0.85em;
	color: #110f0f;
}
.mailbox-content table tbody tr:hover {
	background: #FAFAFA;
}
.table td, .table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
	padding: 10px !important;
	vertical-align: middle;
}
.table > thead > tr > th {
	border-bottom: 1px solid #ddd !important;
	padding: 10px !important;
}
.badge-success, .bg-green, .bootstrap-switch-success, .btn-success {
	/*border-color: #ef553a;
	background: #ef553a;
	padding: 8.5px 12px;*/
}
.btn-success:hover, .btn-success:focus, .btn-success:active, .btn-success.active, .open .dropdown-toggle.btn-success {
	/*color: #fff;
	background-color: rgb(6, 217, 149);
	border-color: rgb(6, 217, 149);*/
}
.btn-toolbar {
	margin-left: 0 !important;
}
.note-editor {
	border: 1px solid #DCE1E4;
	border-radius: 0;
}
.note-editor .note-toolbar {
	border-bottom: 0;
	background: #fff;
	padding: 10px;
}
.note-editor .note-editable {
	padding: 10px 15px 15px;
	overflow: auto;
	outline: 0;
}
.note-editor .note-statusbar .note-resizebar {
	border: 0;
}
.note-editor .note-statusbar .note-resizebar {
	width: 100%;
	height: 8px;
	cursor: ns-resize;
	border-top: 1px solid #a9a9a9;
}
.col-md-8.inbox_right {
	padding-right: 0;
}
.editor1 {
	margin: 2em 0 0 0;
}
.mail-toolbar.clearfix {
	border-bottom: 1px solid #f0f0f0;
	padding: 2em 0;
}
.compose-message {
	overflow: hidden;
	padding: 0 0 10px;
}
.note-editor .note-statusbar {
	background: 0 0;
}
.note-editor .note-statusbar .note-resizebar {
	border: 0;
}
.note-editor .note-statusbar .note-resizebar {
	width: 100%;
	height: 8px;
	cursor: ns-resize;
}
.note-editor .note-statusbar .note-resizebar .note-icon-bar {
	width: 20px;
	margin: 1px auto;
	border-top: 1px solid #a9a9a9;
}
.note-editor {
	border: 1px solid #DCE1E4;
	border-radius: 0;
}
.note-editor .note-codable {
	display: none;
	width: 100%;
	padding: 10px;
	margin-bottom: 0;
	font-size: 14px;
	color: #ccc;
	background-color: #222;
	border: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	box-shadow: none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	resize: none;
}
i.icon_8 {
	font-size: 13px;
	color: #555;
}
.btn_1 {
	float: left;
}
a.btn.btn-default.mrg5R {
	float: left;
}
.float-left, .pull-left {
	float: left!important;
	/*width: 50%;*/
	cursor: pointer;
}
.mrg5R {
	margin-right: 5px!important;
}
.dropdown-menu > li > a {
	font-size: 13px;
}
.font-red, .has-error .help-block, .parsley-required, .text-danger {
	color: #F44336 !important;
}
i.icon_9 {
	margin-right: 10px;
}
.checkbox {
	position: relative;
	top: -3px;
	margin: 0 1rem 0 0;
	cursor: pointer;
}
.checkbox:before {
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	content: "";
	position: absolute;
	left: 0;
	z-index: 1;
	width: 19px;
	height: 19px;
	border: 1px solid #CDCDCD;
}
.checkbox:after {
	content: "";
	position: absolute;
	top: -0.125rem;
	left: 0;
	width: 1.1rem;
	height: 1.1rem;
	background: #fff;
	cursor: pointer;
}
.checkbox:checked:before {
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
 height: .5rem;
	border-color: #F44336;
	border-top-style: none;
	border-right-style: none;
}
blockquote {
	margin: 0 !important;
	border-left: 5px solid #eee;
}
.copy_layout {
	padding: 1.5em 0;
	background: #fff;
	text-align: center;
	margin: 4em 0 0em 0;
}
.login {
	background: none;
	padding: 0;
	margin: 05em 0 0 0;
}
.register {
	margin: 2em 0 0 0;
}
/* -- widgets --*/
.bg-info {
	background: #78cd51;
	padding: 3px 8px;
	color: #ffffff;
}
.tile-progress {
	padding: 30px;
	margin-bottom: 1em;
	;
}
.col-sm-3.widget_1_box {
	padding: 0 5px;
}
.col-md-4.widget_1_box1 {
	padding: 0 0px 0 5px;
}
.tile-progress h4 {
	color: #ffffff;
	margin: 0px;
	text-align: center;
	white-space: nowrap;
	font-weight: 300;
}
.tile-progress .progress {
	margin: 15px 0 10px 0;
	height: 7px;
	background: rgba(50, 50, 58, 0.5);
}
.progress {
	background: #f5f5f5;
	background-image: none;
	-webkit-box-shadow: inset 0 -1px 2px rgba(150, 150, 150, .1);
	-moz-box-shadow: inset 0 -1px 2px rgba(150, 150, 150, .1);
	box-shadow: inset 0 -1px 2px rgba(150, 150, 150, .1);
	border-radius: 0px;
	-o-border-radius: 0px;
	-ms-border-radius: 0px;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
}
.tile-progress span {
	color: #fff;
	display: block;
	text-align: center;
	margin: 0px;
	font-size: 14px;
	font-weight: 300;
}
.bg-success {
	background: #eae874;
	color: #ffffff;
}
.bg-danger {
	background: rgba(80, 204, 240, 1);
	color: #ffffff;
}
.bg-secondary {
	background: #fabb3d;
	color: #555555;
}
.tile-progress .progress .progress-bar {
	background: #ffffff;
}
.wid-social {
	display: inline-block;
	width: 100%;
	padding: 15px 15px 15px 15px;
	margin: 0px 0 1em 0;
}
.facebook {
	background-color: #3b5998 !important;
	color: #ffffff !important;
}
.icon-xlg {
	font-size: 70px;
}
.social-info h3 {
	display: inline-block;
}
.wid-social .social-info h3, .wid-social .social-info h4 {
	margin: 0px 0 15px 0;
	font-size: 15px;
}
span.percent {
	font-size: 13px;
	font-weight: 300;
}
h3.count.text-light {
	color: #fff;
	font-weight: 300;
	font-size: 40px;
}
.twitter {
	background-color: #00aced !important;
	color: #ffffff !important;
}
.google-plus {
	background-color: #313131 !important;
	color: #ffffff !important;
}
.dribbble {
	background-color: #ea4c89 !important;
	color: #ffffff !important;
}
.linkedin {
	background-color: #007bb5 !important;
	color: #ffffff !important;
}
.youtube {
	background-color: #e02f2f !important;
	color: #ffffff !important;
}
.skype {
	background-color: #00aaf1 !important;
	color: #ffffff !important;
}
.flickr {
	background-color: #ed1983 !important;
	color: #ffffff !important;
}
.coffee-top {
	position: relative;
	text-align: center;
}
.doe {
	position: absolute;
	top: 37%;
	text-align: center;
	width: 100%;
}
.doe h6 {
	color: #fff;
	font-size: 1em;
}
.doe p {
	color: #DC483A;
	font-size: 1em;
}
.coffee-top i {
	position: absolute;
	top: 84%;
	background: url(../images/1.png)no-repeat center;
	width: 80px;
	height: 80px;
	display: block;
	border-radius: 100px;
	left: 39%;
}
.follow {
	padding: 3em 1em 1em;
	background: #fff;
}
.two p {
	font-size: 0.875em;
	color: #2d2d2d;
}
.two span {
	font-size: 1.5em;
	color: #DC483A;
}
.online-top {
	background: #fff;
	padding: 12px;
	border-bottom: 1px solid #E1E1E1;
}
.panel-body2 {
	padding: 21px;
}
.widget_1_box2 {
	padding: 0 5px;
}
.top-at {
	float: left;
	width: 20%;
}
.top-on {
	float: right;
	width: 71%;
	margin-top: 7px;
}
.top-on1 {
	float: left;
}
label.round {
	background: #DC483A;
	width: 10px;
	height: 10px;
	display: block;
	float: right;
	border-radius: 100px;
	margin-top: 8%;
}
.online-top:hover {
	background: #f9f9f9;
}
.top-on1 span {
	font-size: 0.9em;
	color: #dc483a;
}
.top-on1 p {
	font-size: 1em;
	color: #000;
	font-weight: 500;
}
.stats-info1 {
	box-shadow: none;
}
.online-top1 {
	border-bottom: none;
}
.widget_5 {
	margin: 1em 0 0 0;
}
.wid_blog {
	background: rgb(6, 217, 149);
	padding: 3em 2em;
}
.wid_blog h1 {
	color: #fff;
	font-size: 1.5em;
	line-height: 1.5em;
	font-weight: 300;
	margin-bottom: 0;
}
.wid_blog-desc {
	background: #fff;
	padding: 2.6em 2em;
}
.wid_blog-left {
	float: left;
	width: 20%;
	margin-right: 5%;
}
.wid_blog-right {
	float: left;
	width: 75%;
}
.wid_blog-right h2 {
	color: #000;
	font-size: 1.3em;
	font-weight: 300;
}
.wid_blog-right p {
	color: #999;
	font-size: 0.85em;
	font-weight: 300;
	line-height: 1.5em;
}
.list-inline {
	margin: 1em 0 0 0;
}
.text-muted {
	color: #999999;
}
.text-orange {
	color: #DC483A;
}
.link1 {
	padding: 5px 8px;
	color: #000;
}
.editor-input.ng-scope p {
	color: #999;
	font-size: 0.85em;
	line-height: 1.8em;
}
.list-inline>li a {
	font-size: 0.85em;
}
/*-- media --*/
.bs-example5 {
	background: #fff;
	padding: 2em;
}
.media-heading {
	color: #000;
}
.sidebard-panel .feed-element, .media-body, .sidebard-panel p {
	font-size: 0.85em;
	color: #999;
}
.example_6 {
	margin: 1em 0 0 0;
}
.demolayout {
	background: rgb(6, 217, 149);
	width: 60px;
	overflow: hidden;
}
.padding-5 {
	padding: 5px;
}
.demobox {
	background: #f0f0f0;
	color: #333;
	font-size: 13px;
	text-align: center;
	line-height: 30px;
	display: block;
}
.padding-l-5 {
	padding-left: 5px;
}
.padding-r-5 {
	padding-right: 5px;
}
.padding-t-5 {
	padding-top: 5px;
}
.padding-b-5 {
	padding-bottom: 5px;
}
code {
	background: rgb(246, 255, 252);
	padding: 2px 2px;
	color: #000;
	border: 1px solid rgb(198, 255, 236);
}
.media_1-left {
	padding-left: 0;
	background-color: #fff;
}
.media_1-right {
	padding-right: 0;
}
.media_1 {
	margin: 1em 0 0 0;
}
.media_box {
	margin-bottom: 2em;
}
.media_box1 {
	margin-top: 2em;
}
.media {
	margin-top: 40px !important;
}
.media:first-child {
	margin-top: 0 !important;
}
.panel_2 {
	padding: 2em 2em 0;
	background: #fff;
}
.panel_3 {
	padding-bottom: 1px;
}
.panel_2 h3 {
	color: #000;
	font-size: 1.1em;
}
.panel_2 p {
	color: #555;
	font-size: 0.85em;
	margin-bottom: 1em;
}
td.head {
	color: #000 !important;
	font-size: 1.2em !important;
}
/*-- login --*/
.login-logo {
	margin-top:65px;
	text-align: center;
	color: #fff;
	font-size: 18px;
	text-transform: uppercase;
	display: inline-block;
	width: 100%;
	padding: 50px 0 0px;
    text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.52);
    height: 147px;
}
.login-logo h3{
	font-size: 30px;
}
h2.form-heading {
	margin: 0 0 13px 0;
	text-align: center;
	color: #fff;
	font-size: 18px;
	text-transform: uppercase;
	display: inline-block;
	width: 100%;
}
body#login {
	background-image: url(../images/IMG_2816-ridimensionata2.JPG);
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	-ms-background-size: cover;
	/*min-height:850px;*/
	background-repeat: no-repeat;
	background-color: rgba(255,255,255,0.5)
}
.app-cam {
	width: 35%;
	margin: 3em auto auto auto;
	/*background: #fff;*/
	padding: 0
}
.app-cam-signup input[type="text"], .app-cam-signup input[type="email"] {
	width: 100%;
	padding: 9px 12px;
	color: #fff;
	font-size: 16px;
	outline: none;
	font-weight: 300;
	border: none;
	background: #222224;
	margin: 0 0 1em 0;
	border-radius: 30px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	-o-border-radius: 30px;
	/*min-height: 45px;*/
}
.app-cam-signup input[type="password"] {
	width: 100%;
	padding: 9px 12px;
	color: #fff;
	font-size: 16px;
	outline: none;
	font-weight: 300;
	border: none;
	background: #222224;
	margin: 0 0 1em 0;
	border-radius: 30px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	-o-border-radius: 30px;
}
.app-cam-signup input[type="submit"], .btn-success1 {
	font-size: 14px;
	font-weight: 300 !important;
	color: #fff;
	cursor: pointer;
	outline: none;
	padding: 10px 15px;
	width: 100%;
	border: none;
	background: #0168ad;
	border-radius: 30px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	-o-border-radius: 30px;
	text-transform: uppercase;
	opacity: 1;
  /*min-height: 47px;*/
}
.app-cam-signup input[type="submit"]:hover, .btn-success1:hover {
	background: rgb(8, 107, 199);
	color: #fff !important;
}
.login-social-link {
	display: inline-block;
	margin-top: 20px;
	margin-bottom: 15px;
	width: 100%;
}
.login-social-link a {
	color: #fff;
	padding: 13px 38px;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-o-border-radius: 2px;
	width: 46.5%;
	text-align: center;
}
.login-social-link a.facebook {
	background: #3b5999;
	margin-right: 22px;
	float: left;
}
.login-social-link a:hover.facebook {
	background: #2B4886 !important;
	text-decoration: none;
}
.login-social-link a.twitter {
	background: #63c6ff;
	float: left;
}
.login-social-link a:hover.twitter {
	background: #46ACE7 !important;
	text-decoration: none;
}
ul.new {
	margin: 2em 0 0 0;
	list-style: none;
	padding: 0;
}
ul.new li.new_left {
	float: left;
}
ul.new li.new_left p, p.sign {
	font-weight: 300;
}
p.sign a, ul.new li.new_left p > a {
	color: #fff;
	font-weight: 400;
	margin-left: 7px;
}
ul.new li.new_right {
	float: right;
}
.app-cam p {
	color: #000;
	font-size: 14px;
	margin: 1em 0;
}
.form-signin a, .registration, .login-body label {
	margin: 1em 0 0 0;
	font-weight: 300;
	font-size: 0.85em;
	text-align: center;
}
.radios input[type="radio"] {
	margin: 4px 0 0 0;
	vertical-align: top;
	cursor: pointer;
	color: #fff;
}
.radios label:first-child {
	margin-left: 0;
}
.radios label {
	margin-left: 15px;
}
 /*-- responsive design --*/
@media (max-width:1366px) {
.col-xs-8.activity-desc {
	width: 64.666667%;
	padding: 0;
}
.activity-desc h5 {
	font-size: 0.85em;
}
.svg {
	width: 600px !important;
	height: 400px;
}
canvas#doughnut, canvas#line, canvas#polarArea, #bar, #pie, #radar {
	width: 342px !important;
	height: 260px !important;
}
.avatar_left {
	width: 65%;
}
.float-left, .pull-left {
	/*width: 47%;*/
}
.login-social-link a.facebook {
	margin-right: 20px;
}
}
@media (max-width:1280px) {
.col-xs-8.activity-desc {
	width: 63.666667%;
}
.activity-desc p {
	font-size: 12px;
}
.activity-desc h6 {
	font-size: 11px;
}
i.text-info {
	line-height: 39px;
	font-size: 1em;
}
.float-left, .pull-left {
	/*width: 42%;*/
}
.login-social-link a {
	padding: 13px 25px;
	width: 45.5%;
}
}
@media (max-width:1024px) {
.r3_counter_box .fa {
	width: 50px;
	height: 50px;
	line-height: 50px;
}
.r3_counter_box {
	padding: 10px;
	min-height: 70px;
}
.r3_counter_box h5 {
	font-size: 15px;
}
.stats span {
	font-size: 13px;
}
.activity-img {
	padding: 0 10px;
}
.col-xs-8.activity-desc {
	width: 58.666667%;
}
.scrollbar {
	padding: 10px;
}
.col-xs-1 {
	padding: 0;
}
.activity-row {
	margin-bottom: 1em;
}
.activity_box {
	min-height: 281px;
}
.scrollbar {
	height: 278px;
}
.panel-body {
	padding: 10px;
}
.panel-title {
	font-size: 15px;
}
.panel-heading {
	padding: 20px 0px 0px;
}
.stats-info ul li {
	padding: 7.4px 0;
	font-size: 12px;
}
div#vmap {
	height: 300px !important;
}
.bs-example1 {
	padding: 10px;
}
.table td, .table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
	padding: 10px !important;
}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
	font-size: 12px;
}
.col_2 {
	padding: 5px;
}
.tiles_info .tiles-head {
	padding: 5px 5px;
	font-size: 11px;
}
.tiles_info .tiles-body {
	font-size: 22px;
	padding: 15px 15px;
}
.grid-date {
	padding: 10px;
}
p.date-in, span.date-on {
	font-size: 1em;
}
.grid-date h4 {
	font-size: 3.5em;
	padding: 44px 0 15px 0;
}
canvas#doughnut, canvas#line, canvas#polarArea, #bar, #pie, #radar {
	width: 222px !important;
	height: 160px !important;
}
#page-wrapper {
	background: #f2f4f8;
}
.activity-desc h5 {
	font-size: 13px;
}
ul.collection, .mailbox-content {
	padding: 10px;
}
.float-left, .pull-left {
	/*width: 35%;*/
}
.m-r-sm {
	margin-right: 0px;
}
.mrg10A {
	margin: 1px!important;
}
.tile-progress {
	padding: 15px;
}
i.fa.fa-facebook, i.fa.fa-twitter, i.fa.fa-google-plus, i.fa.fa-dribbble, i.fa.fa-linkedin, i.fa.fa-youtube, i.fa.fa-skype, i.fa.fa-flickr {
	font-size: 30px;
}
h3.count.text-light {
	font-size: 30px;
}
.coffee-top i {
	top: 70%;
	background: url(../images/1.png)no-repeat center;
	left: 31%;
	background-size: 70%;
}
.follow {
	padding: 3em 0px 2em;
}
.two p {
	font-size: 12px;
}
.two span {
	font-size: 1.3em;
}
.top-on1 p {
	font-size: 0.85em;
}
.wid_blog h1 {
	font-size: 1.3em;
}
.wid_blog {
	padding: 2em;
}
.editor {
	padding: 1em 1em 1.5em 1em;
}
.link1 {
	padding: 5px 5px;
}
.wid_blog-desc {
	padding: 2.4em 1em;
}
.panel_2 {
	padding: 2em 1em 0;
}
.online-top {
	padding: 11px;
}
.app-cam {
	/*width: 27%;*/
	width: 35%;
	/*
	padding: 25px;
	background: #fff;*/
}
.navbar-right {
	margin-right: -10px;
}
.content-box-wrapper {
	padding: 1em;
}
i.icon_4 {
	margin-right: 10px;
}
span.badge {
	right: 10px;
}
}
@media (max-width:768px) {
.navbar-right {
	margin-right: 3px !important;
}
.col-md-3.widget {
	width: 100%;
	float: none;
}
.span_7, .span_8, .col_4 {
	padding: 0;
}
.span_8, .stats-info, .col_4 {
	margin-bottom: 1em;
}
.span_4 {
	padding: 0;
	margin: 1em 0;
}
.col_1_of_2.span_1_of_2 {
	width: 50%;
	float: left;
}
.graph_box {
	text-align: center;
}
.grid_2 {
	padding: 0;
	margin-bottom: 1em;
}
.graph_box1 {
	text-align: center;
}
.col-md-8.inbox_right {
	padding: 0;
	margin-top: 1em;
}
.col-md-4.widget_1_box1 {
	margin-bottom: 1em;
}
.follow {
	padding: 1em;
}
.coffee-top {
	text-align: center;
}
.coffee-top img {
	display: inline-block;
}
.stats-info3 {
	padding: 0;
	margin-bottom: 1em;
}
.widget_1_box2 {
	padding: 0;
	margin-top: 1em;
}
.wid_blog-desc {
	padding: 1em;
}
.copy_layout {
	margin: 1em 0 0em 0;
}
.login-social-link a.facebook {
	margin-right: 10px;
}
.app-cam {
	width: 55%;
}
.login-social-link a {
	padding: 10px 15px;
	width: 47.5%;
}
ul.new li.new_left, ul.new li.new_right {
	float: none;
}
.coffee-top i {
	top: 88%;
	background: url(../images/1.png)no-repeat center;
	left: 44%;
	background-size: 70%;
}
.logo-element {
	padding: 17px 0;
}
.col-md-3.widget.widget1 {
	width: 100%;
}
.grid_box1 {
	margin-bottom: 5px;
}
.grid_4, .grid_5 {
	padding: 20px 10px;
}
.modal-dialog {
	width: 400px !important;
}
.bs-example4, .bs-example5 {
	padding: 1em;
}
ul.new {
	margin: 1em 0 0 0;
	text-align: center;
}
}
@media (max-width:736px) {
.navbar-right~.navbar-right {
	display: block;
}
.navbar-right {
	display: none;
}
p.monday {
	font-size: 1em;
}
.grid-date h4 {
	font-size: 2.5em;
	padding: 20px 0 0px 0;
}
.copy {
	padding: 1em 0;
}
ul.new {
	text-align: center;
}
.grid_box1 {
	margin-bottom: 5px;
}
.navbar-default .navbar-toggle {
	border-color: #000;
	background-color: #000 !important;
}
.navbar-default .navbar-toggle .icon-bar {
	background-color: #fff;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
	border-color: rgb(6, 217, 149);
}
form.navbar-form.navbar-right {
	margin: 0;
}
.sidebar-nav.navbar-collapse {
	margin: 0;
}
.media_1-right {
	padding: 0;
}
}
@media (max-width:480px) {
.pagination {
	margin: 6px 0;
}
span.label.label-default {
	line-height: 2em;
}
button.btn.btn-lg, button.btn {
	margin-bottom: 10px;
}
.modal-footer button {
    margin-bottom: 0px !important;
}
.modal-dialog {
	width: 370px !important;
    margin: 25px auto;
}
.coffee-top i {
	top: 82%;
	left: 39%;
}
.well1 {
	padding: 1em;
}
.panel-body1 {
	margin: 1em 0 0 0;
}
.panel-warning {
	margin-top: 1em;
}
.app-cam input[type="text"], .app-cam input[type="password"] {
	padding: 10px;
}
.login-logo {
	padding: 40px 0;
}
/*.float-left, .pull-left {
	width: 50%;
}*/
.mail-toolbar.clearfix {
	padding: 1em 0;
}
.copy_layout {
	padding: 10px;
}
button.btn.btn-success {
	/*padding: 9px 12px;*/
}
.xs h3, .widget_head {
	font-size: 1.5em;
	margin-bottom: 15px;
}
.follow {
	padding: 1em 0;
}
.widget_1_box2 {
	margin-top: 0;
}
.wid_blog h1 {
	font-size: 1em;
}
.wid_blog {
	padding: 1em;
}
.widget_5 {
	margin: 0;
}
.table td, .table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
	padding: 5px !important;
}
td.head {
	font-size: 1em !important;
}
}
@media (max-width:320px) {
.graphs {
	padding: 20px 10px;
}
.login-logo {
	padding: 20px 0;
}
.login-logo img {
	width: 40%;
}
h2.form-heading {
	font-size: 16px;
}
.login-social-link a {
	padding: 8px 15px;
}
.pagination-lg>li>a, .pagination-lg>li>span {
	padding: 6px 13px;
	font-size: 16px;
}
.modal-dialog {
	width: 280px !important;
}
.grid_3 {
	margin-bottom: 1em;
}
ul.collection li {
	margin-bottom: 1em;
}
.m-r-sm {
	font-size: 13px;
}
a.btn.btn-default.dropdown-toggle {
	padding: 3px 6px;
	font-size: 13px;
}
a.btn.btn-default {
	/*padding: 3px 9px;*/
}
.btn.btn_1.btn-default.mrg5R {
	padding: 3px 10px;
}
/*a#home-tab {
  padding: 7px 5px;
}*/
.btn-warng1 {
	padding: 5px;
}
.coffee-top i {
	top: 73%;
	left: 37%;
}
body#login {
	min-height: 500px;
}
h1#h1 {
	font-size: 17px !important;
}
h2#h2 {
	font-size: 16px !important;
}
h3#h3 {
	font-size: 15px !important;
}
h4#h4 {
	font-size: 14px !important;
}
button.btn.btn_5 {
	font-size: 13px;
	padding: 8px 10px;
}
button.btn.btn-lg, button.btn {
	margin-bottom: 0;
}
span.btn_6 {
	font-size: 55%;
}
span.btn_7 {
	font-size: 64%;
}
}
.padding_left_none {
	padding: 0;
}
.padding_right_none {
	padding-right: 0
}
div#example_wrapper {
	margin-top: 17px;
}
/*05-05-2017*/
.color_bio {
	color: #2f7ee1 !important;
	text-shadow: 1px 1px 1px #273b66;
	font-weight: 600;
	letter-spacing: 1px;
	font-size: 16px;
	vertical-align: middle;
}
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
}
.search-form input.search-field {
	display: inline-block;
	border: #032356 solid 1px;
	background-color: #032356 !important;
	width: 152px;
	padding: 10px 26px;
	border-radius: 4px 0 0 4px;
	font-size: 14px;
	color: #edeaea;
	height: 40px;
	float: left;
	font-weight: normal;
}
input[type=search] {
	-webkit-appearance: none;
}
.search-form input.search-submit {
	background-image: url(../images/search.png);
	background-repeat: no-repeat;
	background-position: right 10px center !important;
	background-size: 19px;
	float: right;
	border-radius: 0px 4px 4px 0px;
	height: 40px;
	width: 65px;
	color: transparent;
	background-position: center !important;
	background-color: #032356 !important;
	box-shadow: none !important;
	border: none;
}
.table-top-header, .table-top-content {
	border-bottom: 1px solid #c9d3d6;
	border-left: 1px solid #c9d3d6;
	border-right: 1px solid #c9d3d6;
	margin-bottom: 0 !important;
	margin: 0px !important;
	border-radius: 0px !important;
	background-color: #fff;
	border-top: transparent;
}
.no-pad {
	padding: 0px;
}
.common-title h4 {
	background-color: #032356;
	border-color: none;
	margin: 0px;
	padding: 15px 10px;
	color: #f8f8f8;
	border-radius: 4px 4px 0px 0px;
	text-transform: capitalize;
	border: 2px solid #032356;
	font-size: 13px !important;
}
.table-top-header .common-title h4 {
	border-radius: 0px;
}
form.search-form {
	margin: 15px 0;
}
.common-title p {
	padding: 5px 10px;
	line-height: 2;
	margin-bottom: 0px;
	font-size: 12px;
	text-transform: capitalize;
}
.common-title > p > a {
	color: #333;
}
.search-field::-webkit-input-placeholder { /* Chrome/Opera/Safari */
 color: #fff !important;
}
.search-field::-moz-placeholder { /* Firefox 19+ */
 color: #fff !important;
}
.search-field:-ms-input-placeholder { /* IE 10+ */
 color: #fff !important;
}
.search-field:-moz-placeholder { /* Firefox 18- */
 color: #fff !important;
}
.place_text:-moz-placeholder { /* Firefox 18- */
 color: #999 !important;
}
.place_text::-webkit-input-placeholder { /* Chrome/Opera/Safari */
 color: #999 !important;
}
.place_text::-moz-placeholder { /* Firefox 19+ */
 color: #999 !important;
}
.place_text:-ms-input-placeholder { /* IE 10+ */
 color: #999 !important;
}
.table_manage {
/*padding: 15px;
  background: #ece8e8;*/
}
.dataTables_wrapper .dataTables_filter input {
	margin-left: 0.5em;
	border: 1px solid #ccc;
	border-radius: 4px;
	min-height: 32px;
}
.dataTables_length > label > select {
	border: 1px solid #ccc;
	min-height: 30px;
	border-radius: 4px;
	height: 30px;
}
.custom-model span.caret {
	float: right;
	margin-top: 10px;
}
.close {
	float: right;
	font-size: 21px;
	font-weight: 700;
	line-height: 1;
	color: #fff !important;
	text-shadow: 0 1px 0 #fff;
	filter: alpha(opacity=90) !important;
	opacity: .9 !important;
}
table.dataTable.nowrap th {
	background: #2f7ee1;
	color: #fff
}
.dataTables_wrapper .dataTables_paginate .paginate_button {
	padding: 6px !important;
	color: #443933;
}
table.dataTable.no-footer {
	padding: 6px !important;
	color: #443933;/*float: left;*/
}
.paginate_button.current {
	background: #0168ad;
	color: #fff !important;
}
td > a {
	color: #444
}
table.dataTable.no-footer {
	border-bottom: 1px solid #2f7ee1 !important;
	    margin-bottom: 10px;
}
table.dataTable thead th, table.dataTable thead td {
	border-bottom: 1px solid #aaabab !important;
    background: #f9f9f9 none repeat scroll 0 0;
    color: #333;
}
input:focus, select:focus, a:focus, button:focus {
	outline: none !important;
}
span.badge {
	display: none;
}
.user_list_detail > .col-sm-4 {
	padding-left: 0;
}
.user_list_detail {
	/*border: 1px solid #ccc;*/
    /*padding: 15px 15px 5px;*/
	background: #fff;
}
.user_list_detail > .col-sm-4 > p {
	font-weight: 500;
	line-height: 20px;
	font-size: 14px;
}
.user_list_detail > .col-sm-8 {
	padding-right: 0;
}
.user_list_detail > h3 {
	margin-bottom: 16px;
}
.user_list_detail > .col-sm-8 > p {
	line-height: 20px;
	font-size: 14px;
	margin-bottom: 10px;
	/*padding: 2px 10px;
    border-radius: 2px;
    background: #f5f7f8 none repeat scroll 0 0;*/
	color: rgba(0, 0, 0, 0.8);/*border: 1px solid #bdc3c7;*/
}
a.btn.btn-primary.btn-lg {
	background: transparent !important;
	color: #444;
	border: 0;
	padding: 0;
	font-size: 18px
}
.login_btn {
	width: 100%;
	padding: 10px 20px;
  min-height: 42px;
}
.login_btn:hover, .login_btn:focus {
	color: #fff !important
}
/*form-css*/
.form_css {
	background-color: #fff !important
}
.no-pad {
	padding: 0px !important;
}
.pad_left {
	padding-left: 0px !important;
}
.pad_right {
	padding-right: 0px !important;
}
.red_color {
	color: #AA0000;
}
.font-bold {
	font-weight: 700;
}
.border_right {
	border-right: 2px solid #000000;
}
.pad_left2 {
	padding-left: 7px;
}
.no-pad2 {
	padding-right: 0;
}
.margin-top25 {
	margin-top: 25px
}
.check_box {
	margin-bottom: 0px !important;
	margin-top: 10px;
}
.second_check {
	margin-right: 15px;
}
.no_margin {
	margin-top: 15px;
}
/*Checkbox Css*/
input[type=checkbox]:not(old), input[type=radio ]:not(old) {
	width : 20px;
	margin : 0;
	padding : 0;
	vertical-align: middle;
	/*opacity : 0;*/
}
/*input[type=checkbox]:not(old) + label,
input[type=radio   ]:not(old) + label{
  display      : inline-block;
  margin-left  : -28px;
  padding-left : 28px;
  background   : url('../img/checks.png') no-repeat 0 0;
  line-height  : 24px;
}
*/
input[type=checkbox]:not(old):checked + label {
	background-position : 0 -22px;
}
input[type=radio]:not(old):checked + label {
	background-position : 0 -50px;
}
.red_location {
	color: #AA0000;
	border: 2px solid #AA0000;
	font-size: 16px;
	text-align: center !important;
}
/**/
.barcode {
	border: 2px solid #2a7de2;
	border-radius: 20px;
	min-height: 90px;
	text-align: center;
	display: table;
	width: 100%;
}
.logo_area {
	min-height: 90px;
}
img.logo_form {
	margin-top: 35px;
}
.barcode > p {
	display: table-cell;
	vertical-align: middle;
	margin: 0;
	color: #999;
	font-size: 24px;
}
ul.list-inline.np_field > li {
	width: 8%;
	margin: 0;
	padding-right: 0;
	padding-left: 0px;
}
ul.list-inline.np_field > li:first-child {
	padding-left: 0px;
}
ul.list-inline.np_field {
	width: 100%;
	text-align: right;
}
.custome_input {
	border: 2px solid #2a7de2 !important ;
	border-radius: 0 !important ;
	text-align: center;
	height: 45px !important;
	width: 45px !important;
	margin: 0 auto !important;
	background: transparent !important;
}
.custome_input-2 {
	border: 2px solid #2a7de2 !important;
    border-radius: 0 !important;
    text-align: center;
    height: 35px !important;
    width: 35px !important;
    margin: 0 auto !important;
    padding: 6px 10px !important;
    background: transparent !important;
}
.title_bg {
	background-color: #d3eff6;
	border-radius: 20px;
	margin-bottom: 10px;
}
.title_bg >h3 {
	margin: 0;
	padding: 10px 0;
	font-weight: 600;
}
.custome_label {
	/*border-bottom: 1px solid #000;*/
	padding: 6px 0 6px;
	text-align: left !important;
	font-weight: 500 !important
}
.input_border {
	border-bottom: transparent;
	border-left: 0;
	border-right: 0;
	border-top: 0;
	border-radius: 0;
	box-shadow: none;
	background: transparent !important;
	margin: 0 !important
}
input:focus , select:focus , textarea:focus{
	box-shadow: none !important;
}
ul.list-inline.date_field > li {
	padding: 0;
}
ul.list-inline.date_field {
	text-align: right !important;
	/*border-bottom: 1px solid #000;*/
	margin-bottom: 0;
	padding-bottom: 20px;
	padding-top: 10px;
	margin-top: 0
}
.custome_label > p {
	font-weight: 300;
	font-size: 12px;
	margin-top: 7px;
	margin-bottom: 8px;
}
.border-none {
	border: none !important;
}
li.divider {
	margin-left: 3px;
}
.custom-textarea-div {
	border: 2px solid #2a7de2;
	border-radius: 0;
	height: 100px
}
.pregnancy-checkbox input {
	display: inline-block;
	float: right;
	margin-right: 10px;
}
.pregnancy-checkbox {
	list-style: none;
}
.form-common-border {
	border-bottom: 1px solid #000;
}
.mrg-5-r {
	margin-right: 5px !important;
}
.mrg-5-l {
	margin-left: 5px !important;
}
.regular-checkbox + label {
	background-color: #ffffff;
	border: 2px solid #2a7de2;
	/* box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05); */
	padding: 9px;
	border-radius: 0px;
	display: inline-block;
	position: relative;
}
.regular-checkbox {
	display: none;
}
.big-checkbox + label {
	width: 35px;
	height: 35px;
	vertical-align: middle;
}
.regular-checkbox:checked + label:after {
	content: '\2714';
	font-size: 14px;
	position: absolute;
	top: 0px;
	left: 3px;
	color: #2a7de2;
}
.big-checkbox:checked + label:after {
	font-size: 22px;
	left: 6px;
}
.big-checkbox-small:checked + label:after {
	font-size: 14px;
	left: 6px;
}
.big-checkbox-small + label {
	width: 25px;
	height: 25px;
	vertical-align: middle;
}
.single_label {
	vertical-align: middle;
	margin-left: 10px;
	font-weight: 400 !important;
}
.custom-span {
	color: #2a7de2;
}
.footer-text p {
	color: #2a7de2;
	font-size: 12px;
	margin-bottom: 0px;
	font-weight: bold;
}
.footer-text {
	margin-top: 30px;
}
/*second form*/
.test-div-mrg {
	margin-top: 40px;
}
.custom-hr {
	margin-top: 0px;
	border-bottom: 1px solid #000;
}
.blue {
	color: #2a7de2
}
.gestational-div ul li {
	margin-bottom: 15px
}
/*Second form end*/
.min_hight {
	min-height: 105px;
	padding: 9px 0;
}
.min_hight2 {
	min-height: 85px;
	padding: 2px 0;
}
ul.list-inline.date_field.border-none.text-left {
	float: left;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
 color: #fff !important;
}
::-moz-placeholder { /* Firefox 19+ */
 color: #fff !important;
}
:-ms-input-placeholder { /* IE 10+ */
 color: #fff !important;
}
:-moz-placeholder { /* Firefox 18- */
 color: #fff !important;
}
ul.no-pad.list-inline {
	margin-top: 0;
}
.bold {
	font-weight: 500 !important;
	font-size: 14px !important;
	margin: 0px !important;
}
.year_input {
	width: 120px !important;
}
.date_with {
	width: 60px !important;
}
/*signup*/
.app-cam-signup {
	width: 50%;
	margin: 3em auto auto auto;
	/*background: #fff;*/
	padding: 0;
}
.app-cam-signup .nav.nav-tabs {
	text-align: center;
	width: 100%;
	border: 0
}
.app-cam-signup .nav.nav-tabs > li {
	width: 100%;
}
.app-cam-signup .nav.nav-tabs > li.active > a, .app-cam-signup .nav.nav-tabs > li.active > a:focus, .app-cam-signup .nav.nav-tabs > li.active > a:hover {
	 /* background: #0168ad !important; */
    border: 0;
    /* border-radius: 30px; */
    font-size: 24px;
    color: #fff;
    padding: 0;
}
.app-cam-signup .nav.nav-tabs > li > a, .app-cam-signup .nav.nav-tabs > li > a:focus, .app-cam-signup .nav.nav-tabs > li > a:hover {
	background: transparent !important;
	border: 0;
	border-radius: 0;
	color: #fff
}
.form-horizontal .form-group input.form-control, select.form-control.place_text {
	width: 100%;
	padding: 15px;
	color: #333;
	font-size: 0.85em;
	outline: none;
	font-weight: 300;
	border: none;
	background: #fff;
	margin: 0 0 1em 0;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-o-border-radius: 2px;
	min-height: 45px;
	height: 45px;
}
.no-margin {
	margin-bottom: 0;
}
a:hover, a:focus {
	text-decoration: none;
}
p.sign a:hover, ul.new li.new_left p a:hover {
	color: #004280 !important
}
button:focus, button:hover {
	outline: none !important;
}
.app-cam input[type="text"], .app-cam input[type="email"] {
  	width: 100%;
  	height: 40px;
  	border: 0;
  	padding-left: 0 !important;
  	border-radius: 30px;
	margin-top: 1px;
}
.app-cam input[type="password"] {
	width: 100%;
	height: 40px;
	border: 0;
	padding-left: 0 !important;
	border-radius: 30px;
}
.Err {
	color: red;
	font-size: 12px;
	margin-bottom: 0px;
	text-align: left;
}
.btn-group > .btn.btn-default.btn {
	border: 0 none;
	margin: 0 10px;
	padding: 0;
}
.btn-group > .btn.btn-default.btn:hover, .btn-group > .btn.btn-default.btn:focus {
	border: 0 none;
	margin: 0 10px;
	padding: 0;
	background: transparent !important
}
.custom-m-headr {
	background-color: #0168ad;
	color: #fff;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
}
.main-brdr-div {
	border-bottom: 1px solid #ccc;
	padding: 5px 0px
}
.main-brdr-div:last-child {
	border-bottom: transparent;
}
.custom-browse > label {
	background-color: #fff;
	padding: 8px 30px;
	border: 1px solid #fff;
	cursor: pointer;
	color: #333;
	border-radius: 4px;
	min-height: 36px;
    margin-top: 0 !important;
    margin-bottom: 0px !important;
}
.custom-browse > img{
    margin: 0px 0px 0px 10px;
}
.activation_sign {
	display: table;
	margin: 3em auto auto;
	padding: 0;
	width: 50%;
}
.activation_sign2 {
	display: table;
	height: 220px;
	background: #fff none repeat scroll 0 0;
	margin: 3em auto auto;
	padding: 15px 15px 10px;
	width: 50%;
}
.thankyou {
	display: table-cell;
	vertical-align: middle;
	color: green;
	font-size: 20px;
	text-align: center;
}
.custom-browse {
	text-align: left;
}
 input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus input:-webkit-autofill, textarea:-webkit-autofill, textarea:-webkit-autofill:hover textarea:-webkit-autofill:focus, select:-webkit-autofill, select:-webkit-autofill:hover, select:-webkit-autofill:focus {
	 /*-webkit-text-fill-color: #fff !important;*/
	 -webkit-box-shadow: none !important;
	 transition: background-color 5000s ease-in-out 0s !important;
}
.app-cam-signup input[type="text"], .app-cam-signup input[type="email"], .app-cam-signup input[type="password"] {
	color: #333 !important;
	background:#fff!important	;
}
.app-cam-signup input[type="password"], .app-cam-signup input[type="email"], .app-cam-signup input[type="text"] {
	color: #333 !important;
	background:#fff!important	;
}
.activation_sign {
	display: table;
	/*margin-top: 0;*/
	min-height: auto;
}
.red-btn {
	padding: 6px 10px;
	background-color: #dc4949;
	color: #fff;
	border: none;
	box-shadow: none;
	border-radius: 5px;
}
.green-btn {
	padding: 6px 10px;
	background-color: #0168ad;
	color: #fff;
	border: none;
	box-shadow: none;
	border-radius: 5px;
}
.gray-div {
	background-color: #e0e0e0;
	padding: 10px 20px 10px 20px;
}
.intro-div h3 {
	border-left: 3px solid #5b96a1;
	padding: 0px 5px;
	margin: 0px;
}
.intro-meter {
	padding: 0px 20px;
}
.intro-meter p {
	margin-top: 30px;
	color: #988c8e;
}
.intro-meter ol {
	color: #988c8e;
	margin-bottom: 20px;
}
.intro-div {
	background-color: #fff;
	margin-top: 20px;
	padding: 20px 0px;
}
.input-div {
	margin-bottom: 30px;
	padding: 10px 0;
	display: inline-block;
	color: #6c885b;
}
.input-div input {
	opacity: 1 !important;
	margin-top: 20px !important;
	color: #988c8e !important;
	clear: both;
}
.div-height-add {
	height: 76px;
	margin-bottom: 0
}
.div-height-add .input-group {
    margin: 0px;
}
.div-height-add-user {
	height: 94px;
	margin-bottom: 0
}
.pop-img-height{
	margin-bottom: 15px;
}
.icom-div {
	background-color: #fff;
	margin: 20px;
	padding: 45px;
	text-align: center;
}
.col-sm-12.msg_alert {
	/*margin-top: 10px;*/
}
.msg_alert > .alert {
	font-size: 14px;
	padding: 10px 5px;
	margin: 15px 0px;
}
.msg_alert .alert .close {
	color: green !important;
	right: 0 !important;
}
#myModal h2.modal-title {
	color: #fff !important
}
/*edit detail*/
.custom-input3 {
}
.label_payment {
	font-weight: bold;
}
.user_form .form-group {
	height: 53px;
	margin: 0;
}
.user_form {
	border: 1px solid #ccc;
	padding: 15px 0;
	margin-top: 15px;
	background-color: #fff;
	border-radius: 4px;
}
.camra_btn {
	background: #0168ad !important;
	color: #fff;
	border: 1px solid #0168ad;
}
.camra_btn:hover, .camra_btn:focus {
	background: rgb(55, 135, 189) !important;
	color: #fff !important;
	border: 1px solid rgb(55, 135, 189) !important;
}
.user_profile div#preview {
	/*margin-bottom: 15px;*/
}
.user_profile.text-center {
	/*margin-top: 70px;*/
}
.camra_btn > i.fa.fa-camera {
	margin-right: 7px;
}
img#imageVal {
	/*margin-top: -10px;*/
}
.nav-second-level .active > a, .nav-second-level .active > a:hover,
.nav-second-level .active > a:focus {
	background: rgba(51, 51, 51, 0.71) !important;
}
.forget_password {
	padding: 10px 0 10px 0;
}
.forget_password ul.new {
	margin-top: 0
}
.button-div > button.green-btn.pull-right {
	margin-top: 30px;
}
.thankyou > img {
    width: 50px;
    margin: 14px 0 20px;
}
/*animation*/
#myModal2 .modal-title{
	color: #fff;
}
.login-body {
    padding: 3.5em;
    border-radius: 1px;
    background: rgba(23, 20, 18, 0.61);
    box-shadow: 0px 3px 12px rgba(45, 44, 44, 0.42);
}
.custom-input2-label{
	width: 100%;
    height: 45px;
    margin:  0 !important;
    border: 0;
    border: 1px solid #bdc3c7;
    background: #fff url(../images/password.png) no-repeat;
    background-size: 22px;
    background-position: left 10px center;
    padding-left: 44px !important; 
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  border: 2px solid #0168ad;
}
.custom-input-label {
    width: 100%;
    height: 45px;
    margin: 0 !important;
    border: 0;
    border: 1px solid #bdc3c7;
    background: #fff url(../images/mail.png) no-repeat;
    background-size: 22px;
    background-position: left 10px center;
    padding-left: 44px !important; 
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  border: 2px solid #0168ad;
}
.login_btn, .login_btn:hover, .login_btn:focus {
    font-size: 16px !important;
    width: 100% !important;
    background: #0168ad !important;
    border-bottom: 2px solid #0168ad !important;
    border-top: 0 !important;
    border-left: 0 !important;
    border-right: 0 !important;
    font-weight: 700;
    height: 40px;
    border-radius: 30px;
    display: inline-block;
    padding: 2px 0 0;
    margin-top: 5px;
    color: #fff !important;
}
.green_border {
  border-bottom: 4px solid #0497f1;
  width: 50%;
  float: left;
  margin:0 0 15px !important
}
.orange_border {
  border-bottom: 4px solid #fabe28;
  width: 50%;
  float: left;
  margin: 0 0 15px!important
}
.icon-home {
    background: url(../images/jobtrackre.png) no-repeat;
    height: 40px;
    width: 52px;
    display: inline-block;
    vertical-align: middle;
    background-size: cover;
}
.navbar-brand > span {
    color: #fff;
    display: inline-block;
    font-size: 30px;
    font-weight: 600;
    vertical-align: middle;
    text-transform: uppercase;
}
.dataTables_wrapper {
    position: relative;
    background: rgba(153, 153, 153, 0.80);
    border-bottom: 1px solid rgba(153, 153, 153, 0.80);
    padding-top: 15px;
    padding-bottom: 15px;
}
.table-striped>tbody>tr:nth-of-type(odd), .table-striped>tbody>tr:nth-of-type(even) {
    background-color: #fff;
}
.dataTables_wrapper > .dataTables_length{
	padding-left: 15px;
}
.dataTables_wrapper > .dataTables_length > label {
    color: #fff;
    margin-bottom: 15px;
}
.dataTables_wrapper > .dataTables_length > label > select,
.dataTables_filter > label > input{
    color: #333;
}
.dataTables_filter > label{
	color: #fff;
}
.dataTables_filter{
	padding-right: 15px;
}
div.dataTables_paginate {
    margin: 9px;
    float: right;
}
div.dataTables_info {
    padding-top: 8px;
    display: inline-block;
    color: #fff;
    padding-left: 15px;
}
.dataTables_wrapper .dataTables_paginate .paginate_button{
	color: #fff;
}
.modal-footer .submit-btn{
    background-color: #0168ad !important;
    color: #fff; 
    border: 1px solid #0168ad !important;
}
.modal-footer .submit-btn:hover, .modal-footer .submit-btn:active, .modal-footer .submit-btn:focus{
    background-color:rgb(55, 135, 189) !important;
    color: #fff; 
    border: 1px solid rgb(55, 135, 189) !important;
}
p.sign {
    color: #fff;
}
.add_user > label{
	background: #333 !important;
	border:1px solid #333 !important;
	color: #fff !important;
	margin-bottom: 0;
	margin-top: 17px;
}
.fp__overlay{
	z-index: 1999 !important
}
.full button span {
	background-color: limegreen;
	border-radius: 32px;
	color: black;
}
.partially button span {
	background-color: orange;
	border-radius: 32px;
	color: black;
}
.uib-datepicker-popup.dropdown-menu{
	width: 100% !important;
	min-width: 295px !important
}
.form-control[readonly]::-webkit-input-placeholder{
	color: #ccc !important
}
#changePassForm .form-control::-webkit-input-placeholder{
	color: #ccc !important
}
.add_team > label {
    background: #333;
    color: #fff;
    margin: 0;
    min-height: 36px;
    padding: 8px 15px;
}
.logo_team{
	margin-bottom: 0
}
.custom-model {
    padding: 15px;
}
.manager_tournament{
	height: 76px !important;
}
.uib-daypicker:focus{
	outline: none !important;
}
.activation_sign .input-group-btn > button.btn.btn-default.no-margin {
    padding: 12px 11px 13px;
    border: 0;
}
.form_signup_img >label {
    margin-bottom: 0;
    min-height: 45px;
    padding-top: 12px;
}
.form_img > img#imageVal {
    margin: 0;
}
button:hover, button:focus, input:focus, input:hover, select:focus, select:hover{
	outline: none !important;
	border-color: #ccc !important
}
textarea:focus, textarea:hover{
	outline: none !important;
	resize: none !important;
}
.custom-text-area {
    padding: 6px 12px;
    color: #555;
    display: block;
}
p.pop_box_title {
    text-align: left;
    padding: 0;
}
.div-height-add-user label , .div-height-add label{
	margin-bottom: 0px
}
/*.pop-up_btn-green, .pop-up_btn-green:hover, .pop-up_btn-green:focus {
    background: #fff !important;
    border: 1px solid #0168ad !important;
    padding: 4px 17px;
    color: #0168ad
}
.pop-up_btn-red, .pop-up_btn-red:hover, .pop-up_btn-red:focus {
    background: #fff !important;
    border-color: #0168ad !important;
    padding: 4px 17px;
    color: #0168ad
}*/
/*.delete_pop > .modal-dialog {
    width: 30%;
}*/
.modal-footer.text-center{
	text-align: right;
}
.font-bold2{
	font-weight: 500 !important;
	font-size: 15px !important
}
.font-bold{
	font-weight: 500 !important
}
input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus
input:-webkit-autofill, textarea:-webkit-autofill, textarea:-webkit-autofill:hover
textarea:-webkit-autofill:focus, select:-webkit-autofill, select:-webkit-autofill:hover, select:-webkit-autofill:focus{
    -webkit-text-fill-color: #88898b !important;
    -webkit-box-shadow: none !important;
    transition: background-color 5000s ease-in-out 0s !important;
}
.table_btn {
    /*width: 115px;*/
    margin: 0;
    /*padding: 6px 0 0;*/
}
/*.table_btn li a {
    font-size: 18px;
}*/
table.table.player-table {
    border: 1px solid #ccc;
    width: 50%;
    margin-bottom: 0px
}
table.table.player-table tr th {
    background-color: #aaabab;
    color: #fff;
}
table.table.player-table tr {
    border-bottom: 1px solid #ccc;
}
table.table.player-table tr:first-child , table.table.player-table tr:last-child{
    border-bottom: 1px solid #ccc;
}
.top-heading-all {
    margin-bottom: 15px;
}
.top-heading-all span.pull-left {
    font-weight: bold;
    font-size: 18px;
}
table.table.player-table tr td {
    border-right: 1px solid #aaabab;
}
table.table.player-table tr td:last-child{
	border-right: transparent;
}
.add-popup-player div {
    border-bottom: 1px solid #ccc;
    padding: 10px 0px; 
}
.add-popup-player div:last-child{
    border-bottom: transparent;
}
.player_title_heading li, .player_title_data li {
    width: 24.33%;
    padding: 10px;
}
.player_title_heading , .player_title_data {
    margin:0px;
}
.player_title_heading li > label {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 0px;
    color: #fff
}
.player_title_data li{
    font-size: 14px;
}
.player_title_heading{
	background-color: #aaabab;
}
.teamplayerlist-div{
	border: 1px solid #aaabab !important;
    padding: 0px !important;
}
.add-coach-content{
	margin-top: 20px;
}
.user-inner-div label {
    margin-bottom: 0px;
}
.user-inner-div {
    padding: 10px 0px;
}
.page_title .fa-2x {
    font-size: 30px;
}
.user_list_detail > ol > li {
    padding: 10px 0px;
    border-bottom: 1px solid #e5e5e5;
}
.user_list_detail > ol{
 	padding-left: 15px;
}
.user_list_detail > ol > li:last-child{
    border-bottom: 1px solid transparent;
}
body.logout{
	background-image: url(../images/back-img.jpg);
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
}
.main_bg{
	background-color: #0168ad;
    border-color: #0168ad;
    border: none !important;
    height: auto;
    min-height: auto;
    margin-bottom: 0px;
}
.main_bg .navbar-brand{
	color: #fff;
    padding: 5px 15px;
}
.main_bg .custom-menu ul li a{
	color: #fff;
    letter-spacing: 2.5px;
    padding: 15px 10px;
    line-height: 21px;
}
.main_bg .custom-menu > ul > li > a:hover , .main_bg .custom-menu > ul > li > a:active , .main_bg .custom-menu > ul > li > a:focus{
    color: #0168ad !important;
    background-color: #fff !important;
}
.banner-one {
    background-color: rgba(255, 255, 255, 0.85);
    border-radius: 10px;
    padding: 15px;
    margin: 30px 0px
}
/*.main_bg .custom-menu ul li a:last-child {
    padding-right: 0px;
    padding-left: 30px;
}*/
.top-heading h1{
	font-size: 43px;
    font-weight: 800;
    margin:0px;
}
.top-heading{
	padding: 15px;
}
.top-heading h4{
	font-size: 15px;
    font-weight: 800
}
.right-portion-one img{
	width: 100%
}
.left-portion-one span{
	width: 50%;
	float: left;
    padding-bottom: 5px;
    /*text-transform: capitalize;*/
}
.bold{
	font-weight: bold
}
.part-two h3{
	margin:0px;
	font-size: 20px;
	font-weight: bold;
	line-height: 1.7
}
.part-two .all-section h4{
	margin:0px;
	font-size: 18px;
	font-weight: 500;
	line-height: 1.7
}
.part-two .all-section{
	padding:15px 0px;
}
.fourth-part > ul > li > h3{
	margin:0px;
	font-size: 20px;
	font-weight: bold;
	cursor: pointer;
}
.fourth-part > ul > li{
	padding: 15px 90px
}
.no-margin{
	margin:0px;
}
.italic{
	font-style: italic;
}
.comments{
	/*margin-top: 15px;*/
}
.left-portion-one{
	text-align: left;
}
.thumbnail {
    padding:0px;
}
.panel {
	position:relative;
}
/*.panel>.panel-heading:after,.panel>.panel-heading:before{
	position:absolute;
	top:11px;left:-16px;
	right:100%;
	width:0;
	height:0;
	display:block;
	content:" ";
	border-color:transparent;
	border-style:solid solid outset;
	pointer-events:none;
}*/
/*.panel>.panel-heading:after{
	border-width:7px;
	border-right-color:#f7f7f7;
	margin-top:1px;
	margin-left:2px;
}
.panel>.panel-heading:before{
	border-right-color:#ddd;
	border-width:8px;
}*/
.left-portion-one > div {
    padding: 0;
}
.comments.panel-default > .panel-heading {
    color: #fffefe;
    background-color: #0168ad;
    border-color: #ddd;
    border-radius: 6px 6px 0px 0px !important;
}
.comments.panel {
    position: relative;
    border-radius: 6px;
    box-shadow: none;
    margin-bottom: 30px;
}
.right-icon i.fa.fa-pencil-square {
    margin-right: 10px;
}
.right-icon i{
    font-size: 16px;
}
.button-section{
	/*padding: 20px 0px*/
}
.blue-btn {
    background-color: #0168ad;
    color: #ffffff;
    border: 1px solid #0168ad;
    margin-left: 10px
}
.blue-btn:hover {
    background-color: #fff;
    color: #0168ad;
    border: 1px solid #0168ad;
}
.comment-div h3{
	font-weight: bold;
	margin-top: 15px
}
.note-editor .note-editable {
    min-height: 200px !important;
}
.banner-one .panel-body video {
    width: 100%;
    max-width: 400px
}


/*.all-section .input-group-unstyled{
	width: 35%;
	margin:auto;
}*/
/*===============Ressponsive==============*/
@media screen and (min-width: 320px) and (max-width: 480px) {
.barcode {
	margin-top: 20px;
}
.pad_left {
	padding: 0 15px;
}
.no-pad {
	padding: 0px 0!important;
}
.pad_left {
	padding: 0 !important;
}
.pad_right {
	padding: 0 !important;
}
.pad_left2 {
	padding: 0 !important;
}
.no-pad2 {
	padding: 0 !important;
}
.mrg-5-l {
	margin-left: -15px !important;
}
.mrg-5-r {
	margin-right: -15px !important;
}
img.logo_form {
	width: 100%;
}
ul.list-inline.np_field > li {
	width: auto
}
ul.list-inline.np_field {
	text-align: left;
}
.custome_input {
	padding: 0;
	width: 49px;
	height: 49px;
	margin-bottom: 5px
}
  ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
 color: #999 !important;
}
  ::-moz-placeholder { /* Firefox 19+ */
 color: #999 !important;
}
  :-ms-input-placeholder { /* IE 10+ */
 color: #999 !important;
}
  :-moz-placeholder { /* Firefox 18- */
 color: #999 !important;
}
.input_border {
	border-bottom: 1px solid;
	padding-left: 0;
}
.form-common-border {
	border-bottom: 0
}
.custome_input-2 {
	width: 29px !important;
	height: 29px !important;
	padding: 0 !important;
	margin-bottom: 5px !important;
}
ul.mobile_li > li {
	display: inline-block;
}
ul.mobile_li {
	padding-left: 0;
	display: inline-block;
}
ul.list-inline.date_field {
	text-align: left !important;
}
.single_label {
	vertical-align: middle;
	margin-left: 5px;
	font-size: 12px;
}
.large_checkbox .single_label {
	width: 75% !important;
}
ul.list-inline.date_field {
	padding-bottom: 0;
}
.custome_label > p {
	margin-bottom: 0
}
.div-height {
	height: auto !important;
	min-height: 73px;
}
.div-height > .col-sm-6, .div-height > .col-sm-12 {
	min-height: 62px;
}
.input-div {
	margin-bottom: 10px !important;
}
.intro-div h3 {
	font-size: 20px !important
}
}
/*Form-css End*/
@media screen and (min-width: 320px) and (max-width: 760px){
	.dataTables_wrapper > .dataTables_length {
	    padding: 0px 15px;
        text-align: center;
	}
	div.dataTables_info {
	    width: 100%;
	    text-align: center;
	}
	.dataTables_wrapper > .dataTables_length > label {
	    float: none;
	}
	.dataTables_filter {
        padding: 0px 15px 15px;
	}
	.dataTables_wrapper .dataTables_filter input {
	    margin-left: 3px;
	}
	.dataTables_filter > label {
	    margin-bottom: 0px;
        float: none !important;
	}
	div.dataTables_paginate {
	    float: none;
	    padding: 15px;
	    margin:0px;
	    text-align: center;
	}
	.btn-primary {
	    padding: 4px 10px;
	}
	.btn-primary:hover {
	    padding: 4px 10px;
	}
	.page_title .fa-2x {
	    font-size: 22px;
	}
	.graphs .user_profile {
	    text-align: left;
	}
	.top-heading-all span {
	    width: 100%;
	    padding: 0px 0px 10px;
	}
	table.table.player-table {
	    width: 100%;
	}
	a.btn.btn-primary.btn-lg {
		font-size: 13px
	}
	#page-wrapper {
	    min-height: auto !important;
	}
	.top-heading h1 {
	    font-size: 26px;
	}
	.left-portion-one{
		margin-top: 15px;
	}
	.fourth-part > ul > li{
		padding: 15px 70px
	}
	.fourth-part > ul > li:first-child{
		padding-left: 70px
	}
	.mgs-right-part {
	    float: none !important;
	    width: 100% !important;
	}
	.mgs-left-part {
	    float: none !important;
	    width: 100% !important;
	}
	.msg-page .banner-one {
	    padding: 10px 0 !important;
        margin: 40px 0px;
	}
	.tournament-bck-img .left-portion-one .col-md-12 > span:last-child {
	    width: 55% !important;
	}
	.tournament-bck-img .left-portion-one .col-md-12 > span:first-child {
	    width: 45% !important;
	}
	.tournament-bck-img .left-portion-one .col-md-12 {
	    vertical-align: middle;
	    display: inline-block;
	    width: 100%;
	}
	div#imaginary_container {
	    width: 100% !important;
	}
	.stylish-input-group > input.form-control::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	  	font-size: 0px !important;
	}
	.stylish-input-group > input.form-control::-moz-placeholder { /* Firefox 19+ */
	  	font-size: 0px;
	}
	.stylish-input-group > input.form-control:-ms-input-placeholder { /* IE 10+ */
	  	font-size: 0px;
	}
	.stylish-input-group > input.form-control:-moz-placeholder { /* Firefox 18- */
	  	font-size: 0px;
	}
	.player_main {
	    margin-top: 105px !important;
        margin-bottom: 15px;
	}
	.stylish-input-group > input.form-control {
	    min-height: 45px !important;
        background-size: 23px !important;
	}
	.user-img {
	    text-align: center;
	}
	.user-name h3 {
	    font-size: 20px !important;
	    text-align: center;
	    margin-top: 15px;
	}
	.graphs {
	    margin-top: 45px;
	}
	.custom-menu .navbar-right {
	    display: block;
	    height: auto !important;
	    margin: 0px;
    	width: 100%;
	}
	.custom-menu .navbar-right .page-scroll{
	    display: block;
	}
	.main_bg .custom-menu ul li a {
	    padding: 10px 15px;
	}
	.custom-menu {
	    padding: 0px;
	}
	.tournament-bck-img{
		padding: 0px
	}
	.main_bg .container{
		padding: 0px
	}
	.login-logo {
	    padding: 20px 0;
	    margin-top: 0px;
	}
	.activation_sign {
		margin-top: 0px;
		width: 100%
	}
	.login-body {
	    padding: 15px;
	}
	.intro {
	    padding: 85px 0;
	}
	#slider {
	    width: 100% !important;
	    height: 296px;
	}
	#slider-wrapper {
	    width: 100% !important;
	    height: auto;
	}
	.sp {
	    width: 100% !important;
	}
	.star-icon {
	    position: inherit !important;
		margin: 10px 0px 0px;
	}
	.right-portion-one ,.left-portion-one{
		padding: 0px
	}
	.button-section button {
	    margin: 5px;
	    width: 45% !important;
	    float: left;
	}
	.dataTables_wrapper {
	    overflow-x: scroll;
	}
	.app-cam {
	    width: 100%;
	    margin: 1em auto auto auto;
	}
	/*======================15-Sep-2017==============*/
	.navbar-default .navbar-brand{
		margin-left: 0 !important
	}
	.sidebar.collapse {
	    display: none !important;
	}
	.page_title span.pull-left {
	    text-align: left;
	    font-size: 18px !important;
	    margin: 5px 0;
	}
	.user_form .form-group {
	    height: 76px;
	    margin: 0;
	        clear: both;
	}
	.clearfix.job_table {
	    margin-bottom: 25px;
	}
	.job_page select{
		font-size: 13px !important
	}
	.job-title .form-group{
		height: 60px !important;
	}
	.player-table thead tr {
	    position: absolute;
	    top: -9999px;
	    left: -9999px;
	}
	.player-table tbody tr {
	    border: 1px solid #ccc;
	}
	.player-table td:nth-of-type(1):before {
	    content: "Contractor Name";
	}
	.player-table td:nth-of-type(2):before {
	    content: "Workers";
	}
	.player-table td:nth-of-type(3):before {
	    content: "Start Date";
	}
	.player-table td:nth-of-type(4):before {
	    content: "Start Time";
	}
	.player-table td:nth-of-type(5):before {
	    content: "End Time";
	}
	.player-table td:nth-of-type(6):before {
	    content: "Reason";
	}
	.player-table td:nth-of-type(7):before {
	    content: "Edit";
	}
	.player-table tbody tr td:before {
	    position: absolute;
	    top: 6px;
	    left: 6px;
	    width: 45%;
	    padding-right: 10px;
	    white-space: nowrap;
	    font-weight: 600;
	}
	.player-table tbody tr td {
	    border: none;
	    border-bottom: 1px solid #eee;
	    position: relative;
        padding-left: 50% !important;
	    width: 100%;
	    float: left;	    
    	border-right: 0 !important;
	}
	tr:nth-of-type(odd) {
	    background: #eee;
	}
	.user_form .form-group {
	    min-height: 75px;
	    margin: 0;
	    clear: both;
	}
	.mobile_pad{
		padding: 0 !important
	}
	.contractor .sidebar-nav.navbar-collapse {
	    min-height: auto !important;
	}
}
/*code forr css add */
@media screen and (min-width: 768px) and (max-width: 1024px){
	.left-portion-one{
		margin-top: 15px;
	}
	.main_bg .custom-menu ul li a {
	    letter-spacing: 2px;
	}
	.fourth-part > ul > li{
		padding: 15px 70px
	}
	.fourth-part > ul > li:first-child{
		padding-left: 70px
	}
	.page_title .fa-2x {
	    font-size: 24px;
	}
}

input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus
input:-webkit-autofill, textarea:-webkit-autofill, textarea:-webkit-autofill:hover
textarea:-webkit-autofill:focus, select:-webkit-autofill, select:-webkit-autofill:hover, select:-webkit-autofill:focus{
    -webkit-text-fill-color: #88898b !important;
    -webkit-box-shadow: none !important;
    transition: background-color 5000s ease-in-out 0s !important;
}
/*-------------21-July-2017------------*/



label.dropdown {
    margin-top: 15px;
}

.tournament_bck_img{
	background-image: url(../images/tournament_bck.jpg);
    /*background-position: top;*/
    background-size: cover;
    background-repeat: no-repeat;
}
.tournament-bck-img .left-portion-one .col-md-12 {
    border-bottom: 1px solid #000;
    padding: 10px 0px;
}
.tournament-bck-img .left-portion-one .col-md-12:last-child {
   border-bottom: transparent;
}
.tournament-bck-img .left-portion-one .col-md-12 > span:first-child {
    width: 30%;
    font-weight: bold
}
.tournament-bck-img .left-portion-one .col-md-12 > span:last-child {
    width: 70%;
}
.tournament-bck-img .banner-one .left-portion-one {
    text-align: left;
}
.tournament-bck-img .left-portion-one table.table.player-table{
    border: transparent;
    width: 100%;
    background: white;
}
.tournament-bck-img .left-portion-one table.table.player-table tr th {
    background-color: #505050;
    color: #fff;
}
span.pull-right.addnote_btn {
    margin-right: 14px;
}
ul.nav.nav-second-level ul.nav.nav-second-level {
    background-color: #aaabab;
}
ul.nav.nav-second-level ul.nav.nav-second-level > li > a {
    padding-left: 50px;
}
.stylish-input-group > input.form-control {
    /*border-radius: 20px !important;
    border: 2px solid #ccc;
    min-height: 60px;
    font-size: 18px !important;
    font-weight: 400;
    background-repeat: no-repeat;
    -webkit-appearance: none;
    background-color: rgba(255,255,255,0.95);*/
    /*background-image: url(https://cdn.pixabay.com/photo/2015/12/08/17/38/magnifying-glass-1083373_960_720.png);*/
    background-image: url(../images/search2.png);
    background-position: right 10px center;
    background-size: 18px;
    background-repeat: no-repeat;
}
div#imaginary_container {
    /*width: 70%;*/
    margin: 20px auto;
}
  .user-img {
    display: inline-block;
    float: none;
    vertical-align: middle;
}

.user-name {
    display: inline-block;
    float: none;
    position: relative;
    vertical-align: middle;
}
.inner-booking {
    padding: 15px 0;
    background: #fff;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    border-radius: 15px;
}
.user-name button {
    background-color: #0168ad;
    margin: 0px 0px 5px;
    border: 1px solid #0168ad;
    color:#fff
}
.user-name h3 {
    color: #0168ad;
    font-size: 22px
}
.left-div p , .right-div p {
    font-size: 14px;
    margin: 5px 0px;
}
.left-div .labels{
   font-weight: bold
}
.no-pad-left{
   padding-left: 0px
}
.inner-booking:last-child {
    margin-bottom: 0
}
.stylish-input-group > input.form-control::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #ccc !important;
}
.stylish-input-group > input.form-control::-moz-placeholder { /* Firefox 19+ */
  color: #ccc;
}
.stylish-input-group > input.form-control:-ms-input-placeholder { /* IE 10+ */
  color: #ccc;
}
.stylish-input-group > input.form-control:-moz-placeholder { /* Firefox 18- */
  color: #ccc;
}
h3.player_heading {
   text-align: left;
   margin-bottom: 0px;
   color: #0168ad;
   font-size: 27px;
}
.player_main{
    margin-top: 80px;
}
li.user-type-name {
    color: #fff;
    margin-top: 15px;
}
#slider {
    width: 100%;
    height: 405px;
    position: relative;
}
#slider-wrapper {
    width: 100%;
    height: auto;
    margin: auto;
}
.sp {
    width: 100%;
    position: absolute;
}
#nav {margin-top:20px; width:100%;}
#button-previous {float:left;}
#button-next {float:right;}
.album_img{width: 100%;}
.star-icon{
	position: absolute;
	top: 6px;
	right: 0px
}
.msg-page {
    width: 90%;
    max-width: 100%;
    margin: auto;
}
.banner-one .panel .panel-heading{
	padding: 10px 20px !important;
	overflow: hidden;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	border: 0!important;
	font-size: 14px;
	font-weight: 600;
	height: auto
}
.msg-heading {
   	padding: 15px 0px 0px;
    color: #505050;
    border-radius: 6px 6px 0px 0px;
}
.send-message-div .note-editor {
    border-radius:6px !important;
}
.send-message-div .note-editor .note-toolbar {
    border-bottom: 1px solid #dce1e4;
    border-radius: 6px 6px 0px 0px;
}
.comments.panel:last-child {
    margin-bottom: 0px;
}
.msg-div-start .comments.panel-default > .panel-heading {
    color: #fffefe;
    background-color: #999999;
    border-color: #ddd;
    border-radius: 6px 6px 0px 0px !important;
}
.send-message-div .note-editable {
    background-color: #fff;
    border-radius: 0px 0px 6px 6px;
}
.msg-page .banner-one {
    background-color: rgb(242, 244, 248);
    border-radius: 6px;
    padding: 15px;
    margin: 20px 0px;
}
.mgs-right-part .comments.panel>.panel-heading:after,.mgs-right-part .comments.panel>.panel-heading:before{
	position:absolute;
	top:11px;left:-16px;
	right:100%;
	width:0;
	height:0;
	display:block;
	content:" ";
	border-color:transparent;
	border-style:solid solid outset;
	pointer-events:none;
}
.mgs-right-part .comments.panel>.panel-heading:after{
	border-width:7px;
	border-right-color:#999;
	margin-top:1px;
	margin-left:2px;
}
.mgs-right-part .comments.panel>.panel-heading:before{
	border-right-color:#999;
	border-width:8px;
}
.msg-div-start .all-section {
    margin-bottom: 30px;
}
.msg-div-start .all-section:last-child {
    margin-bottom: 0px;
}
.mgs-left-part {
    float: left;
    width: 6%;
}
.mgs-right-part {
    float: left;
    width: 94%;
}
.message-chat tr:hover {
    background-color: #f1eded;
    cursor: pointer;
}
.message-chat{
	width: 100% !important
}
.yellow-icon{
	color: #f5ee17;
    cursor: pointer;
    vertical-align: middle;
    margin-right: 10px;
    font-size: 20px;
}
.gray-icon{
	color: #ccc;
    cursor: pointer;
    vertical-align: middle;
    margin-right: 10px;
    font-size: 20px;
}
.msg-title {
    font-size: 24px;
    padding-left: 6%;
}
.player_search select , .player_search input{
    border-radius: 7px !important;
}
.player_search {
    margin-top: 20px;
    margin-bottom: 20px;
}
.pad-left {
    padding-left: 0px;
}
.pad-right {
    padding-right: 0px;
}
.pad-left-right{
	padding: 0px 8px
}
input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
 color: #ccc !important;
}
input::-moz-placeholder { /* Firefox 19+ */
 color: #ccc !important;
}
input:-ms-input-placeholder { /* IE 10+ */
 color: #ccc !important;
}
input:-moz-placeholder { /* Firefox 18- */
 color: #ccc !important;
}   
.price_line{
    margin-bottom: 20px;
}
.price_line h3 {
    color: #0168ad;
    margin-bottom: 5px;
}
.price_line h3:before {
    content: '';
    background: #0168ad;
    height: 2px;
    width: 33%;
    position: absolute;
    bottom: 0%;
}
/*.mgs-right-part .comments.panel*/


/*slider-css*/
.crossfade > figure {
  animation: imageAnimation 30s linear infinite 0s;
  backface-visibility: hidden;
  background-size: cover;
  background-position: center center;
  color: transparent;
  height: 100%;
  left: 0px;
  opacity: 0;
  position: absolute;
  top: 0px;
  width: 100%;
  z-index: 0;
}

.crossfade > figure:nth-child(1) {
  background-image: url('../images/back-img.jpg');
}
.crossfade > figure:nth-child(2) {
  animation-delay: 6s;
  background-image: url('../images/back-img-2.jpg');
}
.crossfade > figure:nth-child(3) {
	animation-delay: 12s;
  background-image: url('../images/back-img.jpg');
}
.crossfade > figure:nth-child(4) {
  animation-delay: 18s;
  background-image: url('../images/back-img-2.jpg');
}
.crossfade > figure:nth-child(5) {
	animation-delay: 24s;
  background-image: url('../images/back-img.jpg');
}
@keyframes imageAnimation {
  0% {
    animation-timing-function: ease-in;
    opacity: 0;
  }
  8% {
    animation-timing-function: ease-out;
    opacity: 1;
  }
  17% {
    opacity: 1
  }
  25% {
    opacity: 0
  }
  100% {
    opacity: 0
  }
}
/*end-css*/

.box {
  transition: box-shadow .3s;
  border-radius:10px;
  border: 1px solid #ccc;
  background: #fff;
  margin-bottom: 15px;
}
.box:hover {
  box-shadow: 0 0 11px rgba(33,33,33,.2); 
}
.col-md-12.upr-div {
    position: relative;
    left: 0px;
    right: 0px
}
.brandimage>img {
    display: block;
    width: 72%;
    /* display: inline-block; */
    padding: 4px 0px;
}
.job-title .form-group{
	height: 30px;
}
.edit_user_form .col-sm-8 span {
    font-size: 14px;
}

.icon_calendar{
	line-height: 1.2
}
.no-margin{
	margin: 0px
}
.job_page select{
    padding: 6px 12px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: #444 !important;
    font-weight: 400;
}

.modal-body.custom-model.clearfix.add-popup-player.selected_list {
    height: 250px;
    overflow-y: auto;
}
.modal-dialog.contractor_list_modal {
    max-height: 85%;
    margin-top: 50px;
    margin-bottom: 50px;
    overflow-y: initial !important;
}
.page_title span.pull-left {
    text-align: left;
}

.lead_form_view .form-group.col-xs-12.no-pad {
   height: auto;
   margin-bottom: 10px;
}
/*=============*/
div#page-wrapper {
    margin-top: 50px;
}
.job_id_height .form-group.col-sm-12 {
    height: auto;
    margin-bottom: 5px;
}