<!-- Navigation -->
<nav class="top1 navbar navbar-default navbar-static-top navbar-fixed-top" role="navigation" style="margin-bottom: 0">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand brandimage" href="#webmaster-offices">
		  <img src="images/jobtrackre.png" >
        </a>
    </div>
    <!-- /.navbar-header -->
    <div>
        <ul class="nav navbar-nav navbar-right">
            <li ng-hide= "addleadout" class="user-type-name"> <strong>Welcome Admin</strong></li>
            <li ng-hide= "addleadout" class="dropdown" uib-dropdown is-open="0">
                <a href class="dropdown-toggle avatar" uib-dropdown-toggle ng-disabled="disabled">
            <img ng-if="image == true" src="../backend/uploads/{{service_get_image}}" height="40" width="40">
            <img ng-if="image != true" src="../backend/uploads/{{service_get_image}}" height="40" width="40"><span class="badge">9</span>
            </a>
                <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
                    <li class="m_2"><a href="#webmaster-viewProfile"><i class="fa fa-user"></i>Profile</a></li>
                    <li class="m_2"><a href="#webmaster-changepassword"><i class="fa fa-key"></i>Change password</a></li>
                    <li class="m_2"><a href ng-click ="Userlogout()"><i class="fa fa-lock"></i> Logout</a></li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="navbar-default sidebar" role="navigation">
        <div class="sidebar-nav navbar-collapse {{collapseClass}}">
            <ul ng-hide= "addleadout" class="nav" id="side-menu">
                <li>
                    <ul class="nav nav-second-level">
                        <li ng-class="{'active':officesTab == true}">
                            <a href="#webmaster-offices">Office</a>
                        </li>
                       <li ng-class="{'active':officersTab == true}">
                            <a href="#webmaster-officers">Office Manager</a>
                        </li>
                       <li ng-class="{'active':contractorTab == true}">
                            <a href="#webmaster-contractors">Contractors</a>
                        </li>
                        
                        <li ng-class="{'active':jobTypeTab == true}">
                            <a href="#webmaster-jobtype">Add Job Type</a>
                            
                        </li> 
                        <li ng-class="{'active':jobTab == true}">
                            <a href="#webmaster-job">Jobs</a>
                        </li> 
                        <li ng-class="{'active':archivejob == true}">
                            <a href="#webmaster-archivejob">Archive Jobs</a>
                        </li> 
                        <li ng-class="{'active':activejobTab == true}">
                            <a href="#webmaster-activejob">Active Jobs</a>
                        </li> 
                        <li ng-class="{'active':adminTab == true}">
                            <a href="#webmaster-admins">Admins</a>
                        </li> 
                         <li ng-class="{'active':leadtracker == true}">
                            <a href="#webmaster-leads">Leads</a>
                        </li> 
                        
                        <li class="m_2 visible-xs hidden-md hidden-sm hidden-lg">
                            <a href="#webmaster-changepassword">Change password</a>
                        </li>

                        <li class="m_2 visible-xs hidden-md hidden-sm hidden-lg">
                            <a href ng-click ="Userlogout()">Logout</a>
                        </li> 
                    </ul>
                </li>
            </ul>
        </div>
        <!-- /.sidebar-collapse -->
    </div>
    <!-- /.navbar-static-side -->
</nav>