<div id="wrapper">
    <div ng-include src="'partials/include/sidebar.html'"></div>
    <div id="page-wrapper">        
        <div class="col-sm-12 msg_alert">
            <div class="alert alert-success row auto-margin" ng-if="showSuccess == true">
                {{showSuccessMsg}}
            </div>
            <div class="alert alert-danger row auto-margin" ng-if="resErrorMsg == true">
                {{responseErrorMSG}}
            </div>
        </div>
        <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12 graphs">
            <h1 class="text-right page_title clearfix">
                    <span class="pull-left">Jobs</span>
                    <div class="clearfix"></div>
            </h1>

            <!-- partision_start -->
            <div class="col-md-12 no-pad">
                <div class="col-md-6 pad-left mobile_pad">
                    <div class="col-sm-12 col-md-12 user_form">
                        <div class="col-md-12">
                            <table style="width: 100%;" class="table player-table">
                            <thead>
                                <tr>
                                   <th>Job Title</th>
                                   <th>Contractor</th>  
                                   <th>View</th>         
                                </tr>
                                </thead>
                                <tbody>
                                 <tr ng-repeat="activejob in activejobList">
                                 <td><a href="#webmaster-viewjob/{{activejob.job.id}}">{{activejob.job.title | capitalize}}</a></td>
                                 <td>{{activejob.contractor_name | capitalize}}</td>
                                 <td><a tooltip-placement="{{placement.selected}}" uib-tooltip="View Active Job {{placement.selected}}" href="#/webmaster-viewjob/{{activejob.job.id}}" type="button" class="btn btn-primary btn-lg"><i class="fa fa-eye" aria-hidden="true">{{placement.selected}}</i></a></td>
                                 </tr><!-- end ngRepeat: Job in History -->
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 pad-right mobile_pad">
                     <!-- map div -->
                        <span>{{apiStatus}}</span>
                        <div id="map_canvas"></div>
                </div>

            </div>
            <!-- partision_end -->

            
        </div>
        <!--</div>-->
        <!-- Data table -->
    </div>
  <style type="text/css">
    h3 img {
    max-height: 50px;
}
#map_canvas { 
    height: 400px;
    margin: 15px 0;
    border-radius: 5px;
    border: 1px solid silver;
}
</style>

    