<div id="wrapper">
    <div ng-include src="'partials/include/sidebar.html'"></div>
    <div id="page-wrapper">
            <div class="col-sm-12 msg_alert">
                <div class="alert alert-success row auto-margin" ng-if="showSuccess == true">
                    {{showSuccessMsg}}
                </div>
                <div class="alert alert-danger row auto-margin" ng-if="resErrorMsg == true">
                    {{responseErrorMSG}}
                </div>
            </div>
        <div class="col-sm-12 col-md-12 graphs">
            <h1 class="text-left page_title clearfix">                 
              <span class="">Add Job Type</span>
              </h1>
            <div class="col-sm-12 col-md-12 user_form box">
                <div class=" col-sm-6 pad_left">
                <form method="post" name="addoffice" ng-submit="addJobType(addoffice.$valid)" id="edit-profile-form" novalidate="" class="ng-pristine ng-valid">
                        <div class="form-group div-height-add">
                            <label for="officeName" class="col-sm-4 control-label label_payment">Job Type:</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" name="jobtype" ng-model="jobtype" required>
                                 <div class="Err" ng-show="(addoffice.$submitted || addoffice.jobtype.$dirty ) && addoffice.jobtype.$error.required">Please enter job type</div>
                            </div>
                        </div>
                        
					<div class="form-group  div-height-add">
                            <div class="col-sm-12 text-right">
                                <div class="editprofilebutton" style="margin: 7px;"></div>
                                 <a href="#webmaster-jobtype" type="button" class="btn btn-default camra_btn" data-identifyelement="10"><span class="pen_icon"></span> Cancel</a>
                                <button type="submit" class="btn btn-default camra_btn" data-identifyelement="10"><span class="pen_icon"></span>Save</button>
                            </div>
                        </div>
                    </form>
                </div>
               
            </div>
        </div>
    </div>
    <!-- /#page-wrapper -->
</div>
</div>