<div id="wrapper">
    <div ng-include src="'partials/include/sidebar.html'"></div>
    <div id="page-wrapper">
            <div class="col-sm-12 msg_alert">
                <div class="alert alert-success row auto-margin" ng-if="showSuccess == true">
                    {{showSuccessMsg}}
                </div>
                <div class="alert alert-danger row auto-margin" ng-if="resErrorMsg == true">
                    {{responseErrorMSG}}
                </div>
            </div>
        <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12 graphs job_page">
            <h1 class="text-right page_title clearfix">
             <span class="pull-left">Archive Jobs</span>
             <span class="hidden-xs">
            <div class="clearfix"></div>
           
         </h1>
      <div class="clearfix job_table"></div>
            <table class="table table-striped table-bordered " datatable="ng" dt-options="dtOptions">
                <thead>
                    <tr>
                        <th>Job Title</th>
                        <th>Start Date</th>
                        <th>Contractor</th>
                        <th>Location</th>
                        <th>Status</th>
                        <th>Action</th>
                      
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="job in jobList ">
                        <td  width="100"><a href="#webmaster-viewjob/{{job.id}}">{{job.title | capitalize}}</a></td>
                        <td width="130">{{job.start_date | date:'MM/dd/yyyy' }}</td>
                        <td><span ng-repeat="job in job.contractor_name">{{job.contractor_name | capitalize}} {{$last ? '' : ($index==Users.length-2) ? ' and ' : ', '}}</span></td>
                        <td>{{job.location}}</td>
                        <td width="110">
                        <span ng-if ="job.status == 0">In Progress</span>
                        <span ng-if ="job.status == 1">Completed</span>
                        <span ng-if ="job.status == 2">Hold</span> 
                       </td>
                       <td width="120">
                           <ul class="list-inline table_btn">
                                <!-- <li><a href="#webmaster-viewjob/{{job.id}}" tooltip-placement="{{placement.selected}}" uib-tooltip="View Job {{placement.selected}}" type="button" class="btn btn-primary btn-lg"><i class="fa fa-eye"aria-hidden="true">{{placement.selected}}</i></a></li>
                                <li><a href="#webmaster-editjob/{{job.id}}" tooltip-placement="{{placement.selected}}" uib-tooltip="Edit Job {{placement.selected}}" type="button" class="btn btn-primary btn-lg"><i class="fa fa-edit"aria-hidden="true">{{placement.selected}}</i></a></li> -->
                                <li><a tooltip-placement="{{placement.selected}}" uib-tooltip="Resume Job {{placement.selected}}" type="button" class="btn btn-primary btn-lg" ng-click="getJobId(job.id)"><i class="fa fa-undo" aria-hidden="true">{{placement.selected}}</i></a>
                                </li>
                            </ul>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!--</div>-->
        <!-- Data table -->
    </div>
   
    <div class="modal fade jobs_archive_pop" id="myModelDelete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header custom-m-headr">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h2 class="modal-title">Resume job</h2>
                </div>
                <div class="modal-body">
                    <div class="user_list_detail clearfix">
                        <div class="col-md-12 main-brdr-div">
                            <div class="col-sm-12">
                                <p class="pop_box_title">Are you sure you want to resume this job?</p>
                            </div>
                        </div>
                        <!--  -->
                    </div>
                </div>
                <div class="modal-footer text-center">
                    <button type="button" class="btn btn-primary pop-up_btn-green" data-dismiss="modal" ng-click="resumeJobs()">yes</button>
                    <button type="button" class="btn btn-primary pop-up_btn-red" data-dismiss="modal">no</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>

    