<div id="wrapper">
    <div ng-include src="'partials/include/sidebar.html'"></div>
    <div id="page-wrapper">
            <div class="col-sm-12 msg_alert">
                <div class="alert alert-success row auto-margin" ng-if="showSuccess == true">
                    {{showSuccessMsg}}
                </div>
                <div class="alert alert-danger row auto-margin" ng-if="resErrorMsg == true">
                    {{responseErrorMSG}}
                </div>
            </div>
        <div class="col-sm-12 col-md-12 graphs">
            <h2 class="page_title">Change password</h2>
            <div class="col-sm-12 col-md-12 user_form  box">
                <div class=" col-sm-6 pad_left">
                    <form method="post" name="changePassForm" id="changePassForm" ng-submit="changePassword(changePassForm.$valid)" novalidate="" class="ng-pristine ng-valid">
                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-4 control-label label_payment">Current Password:</label>
                            <div class="col-sm-8">
                                <input type="password" class="form-control custom-input3" id="inputEmail3" name="cpass" ng-model="cpass" ng-blur="getCurrentPass()" required>
                                <div class="Err" ng-if="cpassword == 0">{{msg}}</div>
                                <div class="Err" ng-show="(changePassForm.$submitted || changePassForm.cpass.$dirty ) && changePassForm.cpass.$error.required">Please enter current password</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-4 control-label label_payment">New Password:</label>
                            <div class="col-sm-8">
                                <input type="password" class="form-control custom-input3" id="password" placeholder="New Password" name="password" ng-model="password" ng-readonly="cpassword == 0" required>
                                <div class="Err" ng-show="(changePassForm.$submitted || changePassForm.password.$dirty ) && changePassForm.password.$error.required">Please enter new password</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-4 control-label label_payment">Confirm Password:</label>
                           <div class="col-sm-8">
                                  <input type="password" class="form-control custom-input3" name="cnfPassword" ng-model="cnfPassword" id="cnfPassword" placeholder="Confirm Password" ng-readonly="cpassword == 0" required pw-check='password' required="">
                                <div class='Err' ng-show='changePassForm.cnfPassword.$error.pwmatch'>Passwords don't match</div>
                                <!--<div class="Err" ng-show="(changePassForm.$submitted || changePassForm.cnfPassword.$dirty ) && changePassForm.cnfPassword.$error.required">Please enter confirm password</div>-->
                            </div>
                        </div>
                        <div style="clear: both"></div>
                        <div class="form-group">
                            <div class="col-sm-12 text-right">
                                <button type="submit" class="btn btn-default camra_btn" data-identifyelement="10"><span class="pen_icon"></span> Change Password</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- /#page-wrapper -->
</div>