<div id="wrapper">
    <div ng-include src="'partials/include/sidebar.html'"></div>
    <div id="page-wrapper">
            <div class="col-sm-12 msg_alert">
                <div class="alert alert-success row auto-margin" ng-if="showSuccess == true">
                    {{showSuccessMsg}}
                </div>
                <div class="alert alert-danger row auto-margin" ng-if="resErrorMsg == true">
                    {{responseErrorMSG}}
                </div>
            </div>
        <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12 graphs">
            <h1 class="text-right page_title clearfix">
             <span class="pull-left">Contractors</span>
             <a href="#webmaster-addcontractors" tooltip-placement="{{placement.selected}}" uib-tooltip="Add Contractor {{placement.selected}}" type="button" class="btn btn-primary">Add Contractor {{placement.selected}}</a>
         </h1>
            <table class="table table-striped table-bordered" datatable="ng" dt-options="vm.dtOptions">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Status</th>
                        <th>View</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="contractors in contractorsList">
                        <td>{{contractors.name | capitalize}} {{contractors.last_name | capitalize}}</td>
                        <td >
                        <p ng-show ="contractors.active == 1"><a href="#webmaster-viewjob/{{contractors.job_id}}"><i  class="fa fa-circle" aria-hidden="true" style="color: green;" >{{placement.selected}}</i> ({{contractors.location}}) </a></p>
                        <p ng-show ="contractors.active != 1" >  <i  class="fa fa-circle" aria-hidden="true" style="color:red;" ></i></a></p>
                        </td>
                        <td><a href="#webmaster-viewcontractors/{{contractors.id}}" tooltip-placement="{{placement.selected}}" uib-tooltip="View Contractor {{placement.selected}}" type="button" class="btn btn-primary btn-lg"><i class="fa fa-eye"aria-hidden="true">{{placement.selected}}</i></a></td>
                        <td><a href="#webmaster-editcontractors/{{contractors.id}}" tooltip-placement="{{placement.selected}}" uib-tooltip="Edit Contractor {{placement.selected}}" type="button" class="btn btn-primary btn-lg"><i class="fa fa-edit"aria-hidden="true">{{placement.selected}}</i></a></td>
                        <td><a ng-click="getDeleteContractorId(contractors.id)" tooltip-placement="{{placement.selected}}" uib-tooltip="Delete Contractor {{placement.selected}}" type="button" class="btn btn-primary btn-lg"><i class="fa fa-trash"aria-hidden="true">{{placement.selected}}</i></a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!--</div>-->
        <!-- Data table -->
    </div>
   
    <!-- delete popup -->
    <div class="modal fade contractors_delete_pop" id="myModelDelete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header custom-m-headr">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h2 class="modal-title">Delete</h2>
                </div>
                <div class="modal-body">
                    <div class="user_list_detail clearfix">
                        <div class="col-md-12 main-brdr-div">
                            <div class="col-sm-12">
                                <p class="pop_box_title">Are you sure you want to delete?</p>
                            </div>
                        </div>
                        <!--  -->
                    </div>
                </div>
                <div class="modal-footer text-center">
                    <button type="button" class="btn btn-primary pop-up_btn-green" data-dismiss="modal" ng-click="contractorsDelete();">yes</button>
                    <button type="button" class="btn btn-primary pop-up_btn-red" data-dismiss="modal">no</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>

    