<div id="wrapper">
    <div ng-include src="'partials/include/sidebar.html'"></div>
    <div id="page-wrapper">
            <div class="col-sm-12 msg_alert">
                <div class="alert alert-success row auto-margin" ng-if="showSuccess == true">
                    {{showSuccessMsg}}
                </div>
                <div class="alert alert-danger row auto-margin" ng-if="resErrorMsg == true">
                    {{responseErrorMSG}}
                </div>
            </div>
        <div class="col-sm-12 col-md-12 graphs">
            <h1 class="text-left page_title clearfix">                 
              <span class="">Edit Office Manager</span>
              <!-- <a  tooltip-placement="{{placement.selected}}" data-toggle="modal" data-target="#adminchangespassuser" type="button" class="btn btn-primary pull-right">Change Password {{placement.selected}}</a> -->
              </h1>
            <div class="col-sm-12 col-md-12 user_form box">
                <div class=" col-sm-6 pad_left">
                <form method="post" name="addofficers" ng-submit="editOfficers(addofficers.$valid)" id="edit-profile-form" novalidate="" class="ng-pristine ng-valid">
                       <div class="form-group div-height-add">
                            <label for="officeName" class="col-sm-4 control-label label_payment">First Name:</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" name="name" ng-model="name" required>
                                 <div class="Err" ng-show="(addofficers.$submitted || addofficers.name.$dirty ) && addofficers.name.$error.required">Please enter first name</div>
                            </div>
                        </div>
                         <div class="form-group div-height-add">
                            <label for="officeName" class="col-sm-4 control-label label_payment">Last Name:</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" name="lname" ng-model="lname" required>
                                 <div class="Err" ng-show="(addofficers.$submitted || addofficers.lname.$dirty ) && addofficers.lname.$error.required">Please enter last name</div>
                            </div>
                        </div>
                        <div class="form-group div-height-add">
                            <label for="officeAddress" class="col-sm-4 control-label label_payment">Email:</label>
                            <div class="col-sm-8">
                                <input type="email" class="form-control" name="email" ng-model="email" required>
                                 <div class="Err" ng-show="(addofficers.$submitted || addofficers.email.$dirty ) && addofficers.email.$error.required">Please enter email</div>
                                 <div class="Err" ng-show="(addofficers.$submitted || addofficers.email.$dirty ) && addofficers.email.$error.email">Please enter valid email id</div>
                            </div>
                        </div>
                         
                         <div class="form-group div-height-add">
                            <label for="officeName" class="col-sm-4 control-label label_payment">Cell Number:</label>
                            <div class="col-sm-8">
                                <input type="tel" class="form-control" name="phone" maxlength="10" ng-model="phone" required ng-pattern="/^(0|[1-9][0-9]*)$/">
                                 <div class="Err" ng-show="(addofficers.$submitted || addofficers.phone.$dirty ) && addofficers.phone.$error.required">Please enter cell number</div>
                                 <div class="Err" ng-show="(addofficers.$submitted || addofficers.phone.$dirty ) && addofficers.phone.$error.pattern">Please enter valid cell number</div>
                            </div>
                        </div>
                       <div class="form-group div-height-add">
                            <label for="officeDescription" class="col-sm-4 control-label label_payment">Office:</label>
                            <div class="col-sm-8">
                                <select class="form-control" name="officers_office" ng-model="officers_office"> 
                              <option ng-repeat="office in officeList" value="{{office.id}}">{{office.name}}</option>
                                </select> 
                            </div>
                        </div>
                        <div class="form-group  div-height-add">
                            <div class="col-sm-12 text-right">
                                <div class="editprofilebutton" style="margin: 7px;"></div>
                                 <a href="#webmaster-officers" type="button" class="btn btn-default camra_btn" data-identifyelement="10"><span class="pen_icon"></span> Cancel</a>
                                <button type="submit" class="btn btn-default camra_btn" data-identifyelement="10"><span class="pen_icon"></span>Update</button>
                            </div>
                        </div>
                    </form>
                </div>
               
            </div>
        </div>
    </div>
    <!-- /#page-wrapper -->
</div>
</div>

<!-- changes password -->
<div class="modal fade " id="adminchangespassuser" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content ">
            <div class="modal-header custom-m-headr">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Change password </h4>
            </div>
            <form method="post" name="changePassForm" id="changePassForm" ng-submit="changeUserpass()" novalidate="" class="ng-pristine ng-valid">
                <div class="modal-body custom-model clearfix">
                    <div class="form-group col-md-6 div-height-add">
                        <label>New Password</label>
                        <input type="password" class="form-control custom-input3" id="password" placeholder="New Password" name="password" ng-model="password" required>
                        <div class="Err" ng-show="(changePassForm.$submitted || changePassForm.password.$dirty ) && changePassForm.password.$error.required">Please enter new password</div>
                    </div>
                    <div class="form-group col-md-6 div-height-add">
                        <label>Confirm Password</label>
                        <input type="password" class="form-control custom-input3" name="cnfPassword" ng-model="cnfPassword" id="inputEmail3" placeholder="Confirm Password" required pw-check='password'>
                        <div class='Err' ng-show='changePassForm.cnfPassword.$error.pwmatch'>Passwords don't match</div>
                        <div class="Err" ng-show="(changePassForm.$submitted || changePassForm.cnfPassword.$dirty ) && changePassForm.cnfPassword.$error.required">Please enter confirm password</div>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-default submit-btn">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>
</div>