<div id="wrapper">
    <div ng-include src="'partials/include/sidebar.html'"></div>
    <div id="page-wrapper">
            <div class="col-sm-12 msg_alert">
                <div class="alert alert-success row auto-margin" ng-if="showSuccess == true">
                    {{showSuccessMsg}}
                </div>
                <div class="alert alert-danger row auto-margin" ng-if="resErrorMsg == true">
                    {{responseErrorMSG}}
                </div>
            </div>
        <div class="col-sm-12 col-md-12 graphs">
            <h1 class="text-right page_title clearfix">                 
              <span class="pull-left">Edit Office</span>
              </h1>
            <div class="col-sm-12 col-md-12 user_form box">
                <div class=" col-sm-6 pad_left">
                <form method="post" name="addoffice" ng-submit="editOffice(addoffice.$valid)" id="edit-profile-form" novalidate="" class="ng-pristine ng-valid">
                        <div class="form-group div-height-add">
                            <label for="officeName" class="col-sm-4 control-label label_payment">Office Name:</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" name="officeName" ng-model="officeName" required>
                                 <div class="Err" ng-show="(addoffice.$submitted || addoffice.officeName.$dirty ) && addoffice.officeName.$error.required">Please enter office name</div>
                            </div>
                        </div>
                        <div class="form-group div-height-add">
                            <label for="officeAddress" class="col-sm-4 control-label label_payment">Office Address:</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" name="officeAddress" ng-model="officeAddress" required>
                                 <div class="Err" ng-show="(addoffice.$submitted || addoffice.officeAddress.$dirty ) && addoffice.officeAddress.$error.required">Please enter office Address</div>
                            </div>
                        </div>
						 <div class="form-group div-height-add">
                            <label for="officeName" class="col-sm-4 control-label label_payment">Cell Number:</label>
                            <div class="col-sm-8">
                                <input type="tel" class="form-control" ng-pattern="/^(0|[1-9][0-9]*)$/" name="phone" maxlength="10" ng-model="phone" required>
                                 <div class="Err" ng-show="(addoffice.$submitted || addoffice.phone.$dirty ) && addoffice.phone.$error.required">Please enter cell number</div>
								 <div class="Err" ng-show="(addoffice.$submitted || addoffice.phone.$dirty ) && addoffice.phone.$error.pattern">Please enter valid cell number</div>
                            </div>
                        </div>
                       <div class="form-group div-height-add">
                            <label for="officeDescription" class="col-sm-4 control-label label_payment">Office Description:</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" name="officeDescription" ng-model="officeDescription" required>
                                 <div class="Err" ng-show="(addoffice.$submitted || addoffice.officeDescription.$dirty ) && addoffice.officeDescription.$error.required">Please enter office description</div>
                            </div>
                        </div>
                        <div class="form-group  div-height-add">
                            <div class="col-sm-12 text-right">
                                <div class="editprofilebutton" style="margin: 7px;"></div>
                                 <a href="#webmaster-offices" type="button" class="btn btn-default camra_btn" data-identifyelement="10"><span class="pen_icon"></span> Cancel</a>
                                <button type="submit" class="btn btn-default camra_btn" data-identifyelement="10"><span class="pen_icon"></span> Update</button>
                            </div>
                        </div>
                    </form>
                </div>
               
            </div>
        </div>
    </div>
    <!-- /#page-wrapper -->
</div>
</div>