<div class="crossfade">
    <figure></figure>
    <figure></figure>
    <figure></figure>
    <figure></figure>
    <figure></figure>
    <div class="col-md-12 upr-div">
    <div class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 text-center">
                        <div class="login-logo">
                            <h3 class="login-title">Welcome!</h3>
                            <h4 class="sign-title">Sign in to Your Account</h4>
                           <p style="color:red;font-size:17px;">{{responseMessage}}</p>
                        </div>
                        <div class="app-cam">
                            <div class="login-body">
                                <form method="post" name="myForm" ng-submit="adminLogin()" autocomplete="off" novalidate>
                                    <div class="col-md-12 no-pad div-height">
                                        <label class="custom-input-label">
                                            <input type="email" class="text" name="email" ng-model="usr.email" placeholder="E-mail address" required>
                                        </label>
                                       <div class="Err" ng-show="myForm.email.$dirty &&  myForm.email.$error.required">Please enter email</div>
                                        <div class="Err" ng-show="myForm.email.$dirty &&  myForm.email.$error.email">Please enter valid email id</div>
                                    </div>
                                    <div class="col-md-12 no-pad div-height">
                                        <label class="custom-input2-label">
                                            <input type="password" name="password" ng-model="usr.password" placeholder="Password" required>
                                        </label>
                                       <div class="Err" ng-show="myForm.password.$dirty &&  myForm.password.$error.required">Please enter password</div>
                                    </div>
                                    <div class="submit">
                                        <input type="submit" class="btn btn-primary login_btn" ng-disabled="!myForm.$valid" value="Login">
                                    </div>
                                </form>
                            </div>
                            <p class="green_border"></p>
                            <p class="orange_border"></p>
                        </div>
                        <div ng-include ng-src="'partials/webmaster/footer.html'"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

<style type="text/css">
.div-height {
    min-height: 73px;
}

.app-cam input[type="text"]::-webkit-input-placeholder,
.app-cam input[type="email"]::-webkit-input-placeholder,
.app-cam input[type="password"]::-webkit-input-placeholder {
    color: #999 !important
}

.app-cam input[type="password"]::-moz-placeholder,
.app-cam input[type="email"]::-moz-placeholder,
.app-cam input[type="text"]::-moz-placeholder {
    color: #999 !important
}
</style>