<div id="wrapper">
    <div ng-include src="'partials/include/sidebar.html'"></div>
    <div id="page-wrapper">
        
            <div class="col-sm-12 msg_alert">
                <div class="alert alert-success row auto-margin" ng-if="showSuccess == true">
                    {{showSuccessMsg}}
                </div>
                <div class="alert alert-danger row auto-margin" ng-if="resErrorMsg == true">
                    {{responseErrorMSG}}
                </div>
            </div>
        <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12 graphs">
              <h1 class="text-right page_title clearfix">
                 <span class="pull-left">Offices</span>
                 <a href="#webmaster-addoffice" tooltip-placement="{{placement.selected}}" uib-tooltip="Add Office {{placement.selected}}" type="button" class="btn btn-primary">Add Office {{placement.selected}}</a>
             </h1>
            <table class="table table-striped table-bordered" datatable="ng" dt-options="vm.dtOptions">
                <thead>
                    <tr>
                        <th>Office Name</th>
                        <th>Address</th>
                        <!--<th>Manager</th>-->
                        <th>View</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="office in officeList">
                        <td>{{office.name | capitalize}}</td>
                        <td>{{office.address}}</td>
                        <!--<td><a href="#webmaster-officers/{{office.id}}" style="color:blue;">Manager</a></td>-->
                        <td><a href="#webmaster-viewoffice/{{office.id}}" tooltip-placement="{{placement.selected}}" uib-tooltip="View Office {{placement.selected}}" type="button" class="btn btn-primary btn-lg"><i class="fa fa-eye"aria-hidden="true">{{placement.selected}}</i></a></td>
                        <td><a href="#webmaster-editoffice/{{office.id}}" tooltip-placement="{{placement.selected}}" uib-tooltip="Edit Office {{placement.selected}}" type="button" class="btn btn-primary btn-lg"><i class="fa fa-edit"aria-hidden="true">{{placement.selected}}</i></a></td>
                        <td><a tooltip-placement="{{placement.selected}}" uib-tooltip="Delete Office {{placement.selected}}" type="button" class="btn btn-primary btn-lg" ng-click="getOfficeId(office.id)"><i class="fa fa-trash"aria-hidden="true">{{placement.selected}}</i></a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!--</div>-->
        <!-- Data table -->
    </div>
</div>
   
    <div class="modal fade delete_pop" id="myModelDelete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header custom-m-headr">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h2 class="modal-title">Delete</h2>
                </div>
                <div class="modal-body">
                    <div class="user_list_detail clearfix">
                        <div class="col-md-12 main-brdr-div">
                            <div class="col-sm-12">
                                <p class="pop_box_title">Are you sure you want to delete?</p>
                            </div>
                        </div>
                        <!--  -->
                    </div>
                </div>
                <div class="modal-footer text-center">
                    <button type="button" class="btn btn-primary pop-up_btn-green" data-dismiss="modal" ng-click="officeDelete()">yes</button>
                    <button type="button" class="btn btn-primary pop-up_btn-red" data-dismiss="modal">no</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>

    