<div id="wrapper">
    <div ng-include src="'partials/include/sidebar.html'"></div>
    <div id="page-wrapper">
             <div class="col-sm-12 msg_alert">
                <div class="alert alert-success row auto-margin" ng-if="showSuccess == true">
                    {{showSuccessMsg}}
                </div>
                <div class="alert alert-danger row auto-margin" ng-if="resErrorMsg == true">
                    {{responseErrorMSG}}
                </div>
            </div>
        <div class="col-sm-12 col-md-12 graphs">
            <h3 class="page_title clearfix"><span class="pull-left">Admin Detail</span><span class="pull-right"><a href ng-click="backpage()" class="btn btn-default camra_btn">Back</a></span></h3>
            <div class="col-sm-12 col-md-12 user_form  box" ng-if="name || email || phone">
                <div class=" col-sm-6">
                    <form method="post" name="updateForm" id="update-form" autocomplete="off" novalidate="" class="ng-pristine ng-valid edit_user_form">
                        <div class="form-group" ng-if="name | capitalize">
                            <label for="inputEmail3" class="col-sm-4 control-label label_payment">Name:</label>
                            <div class="col-sm-8">
                                <span ng-if="name | capitalize">{{name | capitalize}} {{lname | capitalize}}</span>
                            </div>
                        </div>
                        <div class="form-group" ng-if="email">
                            <label for="inputEmail3" class="col-sm-4 control-label label_payment">Email:</label>
                            <div class="col-sm-8">
                                <span>{{email}}</span>
                            </div>
                        </div>
                     <div class="form-group" ng-if="phone">
                            <label for="inputEmail3" class="col-sm-4 control-label label_payment">Cell Number:</label>
                            <div class="col-sm-8">
                                <span>{{phone}}</span>
                            </div>
                    </div>
                      <div class="form-group" ng-if="created_at">
                            <label for="inputEmail3" class="col-sm-4 control-label label_payment">Created Date:</label>
                            <div class="col-sm-8">
                                <span>{{created_at | date:'MM/dd/yyyy'}}</span>
                            </div>
                    </div>
                </div>
                </form>

            </div>
            
        </div>

</div>
    <!-- /#page-wrapper -->
</div>