<div id="wrapper">
    <div ng-include src="'partials/include/sidebar.html'"></div>
    <div id="page-wrapper">
            <div class="col-sm-12 msg_alert">
                <div class="alert alert-success row auto-margin" ng-if="showSuccess == true">
                    {{showSuccessMsg}}
                </div>
                <div class="alert alert-danger row auto-margin" ng-if="resErrorMsg == true">
                    {{responseErrorMSG}}
                </div>
            </div>
        <div class="col-sm-12 col-md-12 graphs">
            <h3 class="page_title clearfix"><span class="pull-left">Contractors Detail</span><span class="pull-right"><a href ng-click="backpage()" class="btn btn-default camra_btn">Back</a></span></h3>
            <div class="col-sm-12 col-md-12 user_form  box" ng-if="contractorDetail">
                <div class=" col-sm-6">
                    <form method="post" name="updateForm" id="update-form" autocomplete="off" novalidate="" class="ng-pristine ng-valid edit_user_form">
                        <div class="form-group" ng-if="contractorDetail.name">
                            <label for="inputEmail3" class="col-sm-4 control-label label_payment">Name:</label>
                            <div class="col-sm-8">
                                <span ng-if="contractorDetail.name | capitalize">{{contractorDetail.name | capitalize}} {{lname | capitalize}}</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-4 control-label label_payment">Email:</label>
                            <div class="col-sm-8">
                                <span>{{contractorDetail.email }}</span>
                            </div>
                        </div>
                   <!--  <div class="form-group">
                            <label for="inputEmail3" class="col-sm-4 control-label label_payment">Password:</label>
                            <div class="col-sm-8">
                                <span>{{contractorDetail.password}}</span>
                            </div>
                    </div> -->
                     <div class="form-group">
                            <label for="inputEmail3" class="col-sm-4 control-label label_payment">Cell Number:</label>
                            <div class="col-sm-8">
                                <span>{{contractorDetail.phone}}</span>
                            </div>
                    </div>
                   <!-- <div class="form-group">
                            <label for="inputEmail3" class="col-sm-4 control-label label_payment">Office Name:</label>
                            <div class="col-sm-8">
                                <span>{{contractorDetail.office}}</span>
                            </div>
                    </div>-->
					 <div class="form-group">
                            <label for="inputEmail3" class="col-sm-4 control-label label_payment">Company Name:</label>
                            <div class="col-sm-8">
                                 <span ng-show="company != undefined">{{company | capitalize}}</span>
                                <span ng-hide="company != undefined">Not Availabel</span>
                                
                            </div>
                    </div>
					 <div class="form-group">
                            <label for="inputEmail3" class="col-sm-4 control-label label_payment">Crew Number:</label>
                            <div class="col-sm-8">
                                <span ng-show="crew_no != undefined">{{crew_no }}</span>
                                <span ng-hide="crew_no != undefined">Not Availabel</span><span></span>
                            </div>
                    </div>
                       <div class="form-group">
                            <label for="inputEmail3" class="col-sm-4 control-label label_payment">Notes:</label>
                            <div class="col-sm-8">
                                <span ng-show="notes != undefined">{{notes}}</span>
                                <span ng-hide="notes != undefined">Not Availabel</span><span></span><span></span>
                            </div>
                    </div>
                      <div class="form-group">
                            <label for="inputEmail3" class="col-sm-4 control-label label_payment">Created Date:</label>
                            <div class="col-sm-8">
                                <span>{{contractorDetail.created_at | date:'MM/dd/yyyy'}}</span>
                            </div>
                    </div>
                </div>
                </form>

            </div>
            
        </div>

</div>
    <!-- /#page-wrapper -->
</div>