<div id="wrapper">
    <div ng-include src="'partials/include/sidebar.html'"></div>
    <div id="page-wrapper">
            <div class="col-sm-12 msg_alert">
                <div class="alert alert-success row auto-margin" ng-if="showSuccess == true">
                    {{showSuccessMsg}}
                </div>
                <div class="alert alert-danger row auto-margin" ng-if="resErrorMsg == true">
                    {{responseErrorMSG}}
                </div>
            </div>
        <div class="col-sm-12 col-md-12 graphs">
            <h3 class="page_title clearfix">
            <span class="pull-left">Lead Detail</span>
            <span class="pull-right">
               <a href ng-click="backpage()" class="btn btn-default camra_btn">Back</a>
            </span>
         </h3>
            <div class="col-sm-12 col-md-12 user_form  box">
                <div class=" col-sm-6   edit_user_form lead_form_view">
                    <div class="form-group col-xs-12 no-pad">
                        <label for="inputEmail3" class="col-sm-4 control-label label_payment">Name :</label>
                        <div class="col-sm-8">
                            <span ng-if="lead_name | capitalize">{{lead_name | capitalize}}</span>
                        </div>
                    </div>
                    <div class="form-group col-xs-12 no-pad ">
                        <label for="inputEmail3" class="col-sm-4 control-label label_payment">Address:</label>
                        <div class="col-sm-8">
                            <span>{{address}}</span>
                        </div>
                    </div>
                    <div class="form-group col-xs-12 no-pad">
                        <label for="inputEmail3" class="col-sm-4 control-label label_payment">Zip:</label>
                        <div class="col-sm-8">
                            <span>{{jobZipcode}}</span>
                        </div>
                    </div>
                    <div class="form-group col-xs-12 no-pad">
                        <label for="inputEmail3" class="col-sm-4 control-label label_payment">State:</label>
                        <div class="col-sm-8">
                            <span ng-if="jobState | capitalize">{{jobState | capitalize}}</span>
                        </div>
                    </div>
                    <div class="form-group col-xs-12 no-pad">
                        <label for="inputEmail3" class="col-sm-4 control-label label_payment">Cell Number:</label>
                        <div class="col-sm-8">
                            <span>{{phone}}</span>
                        </div>
                    </div>
                    <div class="form-group col-xs-12 no-pad">
                        <label for="inputEmail3" class="col-sm-4 control-label label_payment">Officer:</label>
                        <div class="col-sm-8">
                            <span ng-if="officer_name | capitalize">{{officer_name | capitalize}}</span>
                        </div>
                    </div>
                    <div class="form-group col-xs-12 no-pad">
                        <label for="inputEmail3" class="col-sm-4 control-label label_payment">Source:</label>
                        <div class="col-sm-8">
                            <span ng-if="source != '' && source | capitalize">{{source | capitalize }}</span>
                            <span ng-if="source == ''">Not Available</span>
                        </div>
                    </div>
                    <div class="form-group col-xs-12 no-pad">
                        <label for="inputEmail3" class="col-sm-4 control-label label_payment">Created Date:</label>
                        <div class="col-sm-8">
                            <span>{{created_at | date:'MM/dd/yyyy'}}</span>
                        </div>
                    </div>
                </div>
                <!-- map div -->
                <div class=" col-sm-6 pad_left">
                    <span>{{apiStatus}}</span>
                    <div id="map" class="no-margin"></div>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="col-md-12 ">
                <button type="button" data-toggle="modal" data-target="#myModelnote" class="btn btn-default blue-btn pull-right">Add Notes</button>
                <h3 class="page_title">Notes:</h3>
            </div>
            <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12 banner-one part-two">
                <div class="col-md-12 no-pad all-section">
                    <p class="text-center">{{notesmessage}}</p>
                    <div class="panel panel-default comments" ng-repeat="notes in notesList">
                        <div class="panel-heading">
                            <div class="pull-left"></div>
                            <strong ng-if="notes.user_id == null"> Lead tracker  </strong>
                            <strong ng-hide="notes.show != Loginid"> {{notes.name | capitalize}}  </strong><strong ng-show="notes.user_id == Loginid"> Me  </strong> <strong>added on {{notes.created_at | date:'MM/dd/yyyy h:mm a'}}  </strong>
                            <div class="pull-right right-icon">
                                <i class="fa fa-pencil-square" style="cursor:pointer" aria-hidden="true" ng-click="editleadNote(notes)"></i>
                                <!--   <i  class="fa fa-trash" style="cursor:pointer" aria-hidden="true" ng-click="deleteleadNote(notes.id,notes.lead_id)"></i> -->
                            </div>
                        </div>
                        <div class="panel-body">
                            <p ng-bind-html="notes.note | nl2br"></p>
                        </div>
                        <!-- /panel-body -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /#page-wrapper -->
</div>
</div>
<!--modal box for comment  -->
<div class="modal fade comment_pop" id="myModelnote" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header custom-m-headr">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h2 class="modal-title">Add Note</h2>
            </div>
            <form method="post" name="add_note" ng-submit="addleadNote(add_note.$valid)" autocomplete="off" novalidate id="add-note">
                <div class="modal-body custom-model clearfix">
                    <div class="form-group col-md-12 comment-height-add">
                        <label for="name">Note</label>
                        <div id="summernote" ng-model="comment"></div>
                        <input type="hidden" ng-model="comment" name="comment" id="comment">
                        <span class="error_label Err" for="error_label"> </span>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-default submit-btn">Add</button>
                </div>
            </form>
        </div>
    </div>
    <!-- /.modal-content -->
</div>
<!-- edit comment -->
<div class="modal fade comment_pop" id="ModeleditComment" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header custom-m-headr">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h2 class="modal-title">Edit Note</h2>
            </div>
            <form method="post" name="edit_note" ng-submit="editleadNotesave(edit_note.$valid)" autocomplete="off" novalidate id="edit_note">
                <div class="modal-body custom-model clearfix">
                    <div class="form-group col-md-12 comment-height-add">
                        <label for="name">Note</label>
                        <div id="summernote2" ng-model="enote"></div>
                        <input type="hidden" ng-model="edit_note_id" name="edit_note_id" id="edit_note_id">
                        <input type="hidden" ng-model="edit_job_id" name="edit_job_id" id="edit_job_id">
                        <input type="hidden" ng-model="enote" name="enote" id="enote"> <span class="error_label Err" for="error_label"> </span>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-default submit-btn">Update</button>
                </div>
            </form>
        </div>
    </div>
    <!-- /.modal-content -->
</div>
<!-- /.modal-dialog -->
</div>
<!-- delete comment -->
<div class="modal fade delete_pop" id="ModelDeleteComment" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header custom-m-headr">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h2 class="modal-title">Delete</h2>
            </div>
            <div class="modal-body">
                <div class="user_list_detail clearfix">
                    <div class="col-md-12 main-brdr-div">
                        <div class="col-sm-12">
                            <p class="pop_box_title">Are you sure you want to delete this note?</p>
                        </div>
                        <!-- <div class="col-sm-8">
                     <p></p>
                     </div> -->
                    </div>
                    <!--  -->
                </div>
            </div>
            <div class="modal-footer text-center">
                <button type="button" class="btn btn-primary pop-up_btn-green" data-dismiss="modal" ng-click="deleteleadnote(n_id,lead_id);">yes</button>
                <button type="button" class="btn btn-primary pop-up_btn-red" data-dismiss="modal">no</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<style type="text/css">
h3 img {
    max-height: 50px;
}

#map {
    height: 400px;
    margin: 0px 0;
    border-radius: 5px;
    border: 1px solid silver;
}
</style>