<div id="wrapper">
    <div ng-include src="'partials/include/sidebar.html'"></div>
    <div id="page-wrapper">
            <div class="col-sm-12 msg_alert">
                <div class="alert alert-success row auto-margin" ng-if="showSuccess == true">
                    {{showSuccessMsg}}
                </div>
                <div class="alert alert-danger row auto-margin" ng-if="resErrorMsg == true">
                    {{responseErrorMSG}}
                </div>
            </div>
        <div class="col-sm-12 col-md-12 graphs">
            <h1 class="text-right page_title clearfix">                 
              <span class="pull-left">Active Job Detail</span>
              <span class="pull-right"><a href ng-click="backpage()" class="btn btn-default camra_btn">Back</a></span>
              </h1>
            <div class="col-sm-12 col-md-12 user_form box">
                <div class=" col-sm-6 pad_left">
                <form method="post" name="addoffice" id="edit-profile-form" novalidate="" class="ng-pristine ng-valid">
                       <div class="form-group div-height-add">
                            <label for="officeAddress" class="col-sm-4 control-label label_payment">Job Number:</label>
                            <div class="col-sm-8">
                                <span>#5d8895</span>
                            </div>
                        </div>
                        <div class="form-group div-height-add">
                            <label for="officeAddress" class="col-sm-4 control-label label_payment">Location:</label>
                            <div class="col-sm-8">
                                <span></span>
                            </div>
                        </div>
                        <div class="form-group div-height-add">
                            <label for="officeAddress" class="col-sm-4 control-label label_payment">Address:</label>
                            <div class="col-sm-8">
                                <span></span>
                            </div>
                        </div>
                        <div class="form-group div-height-add">
                            <label for="officeAddress" class="col-sm-4 control-label label_payment">Zipcode:</label>
                            <div class="col-sm-8">
                                <span></span>
                            </div>
                        </div>
                         <div class="form-group div-height-add">
                            <label for="officeAddress" class="col-sm-4 control-label label_payment">City:</label>
                            <div class="col-sm-8">
                                <span></span>
                            </div>
                        </div>
                       <div class="form-group div-height-add">
                            <label for="officeAddress" class="col-sm-4 control-label label_payment">Status:</label>
                            <div class="col-sm-8">
                                <span></span>
                            </div>
                        </div>
                         <div class="form-group div-height-add">
                            <label for="officeAddress" class="col-sm-4 control-label label_payment">Start Time:</label>
                            <div class="col-sm-8">
                                <span></span>
                            </div>
                        </div>
                        <div class="form-group div-height-add">
                            <label for="officeAddress" class="col-sm-4 control-label label_payment">Number of Workers:</label>
                            <div class="col-sm-8">
                                <span></span>
                            </div>
                        </div>
                         <div class="form-group div-height-add">
                            <label for="officeAddress" class="col-sm-4 control-label label_payment">End Time:</label>
                            <div class="col-sm-8">
                                <span></span>
                            </div>
                        </div>
                         <div class="form-group div-height-add">
                            <label for="officeAddress" class="col-sm-4 control-label label_payment">Working Hour:</label>
                            <div class="col-sm-8">
                                <span></span>
                            </div>
                        </div>
                        <div class="form-group div-height-add">
                            <label for="officeAddress" class="col-sm-4 control-label label_payment">Start Date:</label>
                            <div class="col-sm-8">
                                <span></span>
                            </div>
                        </div>
                        <div class="form-group div-height-add">
                            <label for="officeAddress" class="col-sm-4 control-label label_payment">Created Date:</label>
                            <div class="col-sm-8">
                                <span></span>
                            </div>
                        </div>

                  </form>
                </div>

                  <!-- map div -->
                   <div class=" col-sm-6 pad_right">
                  <span>{{apiStatus}}</span>
                    <div id="map"></div>
                 </div>
               
            </div>
        </div>
    </div>
    <!-- /#page-wrapper -->
</div>
</div>

<style type="text/css">
    h3 img {
    max-height: 50px;
}
#map { 
    height: 400px;
    margin: 20px 0;
    border-radius: 5px;
    border: 1px solid silver;
}
</style>
