<div id="wrapper">
    <div ng-include src="'partials/include/sidebar.html'"></div>
    <div id="page-wrapper">
            <div class="col-sm-12 msg_alert">
                <div class="alert alert-success row auto-margin" ng-if="showSuccess == true">
                    {{showSuccessMsg}}
                </div>
                <div class="alert alert-danger row auto-margin" ng-if="resErrorMsg == true">
                    {{responseErrorMSG}}
                </div>
            </div>
        <div class="col-sm-12 col-md-12 graphs">
            <h3 class="page_title"><span class="pull-left">Profile Detail</span><span class="pull-right"><a href="#webmaster-updateprofile" class="btn btn-default camra_btn">Edit Profile</a></span></h3>
            <div class="col-sm-12 col-md-12 user_form  box" ng-if="adminList">
                <div class=" col-sm-6">
                    <form method="post" name="updateForm" id="update-form" autocomplete="off" novalidate="" class="ng-pristine ng-valid edit_user_form">
                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-4 control-label label_payment">Name:</label>
                            <div class="col-sm-8">
                                <span ng-if="adminList.name | capitalize">{{adminList.name | capitalize}} {{ adminList.last_name | capitalize }}</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-4 control-label label_payment">Email:</label>
                            <div class="col-sm-8">
                                <span>{{adminList.email}}</span>
                            </div>
                        </div>
                        <!--  <div class="form-group">
                            <label for="inputEmail3" class="col-sm-4 control-label label_payment">Password:</label>
                            <div class="col-sm-8">
                                <span>{{password}}</span>
                            </div>
                        </div> -->
                          <div class="form-group">
                            <label for="inputEmail3" class="col-sm-4 control-label label_payment">Cell Number:</label>
                            <div class="col-sm-8">
                                <span>{{adminList.phone}}</span>
                            </div>
                        </div>
                   

                     <div class="form-group">
                            <label for="inputEmail3" class="col-sm-4 control-label label_payment">Profile Image:</label>
                            <div class="col-sm-8">
                                <img ng-if="image == true" src="../backend/uploads/{{service_get_image}}" height="80" width="80">
                                <img ng-if="image != true" src="../backend/uploads/{{service_get_image}}" height="80" width="80">
                                <!--<span ng-if="officers_office | capitalize">{{officers_office | capitalize}}</span>-->
                            </div>
                    </div>
                </div>
                </form>

            </div>
            
        </div>

</div>
    <!-- /#page-wrapper -->
</div>