<div class="crossfade">
    <figure></figure>
    <figure></figure>
    <figure></figure>
    <figure></figure>
    <figure></figure>
<div class="col-md-12 upr-div no-pad">
    <div class="intro ">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 text-center">
                        <div class="login-logo">
                            <!-- <a><img src="images/logo.png" alt="" width="250" /></a> -->
                        </div>
                        <div class="activation_sign2">
                            <div class="thankyou">
                                <!-- <img src="images/crtloggedin.png"> -->
                                <p style="color:green">Reset Password link sent on your email id!</p>
                                <br/>
                                <a href="#/" style="font-size:20px;">Login</a>
                            </div>
                        </div>
                        <div class="copy_layout login">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>