<div class="crossfade">
    <figure></figure>
    <figure></figure>
    <figure></figure>
    <figure></figure>
    <figure></figure>
<div class="col-md-12 upr-div no-pad">

<div class="intro">
    <div class="intro-body">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <div class="login-logo">
                        <h3 class="login-title">Welcome!</h3>
                        <h4 class="sign-title"></h4>
                    </div>
                    <p style="color:red;font-size:20px;margin-top:-30px;">{{responseMessage}}</p>
                    <div class="app-cam">
                        <div class="login-body">
                            <form method="patch" name="myForm" ng-submit="forgotPass()" autocomplete="off" novalidate class="forget_password">
                                <h2 class="form-heading">Forgot Password</h2>
                                <div class="col-md-12 no-pad div-height">
                                    <label class="custom-input-label">
                                        <input type="email" class="text" name="email" ng-model="usr.email" placeholder="E-mail address" required>
                                    </label>
                                    <div class="Err" ng-show="myForm.email.$dirty &&  myForm.email.$error.required">Please enter email</div>
                                    <div class="Err" ng-show="myForm.email.$dirty &&  myForm.email.$error.email">Please enter valid email id</div>
                                </div>
                                <div class="submit">
                                    <input type="submit" class="btn btn-primary login_btn" ng-disabled="!myForm.$valid" value="Submit">
                                </div>
                                <ul class="new text-center">
                                    <p><a style="color:#fff;" href="#/">Login</a></p>
                                    <div class="clearfix"></div>
                                </ul>
                            </form>
                        </div>
                    </div>
                    <div class="copy_layout login">
                      
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>
<style type="text/css">
.div-height {
    min-height: 73px;
}

.app-cam input[type="text"]::-webkit-input-placeholder,
.app-cam input[type="email"]::-webkit-input-placeholder,
.app-cam input[type="password"]::-webkit-input-placeholder {
    color: #999 !important
}

.app-cam input[type="password"]::-moz-placeholder,
.app-cam input[type="email"]::-moz-placeholder,
.app-cam input[type="text"]::-moz-placeholder {
    color: #999 !important
}
</style>