<div class="crossfade">
    <figure></figure>
    <figure></figure>
    <figure></figure>
    <figure></figure>
    <figure></figure>
<!-- chnages the code -->
<div class="col-md-12 upr-div">
    <nav id="navigation" class="navbar navbar-inverse main_bg navbar-fixed-top" role="navigation" style="">
        <div class="container-fluid">
            <div class="container">
                <div class="navbar-header page-scroll">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-rj-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <!-- <div class="fb-icon hidden-xs"><a href="https://www.facebook.com/Trucking-Starter-1147442091978010/" target="_blank"><img src="http://www.truckingstarter.com/assets/img/fb.png" class="img-responsive"></a></div> -->
                    <a href="#/" class="navbar-brand">
                        <div class="icon-home"></div>
                    </a>
                </div>
                <!-- //.navbar-header -->
                <div class="navbar-collapse collapse navbar-rj-collapse custom-menu">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="page-scroll">
                            <a href="#/">Home</a>
                        </li>
                        <li class="page-scroll">
                            <a href="#/">About RTCR</a>
                        </li>
                        <li class=" page-scroll ">
                            <a href="#/">Recruiters</a>
                        </li>
                        <li class="page-scroll"><a href="#/">Coaches</a></li>
                        <li class="page-scroll"><a href="#/">Players</a></li>
                        <li class="page-scroll"><a href="#/">Tournaments & Camps</a></li>
                        <li class="page-scroll active"><a href="#/">Login</a></li>
                    </ul>
                </div>
                <!-- //.navbar-collapse -->
            </div>
        </div>
        <!-- //.container -->
    </nav>
    <div class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 text-center">
                        <div class="login-logo">
                            <h3 class="login-title">Welcome!</h3>
                            <h4 class="sign-title">Sign in to Your Account</h4>
                            <p style="color:red;font-size:17px;">{{responseMessage}}</p>
                        </div>
                        <div class="app-cam-signup activation_sign">
                            <div class="login-body">
                                <div class="bs-example bs-example-tabs" role="tabpanel" data-example-id="togglable-tabs">
                                    <ul id="myTab" class="nav nav-tabs" role="tablist">
                                        <li role="presentation">
                                            <a href id="home-tab" role="tab" data-toggle="tab" aria-controls="home" aria-expanded="true">Login</a>
                                        </li>
                                       <!-- <li role="presentation">
                                            <a href ng-click="tab = 2" role="tab" data-toggle="tab" id="profile" aria-controls="profile">Sign Up</a>
                                        </li>-->
                                    </ul>
                                    <div id="myTabContent" class="tab-content">
                                        <!-- login tab -->
                                        <div role="tabpanel" class="tab-pane fade in active" id="home" aria-labelledby="home-tab">
                                            <form method="post" name="login_form" ng-submit="loginFrontEndUser(login_form.$valid)" autocomplete="off" novalidate class="all-comon-form">
                                                <div class="col-md-12 no-pad div-height">
                                                    <label class="custom-input-label">
                                                        <input type="email" class="text" name="email" ng-model="usr.email" placeholder="E-mail address" required>
                                                    </label>
                                                    <div class="Err" ng-show="login_form.email.$dirty &&  login_form.email.$error.required">Please enter email</div>
                                                    <div class="Err" ng-show="login_form.email.$dirty &&  login_form.email.$error.email">Please enter valid email id</div>
                                                </div>
                                                <div class="col-md-12 no-pad div-height">
                                                    <label class="custom-input2-label">
                                                        <input type="password" name="password" ng-model="usr.password" placeholder="Password" required>
                                                    </label>
                                                    <div class="Err" ng-show="login_form.password.$dirty &&  login_form.password.$error.required">Please enter password</div>
                                                </div>
                                                <div class="submit col-md-12 no-pad div-height">
                                                    <input type="submit" class="btn btn-primary login_btn" ng-disabled="!login_form.$valid" value="login" />
                                                </div>
                                                <p>{{message}}</p>
                                                <ul class="new">
                                                    <li class="new_left">
                                                        <p><a href ng-click="forgotPassword()">Forgot Password?</a>
                                                        </p>
                                                    </li>
                                                </ul>
                                                <ul class="new">
                                                    <li class="new_right">
                                                       <!-- <p class="sign">New here?
                                                            <a href role="tab" data-toggle="tab" id="profile" aria-controls="profile">Sign Up</a>
                                                        </p>-->
                                                    </li>
                                                    <div class="clearfix"></div>
                                                </ul>
                                            </form>
                                        </div>
                                        <!-- signup tab -->
                                        <div role="tabpanel" class="tab-pane fade in active" id="profile" ng-show="tab === 2" aria-labelledby="profile-tab">
                                            <form class="form-horizontal all-comon-form" method="post" ng-submit="frontEndUserSignup(signup_form.$valid)" name="signup_form" novalidate class="all-comon-form">
                                                <div class="form-group no-margin div-height">
                                                    <div class="col-sm-6">
                                                        <input type="text" class="form-control place_text" name="fname" ng-model="fname" id="inputEmail3" placeholder="First Name" required>
                                                        <div class="Err" ng-show="(signup_form.$submitted || signup_form.fname.$dirty ) && signup_form.fname.$error.required">Please enter first name</div>
                                                        <!--  <div class="Err" ng-show="(signup_form.$submitted || signup_form.fname.$dirty ) && signup_form.fname.$error.pattern">Enter valid first name</div> -->
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <input type="text" class="form-control place_text" name="lname" ng-model="lname" id="inputEmail3" placeholder="Last Name" required>
                                                        <div class="Err" ng-show="(signup_form.$submitted || signup_form.lname.$dirty ) && signup_form.lname.$error.required">Please enter last name</div>
                                                        <!--  <div class="Err" ng-show="(signup_form.$submitted || signup_form.lname.$dirty ) && signup_form.lname.$error.pattern">Enter valid last name</div> -->
                                                    </div>
                                                </div>
                                                <div class="form-group no-margin div-height">
                                                    <div class="col-sm-6">
                                                        <input type="email" class="form-control place_text" name="email" ng-model="email" id="inputPassword3" placeholder="Email" required>
                                                        <div class="Err" ng-show="(signup_form.$submitted || signup_form.email.$dirty ) && signup_form.email.$error.required">Please enter email</div>
                                                        <div class="Err" ng-show="(signup_form.$submitted || signup_form.email.$dirty ) && signup_form.email.$error.email">Please enter valid email id</div>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <!-- <label for="city">Type</label> -->
                                                        <select class="form-control place_text" name="type" ng-model="type" id="type" required>
                                                            <option value="">Select Type</option>
                                                            <option value="1">Player</option>
                                                            <option value="2">Coach</option>
                                                            <option value="3">Camp director</option>
                                                            <option value="4">College Recruiter</option>
                                                             <option value="5">Tournament director</option>
                                                        </select>
                                                        <div class="Err" ng-show="(signup_form.$submitted || signup_form.type.$dirty ) && signup_form.type.$error.required">Please select Type</div>
                                                    </div>
                                                </div>
                                                <div class="form-group no-margin div-height">
                                                    <div class="col-sm-12 text-center">
                                                        <button type="submit" class="btn btn-primary login_btn">Submit</button>
                                                    </div>
                                                </div>
                                                <ul class="new" ng-hide="tab_status == true">
                                                    <li class="new_right">
                                                        <p class="sign">Already have account?
                                                            <a href ng-click="tab = 1" role="tab" data-toggle="tab" id="home-tab" aria-controls="home">Login</a>
                                                        </p>
                                                    </li>
                                                    <div class="clearfix"></div>
                                                </ul>
                                            </form>
                                            <p style="color:green;font-size:15px;margin-top:-30px;">{{message}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="copy_layout login">
                            <p>Copyright &copy; 2017. <span></span> All Rights Reserved <a href="#" target="_blank" class="color_bio">Sports</a> </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--  -->

</div>

<style>
.all-comon-form div input,
select {
    margin-bottom: 0px !important;
}

.div-height {
    height: 70px;
}

.app-cam-signup input[type="text"]::-webkit-input-placeholder,
.app-cam-signup input[type="email"]::-webkit-input-placeholder,
.app-cam-signup input[type="password"]::-webkit-input-placeholder {
    color: #999 !important
}

.app-cam-signup input[type="password"]::-moz-placeholder,
.app-cam-signup input[type="email"]::-moz-placeholder,
.app-cam-signup input[type="text"]::-moz-placeholder {
    color: #999 !important
}

.test {
    width: 100% !important;
}
</style>