<div class="crossfade">
    <figure></figure>
    <figure></figure>
    <figure></figure>
    <figure></figure>
    <figure></figure>
<div class="col-md-12 upr-div no-pad">
<div class="intro">
    <div class="intro-body">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <div class="login-logo">
                    </div>
                    <p style="color:red;font-size:20px;margin-top:-30px;">{{resetmsg}}</p>
                    <div class="app-cam-signup activation_sign">
                        <form class="form-horizontal activation" method="patch" name="reset_pass" ng-submit="resetPassword(reset_pass.$valid)" autocomplete="off" novalidate>
                            <h2 class="form-heading">Reset Password</h2>
                            <div class="form-group">
                                <div class="col-sm-6 div-heights">
                                    <label for="" class="color_text">Password</label>
                                    <input type="password" class="form-control place_text" name="password" ng-model="password" id="password" placeholder="Password" required>
                                    <div class="Err" ng-show="(reset_pass.$submitted || reset_pass.password.$dirty ) && reset_pass.password.$error.required">Please enter password</div>
                                </div>
                                <div class="col-sm-6 div-heights">
                                    <label for="" class="color_text">Confirm Password</label>
                                    <input type="password" class="form-control place_text" name="cnfPassword" ng-model="cnfPassword" id="inputEmail3" placeholder="Confirm Password" required pw-check='password'>
                                    <div class='Err' ng-show='reset_pass.cnfPassword.$error.pwmatch'>Passwords don't match</div>
                                </div>
                            </div>
                            <!--  -->
                            <div class="form-group">
                                <div class="col-sm-12 text-center">
                                    <button type="submit" class="btn btn-primary login_btn" ng-disabled="!reset_pass.$valid">Submit</button>
                                     <br/>
                                
                                </div>
                                <ul class="new text-center">
                                    <br>
                                    <p><a style="color:#fff;" href ng-click="login()">Login</a></p>
                                    <div class="clearfix"></div>
                                </ul>
                            </div>
                        </form>
                    </div>
                    <div class="copy_layout login">
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>
