<div id="wrapper">
    <div ng-include src="'partials/contractor/sidebar.html'"></div>
    <div id="page-wrapper">
            <div class="col-sm-12 msg_alert">
                <div class="alert alert-success row auto-margin" ng-if="showSuccess == true">
                    {{showSuccessMsg}}
                </div>
                <div class="alert alert-danger row auto-margin" ng-if="resErrorMsg == true">
                    {{responseErrorMSG}}
                </div>
            </div>
        <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12 graphs">
            <h3 class=" page_title clearfix">
             <span class="pull-left">Jobs history</span>
         </h3>
            <table class="table table-striped table-bordered" datatable="ng" dt-options="vm.dtOptions">
                <thead>
                    <tr>
                        <th>Job Title</th>
                        <th>Location</th>
                        <th>View Jobhistory</th>
                        
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="job in jobhistoryList">
                        <td>{{job.title | capitalize}}</td>
                        <td>{{job.location}}</td>
                        <td>  <ul class="list-inline table_btn">
                        <li><a ng-click = "jobhistory(job)" tooltip-placement="{{placement.selected}}" uib-tooltip="View Job {{placement.selected}}" type="button" class="btn btn-primary btn-lg"><i class="fa fa-eye"aria-hidden="true">{{placement.selected}}</i></a></li>
                         </ul>
                     </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!--</div>-->
        <!-- Data table -->
    </div>
   
   

    