<div id="wrapper">
    <div ng-include src="'partials/contractor/sidebar.html'"></div>
    <div id="page-wrapper">
            <div class="col-sm-12 msg_alert">
                <div class="alert alert-success row auto-margin" ng-if="showSuccess == true">
                    {{showSuccessMsg}}
                </div>
                <div class="alert alert-danger row auto-margin" ng-if="resErrorMsg == true">
                    {{responseErrorMSG}}
                </div>
            </div>
        <div class="col-sm-12 col-md-12 graphs">
            <h1 class="text-right page_title">                 
              <span class="pull-left">Edit Contractor</span>
              </h1>
            <div class="col-sm-12 col-md-12 user_form box">
                <div class=" col-sm-6 pad_left">
                <form method="post" name="addofficers" ng-submit="editContractors(addofficers.$valid)" id="edit-profile-form" novalidate="" class="ng-pristine ng-valid">
                        <div class="form-group div-height-add">
                            <label for="officeName" class="col-sm-4 control-label label_payment">First Name:</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" name="name" ng-model="name" required>
                                 <div class="Err" ng-show="(addofficers.$submitted || addofficers.name.$dirty ) && addofficers.name.$error.required">Please enter first name</div>
                            </div>
                        </div>
                         <div class="form-group div-height-add">
                            <label for="officeName" class="col-sm-4 control-label label_payment">Last Name:</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" name="lname" ng-model="lname" required>
                                 <div class="Err" ng-show="(addofficers.$submitted || addofficers.lname.$dirty ) && addofficers.lname.$error.required">Please enter last name</div>
                            </div>
                        </div>
                        <div class="form-group div-height-add">
                            <label for="officeAddress" class="col-sm-4 control-label label_payment">Email:</label>
                            <div class="col-sm-8">
                                <input type="email" class="form-control" name="email" ng-model="email" required>
                                 <div class="Err" ng-show="(addofficers.$submitted || addofficers.email.$dirty ) && addofficers.email.$error.required">Please enter email</div>
                                 <div class="Err" ng-show="(addofficers.$submitted || addofficers.email.$dirty ) && addofficers.email.$error.email">Please enter valid email id</div>
                            </div>
                        </div>
                        <div class="form-group div-height-add">
                            <label for="officeName" class="col-sm-4 control-label label_payment">Cell Number:</label>
                            <div class="col-sm-8">
                                <input type="tel" class="form-control" ng-pattern="/^(0|[1-9][0-9]*)$/" name="phone" maxlength="10" ng-model="phone" required>
                                 <div class="Err" ng-show="(addofficers.$submitted || addofficers.phone.$dirty ) && addofficers.phone.$error.required">Please enter cell number</div>
								 <div class="Err" ng-show="(addofficers.$submitted || addofficers.phone.$dirty ) && addofficers.phone.$error.pattern">Please enter valid cell number</div>
                            </div>
                        </div>
                      
                      <div class="form-group div-height-add">
                            <label for="officeName" class="col-sm-4 control-label label_payment">Company Name:</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" name="company" ng-model="company" required>
                                 <div class="Err" ng-show="(addofficers.$submitted || addofficers.company.$dirty ) && addofficers.company.$error.required">Please enter company name</div>
                            </div>
                        </div>
						 <div class="form-group div-height-add">
                            <label for="officeName" class="col-sm-4 control-label label_payment">Crew Number:</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" name="crew_no" ng-model="crew_no" required>
                                 <div class="Err" ng-show="(addofficers.$submitted || addofficers.crew_no.$dirty ) && addofficers.crew_no.$error.required">Please enter crew number</div>
                            </div>
                        </div>
						 <div class="form-group div-height-add">
                            <label for="officeName" class="col-sm-4 control-label label_payment">Notes:</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" name="notes" ng-model="notes" required>
                                 <div class="Err" ng-show="(addofficers.$submitted || addofficers.notes.$dirty ) && addofficers.notes.$error.required">Please enter notes</div>
                            </div>
                        </div>
                        <div class="form-group  div-height-add">
                            <div class="col-sm-12 text-right">
                                <div class="editprofilebutton" style="margin: 7px;"></div>
                                 <a href="#contractor-viewProfile" type="button" class="btn btn-default camra_btn" data-identifyelement="10"><span class="pen_icon"></span> Cancel</a>
                                <button type="submit" class="btn btn-default camra_btn" data-identifyelement="10"><span class="pen_icon"></span> Update Contractor</button>
                            </div>
                        </div>
                    </form>

                     <div class="form-group div-height-add">
                           
                            <div class="col-sm-8" style="margin-left:650px;margin-top:-50%">
                              <img ng-if="image == true" src="../backend/uploads/{{service_get_image}}" height="100" width="100"/><br/><br/>
                              <img ng-if="image != true" src="../backend/uploads/{{service_get_image}}" height="100" width="100"/><br/><br/>
                                 <button class="btn btn-default camra_btn" data-identifyelement="10" data-dismiss='modal' data-toggle="modal" data-target=".comment_pop">Select Image</button>
                            </div>
                     </div>

                </div>
               
            </div>
        </div>
    </div>
    <!-- /#page-wrapper -->
</div>
</div>

<div class="modal fade comment_pop" id="Modeluploadphoto" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header custom-m-headr">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h2 class="modal-title">Profile Image</h2>
            </div>
            <form id="uploadForm" class="uploadForm" name="uploadForm" enctype="multipart/form-data" method="post">
                <div class="modal-body custom-model clearfix">
                    <div class="form-group col-md-12 comment-height-add mobile_no-pad">
                        <div class="form-group col-md-12 div-height-add mobile_no-pad">
                            <!--<label for="name">SELECT Image</label>-->
                            <input type="file" name="userPhoto"  accept="image/jpg,image/png,image/jpeg"  required/>
                            <div class="Err" ng-show="(uploadForm.$submitted || uploadForm.userPhoto.$dirty ) && uploadForm.userPhoto.$error.file">Please select photos</div>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-default submit-btn">Upload</button>
                </div>
            </form>
        </div>
    </div>
</div>
