<div id="wrapper">
    <div ng-include src="'partials/contractor/sidebar.html'"></div>
    <div id="page-wrapper">

            <div class="col-sm-12 msg_alert">
                <div class="alert alert-success row auto-margin" ng-if="showSuccess == true">
                    {{showSuccessMsg}}
                </div>
                <div class="alert alert-danger row auto-margin" ng-if="resErrorMsg == true">
                    {{responseErrorMSG}}
                </div>
            </div>
        <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12 graphs">
              <h1 class="text-right page_title clearfix">
               <span class="pull-left">Jobs</span>
               <!--<a class="btn btn-primary"></a>-->
               <div class="clearfix"></div>
           </h1>
            <table class="table table-striped table-bordered" datatable="ng" dt-options="vm.dtOptions">
                <thead>
                    <tr>
                        <th>Job Title</th>
                        <th>Location</th>
                        <th>Start</th>
                        <th>Not Worked</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="job in jobList">
                        <td>{{job.title | capitalize}}</td>
                        <td>{{job.location}}</td>
                        <td>
                        <button type="button" class="btn btn-success " ng-click="start(job)" ng-if="job.lastrecord.active == 0 || job.lastrecord === null">Start</button>
                        <button type="button" class="btn btn-danger" ng-click="changeStatusToActive(job)" ng-if="job.lastrecord.active == 1">Stop</button>
                        </td>
                        <td>
                         <button tooltip-placement="{{placement.selected}}" uib-tooltip="Add Note {{placement.selected}}" type="button" class="btn btn-default camra_btn" ng-click="postReason(job.jobasign_id)" ng-disabled="job.lastrecord.active == 1">Add Note{{placement.selected}}</button> 
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!--</div>-->
        <!-- Data table -->
    </div>
   
   </div>

<!-------------- Reason modal window ---------------->

   

    <!-------------- No. of workers modal window ---------------->

    <div class="modal fade workers_pop" id="myModelDelete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
           <form method="post" name="addWorkers" ng-submit="postWorkersForm(addWorkers.$valid)" id="edit-profile-form" novalidate="" class="ng-pristine ng-valid">
            <div class="modal-content">
                <div class="modal-header custom-m-headr">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h2 class="modal-title">Add Number of Workers</h2>
                </div>
                <div class="modal-body">
                    <div class="user_list_detail clearfix">
                        <div class="col-md-12 main-brdr-div">
                            <div class="col-sm-12">
                            <label for="officeName" class="col-sm-4 control-label label_payment">Number of Workers</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" name="worker" ng-model="worker" placeholder="Number(Example: 1,2,3)" ng-pattern="/^[0-9]*$/" required>
                                <!--<input type="text" class="form-control" placeholder="Number(Example: 1,2,3)" name="worker" ng-modal="worker" required>-->
                                <!--<select class="form-control" name="worker" ng-model="worker" required>
                                <option value="">Select Reason</option>   
                                <option value="festival">Festival</option>
                                <option value="rainy">Rainy</option>
                                </select>-->
                                <div class="Err" ng-show="(addWorkers.$submitted || addWorkers.worker.$dirty ) && addWorkers.worker.$error.required">Please enter no. of workers</div>
                                <div class="Err" ng-show="(addWorkers.$submitted || addWorkers.worker.$dirty ) && addWorkers.worker.$error.pattern">Please enter valid no. of workers</div>
                            </div>
                            </div>
                        </div>
                       
                    </div>
                </div>
                <div class="modal-footer text-center">
                    <button type="button" class="btn btn-primary pop-up_btn-red" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary pop-up_btn-green" ng-disabled="save == true" ng-enabled="save == false">Save</button>
                </div>
            </div>
            
        </form>
        </div>
        
    </div>


    <!--modal box for comment  -->
<div class="modal fade comment_pop" id="myModelnote" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-header custom-m-headr">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h2 class="modal-title">Add Note</h2>
         </div>
         <form method="post" name="add_note" ng-submit="addleadNote(add_note.$valid)" autocomplete="off" novalidate id="add-note">
            <div class="modal-body custom-model clearfix">
               <div class="form-group col-md-12 comment-height-add">
                  <label for="name">Note</label>
                  <div id="summernote" ng-model="comment"></div>
                  <input type="hidden" ng-model="comment" name="comment" id="comment">
                  <span class="error_label Err" for="error_label"> </span>
               </div>
            </div>
            <div class="clearfix"></div>
            <div class="modal-footer">
               <button type="submit" class="btn btn-default submit-btn">Add</button>
            </div>
         </form>
      </div>
   </div>
   <!-- /.modal-content -->
</div>