<!-- Navigation -->
<nav class="top1 navbar navbar-default navbar-static-top navbar-fixed-top" role="navigation" style="margin-bottom: 0">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand brandimage" href="#contractor-pendingjobs">
		  <img src="images/jobtrackre.png" >
        </a>
    </div>
    <!-- /.navbar-header -->
    <div>
      <ul class="nav navbar-nav navbar-right">
            <li class="user-type-name"> <strong>Welcome {{login_user_name}}</strong></li>
            <li class="dropdown" uib-dropdown is-open="0">
                <a href class="dropdown-toggle avatar" uib-dropdown-toggle ng-disabled="disabled">
           <img ng-if="image == true" src="../backend/uploads/{{service_get_image}}" height="40" width="40">
            <img ng-if="image != true" src="../backend/uploads/{{service_get_image}}" height="40" width="40">
            <span class="badge">9</span>
            </a>
                <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
                    <li class="m_2"><a href="#contractor-viewProfile"><i class="fa fa-user"></i>Profile</a></li>
                    <!--<li class="m_2"><a href="#contractor-changepassword"><i class="fa fa-key"></i>Change password</a></li>-->
                    <li class="m_2"><a href ng-click="Userlogout()"><i class="fa fa-lock"></i> Logout</a></li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="navbar-default sidebar contractor" role="navigation">
        <div class="sidebar-nav navbar-collapse">
            <ul class="nav" id="side-menu">
                <li>
                    <ul class="nav nav-second-level">
                        <!--<li ng-class="{'active':jobsTab == true}">
                            <a href="#contractor-jobs">Job</a>
                        </li>
                        <li ng-class="{'active':completejobTab == true}">
                            <a href="#contractor-completedjobs">Completed Job</a>
                        </li>-->
                        <li ng-class="{'active':pendingjobTab == true}">
                            <a href="#contractor-pendingjobs">Jobs</a>
                        </li>
                          <li ng-class="{'active':jobhistoryTab == true}">
                            <a href="#contractor-alljobhistory">Jobs History</a>
                        </li>
                        <li class="m_2 visible-xs hidden-md hidden-sm hidden-lg"><a href="#contractor-viewProfile">Profile</a></li>
                       
                        <li class="m_2 visible-xs hidden-md hidden-sm hidden-lg"><a href ng-click="Userlogout()">Logout</a></li>
                         <!--<li ng-class="{'active':workingjobTab == true}">
                            <a href="#contractor-workingjob">Working Job</a>
                        </li>-->
                    </ul>
                </li>
            </ul>
        </div>
        <!-- /.sidebar-collapse -->
    </div>
    <!-- /.navbar-static-side -->
</nav>