<div id="wrapper">
    <div ng-include src="'partials/contractor/sidebar.html'"></div>
    <div id="page-wrapper">
            <div class="col-sm-12 msg_alert">
                <div class="alert alert-success row auto-margin" ng-if="showSuccess == true">
                    {{showSuccessMsg}}
                </div>
                <div class="alert alert-danger row auto-margin" ng-if="resErrorMsg == true">
                    {{responseErrorMSG}}
                </div>
            </div>
        <div class="col-sm-12 col-md-12 graphs">
            <h3 class="page_title"><span class="pull-left">Job Detail</span><span class="pull-right"><a href ng-click="backpage()" class="btn btn-default camra_btn">Back</a></span></h3>
            <div class="col-sm-12 col-md-12 user_form  box">
                <div class=" col-sm-6">
                    <form method="post" name="updateForm" id="update-form" autocomplete="off" novalidate="" class="ng-pristine ng-valid edit_user_form">
                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-4 control-label label_payment">Job Title:</label>
                            <div class="col-sm-8">
                                <span>{{jobList.title | capitalize}}</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-4 control-label label_payment">Location:</label>
                            <div class="col-sm-8">
                                <span>{{jobList.location}}</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-4 control-label label_payment">Address:</label>
                            <div class="col-sm-8">
                                <span>{{jobList.address}}</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-4 control-label label_payment">City:</label>
                            <div class="col-sm-8">
                                <span>{{jobList.city}}</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-4 control-label label_payment">Zipcode:</label>
                            <div class="col-sm-8">
                                <span>{{jobList.zip}}</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-4 control-label label_payment">Job Type:</label>
                            <div class="col-sm-8">
                                <span>{{jobList.type}}</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-4 control-label label_payment">Start Date:</label>
                            <div class="col-sm-8">
                                <span>{{jobList.start_date | date:'MM/dd/yyyy'}}</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-4 control-label label_payment">End Date:</label>
                            <div class="col-sm-8">
                                <span>{{jobList.end_date | date:'MM/dd/yyyy'}}</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-4 control-label label_payment">Status:</label>
                            <div class="col-sm-8">
                                <span ng-if="status == 0">In Progress</span>
                                <span ng-if="status == 1">Complete</span>
                                <span ng-if="status == 2">Hold</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-4 control-label label_payment">Amount:</label>
                            <div class="col-sm-8">
                                <span>{{jobList.bid_amount}}</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-4 control-label label_payment">Note:</label>
                            <div class="col-sm-8">
                                <span>{{jobList.notes}}</span>
                            </div>
                        </div>
                </div>
                </form>
            </div>
        </div>
    </div>
    <!-- /#page-wrapper -->
</div>