<div id="wrapper">
    <div ng-include src="'partials/contractor/sidebar.html'"></div>
    <div id="page-wrapper">
            <div class="col-sm-12 msg_alert">
                <div class="alert alert-success row auto-margin" ng-if="showSuccess == true">
                    {{showSuccessMsg}}
                </div>
                <div class="alert alert-danger row auto-margin" ng-if="resErrorMsg == true">
                    {{responseErrorMSG}}
                </div>
            </div>
        <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12 graphs">
              <h1 class="text-right page_title clearfix">
             <span class="pull-left">Working Job</span>
             <a class="btn btn-primary"></a>
         </h1>
            <table class="table table-striped table-bordered" datatable="ng" dt-options="vm.dtOptions">
                <thead>
                    <tr>
                        <th>Job Title</th>
                        <th>Location</th>
                        <th>Start</th>

                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="job in jobList">
                        <td>{{job.title | capitalize}}</td>
                        <td>{{job.location}}</td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!--</div>-->
        <!-- Data table -->
    </div>
   
   

    