<div id="wrapper">
    <div ng-include src="'partials/officer/sidebar.html'"></div>
    <div id="page-wrapper">
            <div class="col-sm-12 msg_alert">
                <div class="alert alert-success row auto-margin" ng-if="showSuccess == true">
                    {{showSuccessMsg}}
                </div>
                <div class="alert alert-danger row auto-margin" ng-if="resErrorMsg == true">
                    {{responseErrorMSG}}
                </div>
            </div>
        <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12 graphs">
                <h1 class="text-right page_title clearfix">
                    <span class="pull-left">Jobs</span><span class="pull-right">
                    <a href ng-click="backpage()" class="btn btn-default camra_btn">Back</a></span>
                </h1>

            <!-- partision_start -->
            <div class="col-md-12 no-pad">
                <div class="col-md-12 ">
                     <!-- map div -->
                        <span>{{apiStatus}}</span>
                        <div id="map_canvas"></div>
                </div>

            </div>
            <!-- partision_end -->

            
        </div>
        <!--</div>-->
        <!-- Data table -->
    </div>
  <style type="text/css">
    h3 img {
    max-height: 50px;
}
#map_canvas { 
    height: 540px;
    margin: 15px 0;
    border-radius: 5px;
    border: 1px solid silver;
}
</style>

    