<div id="wrapper">
    <div ng-include src="'partials/officer/sidebar.html'"></div>
      <div id="page-wrapper">
            <div class="col-sm-12 msg_alert">
                <div class="alert alert-success row auto-margin" ng-if="showSuccess == true">
                    {{showSuccessMsg}}
                </div>
                <div class="alert alert-danger row auto-margin" ng-if="resErrorMsg == true">
                    {{responseErrorMSG}}
                </div>
            </div>
        <div class="col-sm-12 col-md-12 graphs">
            <h1 class="text-right page_title clearfix">                 
              <span class="pull-left">Edit Job</span>
              </h1>
            <div class="col-sm-12 col-md-12 user_form box">
                <div class=" col-sm-6 pad_left">
                <form method="post" name="addoffice" ng-submit="editJob(addoffice.$valid)" id="edit-profile-form" novalidate="" class="ng-pristine ng-valid">
                        <div class="form-group div-height-add">
                            <label for="officeName" class="col-sm-4 control-label label_payment">Job Title</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" name="jobTitle" ng-model="jobTitle" required>
                                 <div class="Err" ng-show="(addoffice.$submitted || addoffice.jobTitle.$dirty ) && addoffice.jobTitle.$error.required">Please enter job title</div>
                            </div>
                        </div>

                         <div class="form-group div-height-add">
                            <label for="officeAddress" class="col-sm-4 control-label label_payment">Location:</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" name="jobLocation" ng-model="jobLocation">
                            </div>
                        </div>
                         <div class="form-group div-height-add">
                            <label for="officeName" class="col-sm-4 control-label label_payment">Address:</label>
                            <div class="col-sm-8">
                                <input type="tel" class="form-control" name="address" ng-model="address" required>
                                 <div class="Err" ng-show="(addoffice.$submitted || addoffice.address.$dirty ) && addoffice.address.$error.required">Please enter address</div>
                            </div>
                        </div>
                        
                      
                        
                         <div class="form-group div-height-add">
                            <label for="officeAddress" class="col-sm-4 control-label label_payment">City:</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" name="jobCity" ng-model="jobCity" required>
                            <div class="Err" ng-show="(addoffice.$submitted || addoffice.jobCity.$dirty ) && addoffice.jobCity.$error.required">Please enter City</div>
                            </div>
                        </div>

                         <div class="form-group div-height-add">
                            <label for="officeAddress" class="col-sm-4 control-label label_payment">Zipcode:</label>
                            <div class="col-sm-8">
                                <input type="text" maxlength="5" class="form-control" name="jobZipcode" ng-model="jobZipcode" ng-pattern="/^(0|[1-9][0-9]*)$/" required>
                            <div class="Err" ng-show="(addoffice.$submitted || addoffice.jobZipcode.$dirty ) && addoffice.jobZipcode.$error.required">Please enter Zipcode</div>
                            <div class="Err" ng-show="(addoffice.$submitted || addoffice.jobZipcode.$dirty ) && addoffice.jobZipcode.$error.pattern">Please enter valid Zipcode</div>
                            </div>
                        </div>

                         <div class="form-group div-height-add">
                            <label for="officeAddress" class="col-sm-4 control-label label_payment">State:</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" name="jobState" ng-model="jobState" required>
                            <div class="Err" ng-show="(addoffice.$submitted || addoffice.jobState.$dirty ) && addoffice.jobState.$error.required">Please enter State</div>
                            </div>
                        </div>
                        <div class="form-group  div-height-add">
                            <div class="col-sm-12 text-right">
                                <div class="editprofilebutton" style="margin: 7px;"></div>
                                <button type="button" ng-click = "search1(address)" class="btn btn-default camra_btn" data-identifyelement="10"><span class="pen_icon"></span> Geo Location</button>
                            </div>
                        </div>
                        
                        <div class="form-group div-height-add">
                            <label for="officeDescription" class="col-sm-4 control-label label_payment">Job Status:</label>
                            <div class="col-sm-8">
                                <select class="form-control" name="jobStatus" ng-model="jobStatus" id="jobStatus" required>
                                 <option value="">Select Job Status</option>
                                 <option value="1">Completed</option>
                                 <option value="0">In Progress</option>
                                 <option value="2">On Hold</option>
                              </select>
                              <div class="Err" ng-show="(addoffice.$submitted || addoffice.jobStatus.$dirty ) && addoffice.jobStatus.$error.required">Please select job status</div>
                            </div>
                        </div>
                         <div class="form-group div-height-add">
                           <label for="officeDescription" class="col-sm-4 control-label label_payment">Job Type:</label>
                            <div class="col-sm-8">
                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addjobtype">Select Job Type {{placement.selected}}</button>
                            </div>
                        </div>
                      <!-- <div class="form-group div-height-add">
                            <label for="officeDescription" class="col-sm-4 control-label label_payment">Job Type:</label>
                            <div class="col-sm-8">
                                <select class="form-control" name="jobType" ng-model="jobType" id="jobType" required>
                                 <option value="">Select job type</option>
                                  <option ng-repeat="jobtype in jobtypeList" value="{{jobtype.title}}">{{jobtype.title}}</option>
                              </select>
                            </div>
                        </div> -->
                        <div class="form-group div-height-add">
                            <label for="officeDescription" class="col-sm-4 control-label label_payment">Start Date:</label>
                            <div class="col-sm-8">
                            <p class="input-group">
                                <input type="text" class="form-control" ng-click="open1()" uib-datepicker-popup="{{format}}" name="startDate" ng-model="startDate" is-open="popup1.opened" datepicker-options="dateOptions" close-text="Close" required>
                                 <span class="input-group-btn">
                                  <button type="button" class="btn btn-default no-margin" ng-click="open1()"><i class="glyphicon glyphicon-calendar icon_calendar"></i></button>
                                 </span>
                                 <div class="Err" ng-show="(addoffice.$submitted || addoffice.startDate.$dirty ) && addoffice.startDate.$error.required">Please select start date</div>
                                 </p>
                            </div>
                        </div>
                         <div class="form-group div-height-add">
                            <label for="officeDescription" class="col-sm-4 control-label label_payment">Completion Date:</label>
                            <div class="col-sm-8">
                             <p class="input-group">
                                <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-click="open2()" name="completionDate" ng-model="completionDate" is-open="popup2.opened" datepicker-options="dateOptions" close-text="Close" >
                                 <span class="input-group-btn">
                                  <button type="button" class="btn btn-default no-margin" ng-click="open2()"><i class="glyphicon glyphicon-calendar icon_calendar"></i></button>
                                 </span>
                                 <div class="Err" ng-show="(addoffice.$submitted || addoffice.completionDate.$dirty ) && addoffice.completionDate.$error.required">Please select completion date</div>
                                 </p>
                            </div>
                        </div>
                        <div class="form-group div-height-add">
                            <label for="officeDescription" class="col-sm-4 control-label label_payment">Amount($):</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" name="amount" ng-model="amount" required>
                                 <div class="Err" ng-show="(addoffice.$submitted || addoffice.amount.$dirty ) && addoffice.amount.$error.required">Please enter amount</div>
                            </div>
                        </div>
                        <div class="form-group div-height-add">
                            <label for="officeDescription" class="col-sm-4 control-label label_payment">Assign Contractor:</label>
                            <div class="col-sm-8">
                            <button  type="button" class="btn btn-primary" data-toggle="modal" data-target="#addcontractor">Select Contractor {{placement.selected}}</button>
                                <!-- <select class="form-control" name="assign" ng-model="assign">
                                <option value="">Select assign contractor</option>
                                  <option ng-repeat="contractor in contractorsList" value="{{contractor.id}}">{{contractor.name}}</option>
                                </select>  -->
                            </div>
                        </div>
                        <div class="form-group div-height-add">
                            <label for="officeDescription" class="col-sm-4 control-label label_payment">Notes:</label>
                            <div class="col-sm-8">
                               <textarea class="form-control" ng-model="notes" name="notes"></textarea>
                            </div>
                        </div>

                         <div class="form-group div-height-add">
                          
                            <div class="col-sm-8">
                                <input type="hidden" class="form-control" ng-model="officeName" name="officeName">
                            </div>
                        </div>
                        
                        <div class="form-group  div-height-add">
                            <div class="col-sm-12 text-right">
                                <div class="editprofilebutton" style="margin: 7px;"></div>
                                 <a href="#webmaster-job" type="button" class="btn btn-default camra_btn" data-identifyelement="10"><span class="pen_icon"></span> Cancel</a>
                                <button type="submit" class="btn btn-default camra_btn" data-identifyelement="10"><span class="pen_icon"></span> Update</button>
                            </div>
                        </div>
                    </form>
                </div>

                 <!-- map div -->
                   <div class=" col-sm-6 pad_right">
                   <span ng-if="apiStatus == 'ZERO_RESULTS'">No result found</span>
                    <div id="map"></div>
                     <div class="clearfix col-sm-5">
                      <h4 >Contractors:</h4>
                      <ol>
                        <li  ng-repeat="contractor in contractorseditlist">{{contractor.contractorName | capitalize}} </li>
                      </ol> 
                   </div> 
                   <div class=" col-sm-5">
                      <h4 >Job Types:</h4>
                      <ol>
                        <li  ng-repeat="jobtype in jobtypeEditlistcheck">{{jobtype.jobName | capitalize}} </li>
                      </ol> 
                   </div> 
                 </div>
               
            </div>
        </div>
    </div>
    <!-- /#page-wrapper -->
</div>
</div>
<!--  add  player to team model -->
<div class="modal fade " id="addcontractor" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog contractor_list_modal" role="document">
        <div class="modal-content">
            <div class="modal-header custom-m-headr">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Select Contractor</h4>
            </div>
                <div class="modal-body custom-model clearfix add-popup-player selected_list">
                        <ul ng-repeat="contractor in editcontractorsList" class="list-inline ">
                           <li>
                                <input type="checkbox" ng-checked="contractor.status == '1'" name="playerArray" ng-click="editContractorArray(contractor.id,contractor.name,contractor.last_name)" id="{{contractor.id}}" ng-modal="selectedList">
                            </li>
                            <li> {{contractor.name | capitalize}} {{contractor.last_name | capitalize}}</li>
                        </ul>
                </div>
        </div>
    </div>
</div>
<div class="modal fade " id="addjobtype" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog contractor_list_modal" role="document">
        <div class="modal-content">
            <div class="modal-header custom-m-headr">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Select Job Type</h4>
            </div>
            <div class="modal-body custom-model clearfix add-popup-player selected_list">
                <ul  ng-repeat="jobtype in jobtypeEditlist | orderBy:'title'" class="list-inline ">
                    <li>
                        <input type="checkbox" ng-checked="jobtype.status == '1'" name="jobtypearray" ng-click="editjobtypeArray(jobtype.title)" id="{{jobtype.title}}" ng-modal="selectedList">
                    </li>
                    <li> {{jobtype.title | capitalize}}</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<style type="text/css">
    h3 img {
    max-height: 50px;
}
#map { 
    height: 400px;
    margin: 20px 0;
    border-radius: 5px;
    border: 1px solid silver;
}

</style>