<div id="wrapper">
    <div ng-include src="'partials/officer/sidebar.html'"></div>
    <div id="page-wrapper">
            <div class="col-sm-12 msg_alert">
                <div class="alert alert-success row auto-margin" ng-if="showSuccess == true">
                    {{showSuccessMsg}}
                </div>
                <div class="alert alert-danger row auto-margin" ng-if="resErrorMsg == true">
                    {{responseErrorMSG}}
                </div>
            </div>
        <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12 graphs job_page">
            <h1 class="text-right page_title clearfix">
              <h1 class="text-right page_title">
             <span class="pull-left">Jobs </span>

             <span class="hidden-xs">
               <span> 
                <select name="types" ng-model="types" id="types" ng-change="jobType(types)">
                    <option value="">Select All Job Type</option>
                    <option ng-repeat="jobtype in jobtypeList | orderBy:'title'" value="{{jobtype.id}}">{{jobtype.title | capitalize}}</option>
                </select>
            </span>
            <span> 
                <select name="contractortypes" ng-model="contractortypes" id="contractortypes" ng-change="contractorType(contractortypes)">
                    <option value="">Select All Contractor</option>
                     <option ng-repeat="contractor in contractorsList | orderBy:'name'" value="{{contractor.id}}">{{contractor.name | capitalize}}</option>
                </select>
            </span>
            </span>
             <a href="#officer-addjob" tooltip-placement="{{placement.selected}}" uib-tooltip="Add Job {{placement.selected}}" type="button" class="btn btn-primary">Add Job {{placement.selected}}</a>
             <a href="#officer-alljobs" tooltip-placement="{{placement.selected}}" uib-tooltip="See Map {{placement.selected}}" type="button" class="btn btn-primary">See Map{{placement.selected}}</a>
         </h1>
        
        <span class="visible-xs clearfix col-xs-12 no-pad">
            <span class="col-xs-6 pad_left"> 
                <select name="types" ng-model="types" id="types" ng-change="jobType(types)">
                    <option value="">Select Job Type</option>
                    <option ng-repeat="jobtype in jobtypeList" value="{{jobtype.id}}">{{jobtype.title | capitalize}}</option>
                </select>
            </span>
            <span class="col-xs-6 pad_left"> 
                <select name="contractortypes" ng-model="contractortypes" id="contractortypes" ng-change="contractorType(contractortypes)">
                    <option value="">Select Contractor</option>
                     <option ng-repeat="contractor in contractorsList" value="{{contractor.id}}">{{contractor.name | capitalize}}</option>
                </select>
            </span>
        </span>
      </h1>
      <div class="clearfix job_table"></div>
            <table class="table table-striped table-bordered" datatable="ng" dt-options="dtOptions">
                <thead>
                    <tr>
                        <th>Job Title</th>
                        <th>Start Date</th>
                        <th>Contractor</th>
                        <th>Location</th>
                        <th>Status</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="job in jobList">
                        <td width="100"><a href="#officer-viewjobs/{{job.id}}">{{job.title | capitalize}}</a></td>
                        <td width="130">{{job.start_date | date:'MM/dd/yyyy' }}</td>

                        <td ng-if="contractorStatus == false"><span ng-repeat="job in job.contractor_name">{{job.contractor_name | capitalize}} {{$last ? '' : ($index==Users.length-2) ? ' and ' : ', '}}</span></td>

                        <td ng-if="contractorStatus == true"><span>{{job.contractor_name.contractor_name | capitalize}}</span></td>

                        <td>{{job.location}}</td>
                         <td width="110">
                        <span ng-if ="job.status == 0">In Progress</span>
                        <span ng-if ="job.status == 1">Completed</span>
                        <span ng-if ="job.status == 2">Hold</span> 
                    </td>
                      <td width="140">
                       <ul class="list-inline table_btn">
                        <li><a href="#officer-viewjobs/{{job.id}}" tooltip-placement="{{placement.selected}}" uib-tooltip="View Job {{placement.selected}}" type="button" class="btn btn-primary btn-lg"><i class="fa fa-eye"aria-hidden="true">{{placement.selected}}</i></a></li>
                        <li><a href="#officer-editjobs/{{job.id}}" tooltip-placement="{{placement.selected}}" uib-tooltip="Edit Job {{placement.selected}}" type="button" class="btn btn-primary btn-lg"><i class="fa fa-edit"aria-hidden="true">{{placement.selected}}</i></a></li>
                       <!--  <li><a tooltip-placement="{{placement.selected}}" uib-tooltip="Delete Job {{placement.selected}}" type="button" class="btn btn-primary btn-lg" ng-click="getDeleteJobId(job.id)"><i class="fa fa-trash" aria-hidden="true">{{placement.selected}}</i></a>
                        </li> -->
                    </ul>
                </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!--</div>-->
        <!-- Data table -->
    </div>
   
    <div class="modal fade jobs_archive_pop" id="myModelDelete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header custom-m-headr">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h2 class="modal-title">Delete</h2>
                </div>
                <div class="modal-body">
                    <div class="user_list_detail clearfix">
                        <div class="col-md-12 main-brdr-div">
                            <div class="col-sm-12">
                                <p class="pop_box_title">Are you sure you want to delete?</p>
                            </div>
                        </div>
                        <!--  -->
                    </div>
                </div>
                <div class="modal-footer text-center">
                    <button type="button" class="btn btn-primary pop-up_btn-green" data-dismiss="modal" ng-click="jobDelete()">yes</button>
                    <button type="button" class="btn btn-primary pop-up_btn-red" data-dismiss="modal">no</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>

    
    <div class="modal fade jobs_delete_pop" id="myModelDelete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header custom-m-headr">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h2 class="modal-title">Delete job</h2>
                </div>
                <div class="modal-body">
                    <div class="user_list_detail clearfix">
                        <div class="col-md-12 main-brdr-div">
                            <div class="col-sm-12">
                                <p class="pop_box_title">Are you sure you want to Delete this job?</p>
                            </div>
                        </div>
                        <!--  -->
                    </div>
                </div>
                <div class="modal-footer text-center">
                    <button type="button" class="btn btn-primary pop-up_btn-green" data-dismiss="modal" ng-click="jobDelete()">yes</button>
                    <button type="button" class="btn btn-primary pop-up_btn-red" data-dismiss="modal">no</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>

    