<div id="wrapper">
    <div ng-include src="'partials/officer/sidebar.html'"></div>
    <div id="page-wrapper">
            <div class="col-sm-12 msg_alert">
                <div class="alert alert-success row auto-margin" ng-if="showSuccess == true">
                    {{showSuccessMsg}}
                </div>
                <div class="alert alert-danger row auto-margin" ng-if="resErrorMsg == true">
                    {{responseErrorMSG}}
                </div>
            </div>
        <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12 graphs job_page">
           <h1 class="text-right page_title clearfix">
             <span class="pull-left">Leads</span>
             <a href="#officer-addlead" tooltip-placement="{{placement.selected}}" uib-tooltip="Add Lead {{placement.selected}}" type="button" class="btn btn-primary">Add Lead {{placement.selected}}</a>
           
           </h1>
            <div class="clearfix job_table"></div>
            <table class="table table-striped table-bordered " datatable="ng" dt-options="dtOptions">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Email</th><!-- 
                        <th>Offficer</th> -->
                        <th>Status</th>
                        <th>Date</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="lead in leadList " ng-if="lead.officer_id == Loginid">
                        <td width="100">{{lead.name | capitalize}}</td>
                        <td>{{lead.email | capitalize}}</td><!-- 
                        <td>{{lead.officerName | capitalize}}</td> -->
                       <td >
                        <i tooltip-placement="{{placement.selected}}" uib-tooltip="Sucess lead {{placement.selected}}" class="fa fa-toggle-on active1" ng-if="lead.status == 1" ng-click="changeleadstatus(lead.id,lead.status);">{{placement.selected}}</i>
                         <i tooltip-placement="{{placement.selected}}" uib-tooltip="Pending lead {{placement.selected}}" class="fa fa-toggle-on fa-rotate-180 inactive1" ng-if="lead.status == 0" ng-click="changeleadstatus(lead.id,lead.status);">{{placement.selected}}</i>
                        </td>
                        <td width="130">{{lead.created_at | date:'MM/dd/yyyy' }}</td>
                        <td width="120">
                            <ul class="list-inline table_btn">
                                <li><a href="#officer-viewlead/{{lead.id}}" tooltip-placement="{{placement.selected}}" uib-tooltip="View Lead {{placement.selected}}" type="button" class="btn btn-primary btn-lg"><i class="fa fa-eye" aria-hidden="true">{{placement.selected}}</i></a></li>
                              <!--   <li><a href="#officer-editlead/{{lead.id}}" tooltip-placement="{{placement.selected}}" uib-tooltip="Edit Job {{placement.selected}}" type="button" class="btn btn-primary btn-lg"><i class="fa fa-edit" aria-hidden="true">{{placement.selected}}</i></a></li> -->
                                <!-- <li><a tooltip-placement="{{placement.selected}}" uib-tooltip="Archive Job {{placement.selected}}" type="button" class="btn btn-primary btn-lg" ng-click="getJobId(lead.id)"><i class="fa fa-archive" aria-hidden="true">{{placement.selected}}</i></a>
                                </li> -->
                            </ul >
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!--</div>-->
        <!-- Data table -->
    </div>
    <div class="modal fade leads_delete_pop" id="myModelDelete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header custom-m-headr">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h2 class="modal-title">Archive lead</h2>
                </div>
                <div class="modal-body">
                    <div class="user_list_detail clearfix">
                        <div class="col-md-12 main-brdr-div">
                            <div class="col-sm-12">
                                <p class="pop_box_title">Are you sure you want to Archive this lead?</p>
                            </div>
                        </div>
                        <!--  -->
                    </div>
                </div>
                <div class="modal-footer text-center">
                    <button type="button" class="btn btn-primary pop-up_btn-green" data-dismiss="modal" ng-click="archiveJobs()">yes</button>
                    <button type="button" class="btn btn-primary pop-up_btn-red" data-dismiss="modal">no</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>