<div id="wrapper">
    <div ng-include src="'partials/officer/sidebar.html'"></div>
    <div id="page-wrapper">
            <div class="col-sm-12 msg_alert">
                <div class="alert alert-success row auto-margin" ng-if="showSuccess == true">
                    {{showSuccessMsg}}
                </div>
                <div class="alert alert-danger row auto-margin" ng-if="resErrorMsg == true">
                    {{responseErrorMSG}}
                </div>
            </div>
        <div class="col-sm-12 col-md-12 graphs">
            <h1 class="text-right page_title clearfix">                 
              <span class="pull-left">Add Lead</span>
              </h1>
            <div class="col-sm-12 col-md-12 user_form box">
                <div class=" col-sm-6 pad_left">
                    <form method="post" name="addLead" ng-submit="addlead(addLead.$valid)" id="edit-profile-form" novalidate="" class="ng-pristine ng-valid">
                        <div class="form-group div-height-add">
                            <label for="officeName" class="col-sm-4 control-label label_payment">Name</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" name="lead_name" ng-model="lead_name" required>
                                <div class="Err" ng-show="(addLead.$submitted || addLead.lead_name.$dirty ) && addLead.lead_name.$error.required">Please enter Name</div>
                            </div>
                        </div>
                        
                        <div class="form-group div-height-add">
                            <label for="officeName" class="col-sm-4 control-label label_payment">Address:</label>
                            <div class="col-sm-8">
                                <input type="tel" class="form-control" name="address" ng-model="address" required>
                                <div class="Err" ng-show="(addLead.$submitted || addLead.address.$dirty ) && addLead.address.$error.required">Please enter address</div>
                            </div>
                        </div>

                         <div class="form-group div-height-add">
                            <label for="officeAddress" class="col-sm-4 control-label label_payment">City:</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" name="jobCity" ng-model="jobCity" required>
                                <div class="Err" ng-show="(addLead.$submitted || addLead.jobCity.$dirty ) && addLead.jobCity.$error.required">Please enter City</div>
                            </div>
                        </div>
                        <div class="form-group div-height-add">
                            <label for="officeAddress" class="col-sm-4 control-label label_payment">Zipcode:</label>
                            <div class="col-sm-8">
                                <input type="text" maxlength="5" class="form-control" name="jobZipcode" ng-model="jobZipcode" ng-pattern="/^(0|[1-9][0-9]*)$/" required>
                                <div class="Err" ng-show="(addLead.$submitted || addLead.jobZipcode.$dirty ) && addLead.jobZipcode.$error.required">Please enter Zipcode</div>
                                <div class="Err" ng-show="(addLead.$submitted || addLead.jobZipcode.$dirty ) && addLead.jobZipcode.$error.pattern">Please enter valid Zipcode</div>
                            </div>
                        </div>
                        <div class="form-group div-height-add">
                            <label for="officeAddress" class="col-sm-4 control-label label_payment">State:</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" name="jobState" ng-model="jobState" required>
                                <div class="Err" ng-show="(addLead.$submitted || addLead.jobState.$dirty ) && addLead.jobState.$error.required">Please enter State</div>
                            </div>
                        </div>
                        <div class="form-group  div-height-add">
                            <div class="col-sm-12 text-right">
                                <div class="editprofilebutton" style="margin: 7px;"></div>
                                <button type="button" ng-click="search(address)" class="btn btn-default camra_btn" data-identifyelement="10"><span class="pen_icon"></span> Geo Location</button>
                            </div>
                        </div>
                        <div class="form-group div-height-add">
                            <label for="officeName" class="col-sm-4 control-label label_payment">Cell Number:</label>
                            <div class="col-sm-8">
                                <input type="tel" class="form-control" name="phone" maxlength="10" ng-model="phone" required ng-pattern="/^(0|[1-9][0-9]*)$/">
                                 <div class="Err" ng-show="(addLead.$submitted || addLead.phone.$dirty ) && addLead.phone.$error.required">Please enter cell number</div>
                                  <div class="Err" ng-show="(addLead.$submitted || addLead.phone.$dirty ) && addLead.phone.$error.pattern">Please enter valid cell number</div>
                            </div>
                        </div>
                        <div class="form-group div-height-add">
                            <label for="officeName" class="col-sm-4 control-label label_payment">Email:</label>
                            <div class="col-sm-8">
                                <input type="email" class="form-control" name="email" ng-model="email" required>
                                 <div class="Err" ng-show="(addLead.$submitted || addLead.email.$dirty ) && addLead.email.$error.required">Please enter email</div>
                                 <div class="Err" ng-show="(addLead.$submitted || addLead.email.$dirty ) && addLead.email.$error.email">Please enter valid email id</div>
                            </div>
                        </div>
                        <div class="form-group div-height-add">
                            <label for="officeDescription" class="col-sm-4 control-label label_payment">Officer:</label>
                            <div class="col-sm-8">
                                <select class="form-control" name="officer_id" ng-model="officer_id" required>
                                    <option value="" disabled>Select officer</option>
                                    <option ng-repeat="officer in officersList" value="{{officer.id}}">{{officer.name}}</option>
                                </select>
                                <div class="Err" ng-show="(addLead.$submitted || addLead.officer_id.$dirty ) && addLead.officer_id.$error.required">Please select officer</div>
                            </div>
                        </div>
                       
                        <div class="form-group div-height-add">
                            <label for="officeDescription" class="col-sm-4 control-label label_payment">Notes:</label>
                            <div class="col-sm-8">
                                <textarea class="form-control" ng-model="notes" name="notes"></textarea>
                            </div>
                        </div>
                        <div class="form-group  div-height-add">
                            <div class="col-sm-12 text-right">
                                <div class="editprofilebutton" style="margin: 7px;"></div>
                                <a href="#officer-leads" type="button" class="btn btn-default camra_btn" data-identifyelement="10"><span class="pen_icon"></span> Cancel</a>
                                <button type="submit" class="btn btn-default camra_btn" data-identifyelement="10"><span class="pen_icon"></span> Save</button>
                            </div>
                        </div>
                    </form>
                </div>
                <!-- map div -->
                <div class=" col-sm-6 pad_right">
                    <span>{{apiStatus}}</span>
                    <div id="map"></div>
                    <div class="clearfix">
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /#page-wrapper -->
</div>
</div>
<!--  add  player to team model -->
<div class="modal fade " id="addcontractor" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog contractor_list_modal" role="document">
        <div class="modal-content">
            <div class="modal-header custom-m-headr">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Select Contractor</h4>
            </div>
            <div class="modal-body custom-model clearfix add-popup-player selected_list">
                <ul ng-repeat="contractor in contractorsList | orderBy:'name'" class="list-inline ">
                    <li>
                        <input type="checkbox" name="playerArray" ng-click="  ContractorArray(contractor.id,contractor.name)" id="{{contractor.id}}" ng-modal="selectedList">
                    </li>
                    <li> {{contractor.name | capitalize}}</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<style type="text/css">
h3 img {
    max-height: 50px;
}

#map {
    height: 400px;
    margin: 20px 0;
    border-radius: 5px;
    border: 1px solid silver;
}

.btn-group {
    width: 180px;
    position: relative;
}

.selected-items-box .items-list {
    list-style-type: none;
    width: 100%;
    padding: 0;
    margin: 0;
}

.selected-items-box .items-list li {
    display: inline;
}



#dropdown {
    cursor: pointer;
}

span.caret.pull-right {
    margin: 7px 0 0;
}

.caret {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 4px solid;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}
.btn-group .list {
    display: none;
    height: 200px;
    overflow-y: auto;
    overflow-x: hidden;
    border-left: solid 1px #ebebeb;
    border-right: solid 1px #ebebeb;
    border-bottom: solid 1px #ebebeb;
    z-index: 100;
    position: absolute;
    width: 180px;
    background: #fff;
    margin-top: -1px;
}
   .selected-items-box {
   cursor: pointer;
    width: 100%;
    padding: 7px 15px;
    z-index: 1;
    border-radius: 3px;
    border: 1px solid #cdc9c9;
    box-shadow: none;
    background: transparent;
    color: #808080;
    font-size: 13px;
    font-weight: 300;
    height: 35px;
}
.list .items-list {
    list-style-type: none;
    width: 100%;
    padding: 0;
    margin: 0;
}
</style>