<div id="wrapper">
    <div ng-include src="'partials/officer/sidebar.html'"></div>
    <div id="page-wrapper">
            <div class="col-sm-12 msg_alert">
                <div class="alert alert-success row auto-margin" ng-if="showSuccess == true">
                    {{showSuccessMsg}}
                </div>
                <div class="alert alert-danger row auto-margin" ng-if="resErrorMsg == true">
                    {{responseErrorMSG}}
                </div>
            </div>
        <div class="col-sm-12 col-md-12 graphs">
            <h3 class="page_title"><span class="pull-left">Contractors Detail</span><span class="pull-right">
            <!--<a tooltip-placement="{{placement.selected}}" uib-tooltip="Post Comment {{placement.selected}}" type="button" class="btn btn-default camra_btn" ng-click="postComment()">Comment{{placement.selected}}</a> -->   
            <a href ng-click="backpage()" class="btn btn-default camra_btn">Back</a>
            </span></h3>
            <div class="col-sm-12 col-md-12 user_form  box" ng-if="contractorDetail">
                <div class=" col-sm-6">
                    <form method="post" name="updateForm" id="update-form" autocomplete="off" novalidate="" class="ng-pristine ng-valid edit_user_form">
                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-4 control-label label_payment">Name:</label>
                            <div class="col-sm-8">
                                <span>{{contractorDetail.name | capitalize}} {{contractorDetail.last_name | capitalize}}</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-4 control-label label_payment">Email:</label>
                            <div class="col-sm-8">
                                <span>{{contractorDetail.email}}</span>
                            </div>
                        </div>
                   
                     <div class="form-group">
                            <label for="inputEmail3" class="col-sm-4 control-label label_payment">Cell Number:</label>
                            <div class="col-sm-8">
                                <span>{{contractorDetail.phone}}</span>
                            </div>
                    </div>
					 <div class="form-group">
                            <label for="inputEmail3" class="col-sm-4 control-label label_payment">Company Name:</label>
                            <div class="col-sm-8">
                                 <span ng-show="company != undefined">{{company | capitalize}}</span>
                                <span ng-hide="company != undefined">Not Availabel</span>
                                
                            </div>
                    </div>
                     <div class="form-group">
                            <label for="inputEmail3" class="col-sm-4 control-label label_payment">Crew Number:</label>
                            <div class="col-sm-8">
                                <span ng-show="crew_no != undefined">{{crew_no }}</span>
                                <span ng-hide="crew_no != undefined">Not Availabel</span><span></span>
                            </div>
                    </div>
                       <div class="form-group">
                            <label for="inputEmail3" class="col-sm-4 control-label label_payment">Notes:</label>
                            <div class="col-sm-8">
                                <span ng-show="notes != undefined">{{notes}}</span>
                                <span ng-hide="notes != undefined">Not Availabel</span><span></span><span></span>
                            </div>
                    </div>
                      <div class="form-group">
                            <label for="inputEmail3" class="col-sm-4 control-label label_payment">Created Date:</label>
                            <div class="col-sm-8">
                                <span>{{contractorDetail.created_at | date:'MM/dd/yyyy'}}</span>
                            </div>
                    </div>
                </div>
                </form>

            </div>
            
        </div>

</div>
    <!-- /#page-wrapper -->
</div>

 <div class="modal fade comment_pop" id="myModelDelete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            

            <div class="modal-content">
                <div class="modal-header custom-m-headr">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h2 class="modal-title">Post Comment</h2>
                </div>
                <div class="modal-body">
                    <div class="user_list_detail clearfix">
                        <div class="col-md-12 main-brdr-div">
                            <div class="col-sm-12">

                                <label for="officeName" class="col-sm-4 control-label label_payment">Comment</label>
                            <div class="col-sm-8">
                                <textarea class="form-control" ng-model="comment" ng-model="comment" required></textarea>

                                 <div class="Err" ng-show="(addoffice.$submitted || addoffice.comment.$dirty ) && addoffice.comment.$error.required">Please enter comment</div>
                            </div>


                            </div>
                        </div>
                        <!--  -->
                    </div>
                </div>
                <div class="modal-footer text-center">
                    <button type="button" class="btn btn-primary pop-up_btn-red" data-dismiss="modal">Cancel</button>
                    <button type="button" ng-click="postC()" class="btn btn-primary pop-up_btn-green">Save</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>