<div id="wrapper">
    <div ng-include src="'partials/officer/sidebar.html'"></div>
    <div id="page-wrapper">
            <div class="col-sm-12 msg_alert">
                <div class="alert alert-success row auto-margin" ng-if="showSuccess == true">
                    {{showSuccessMsg}}
                </div>
                <div class="alert alert-danger row auto-margin" ng-if="resErrorMsg == true">
                    {{responseErrorMSG}}
                </div>
            </div>
        <div class="col-sm-12 col-md-12 graphs">
            <h3 class="page_title clearfix"><span class="pull-left" ng-if="jobList.number">Job Detail #{{jobList.number}}</span><span class="pull-right">
                 <a href="#officer-editjobs/{{jobId}}" class="btn btn-default camra_btn">Edit</a>
                <a href ng-click="backpage()" class="btn btn-default camra_btn">Back</a></span></h3>
            <div class="col-sm-12 col-md-12 user_form  box">
                <div class=" col-sm-6   edit_user_form job-title">
                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-4 control-label label_payment">Job Title:</label>
                        <div class="col-sm-8">
                            <span ng-if="jobList.title | capitalize">{{jobList.title | capitalize}}</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-4 control-label label_payment">Location:</label>
                        <div class="col-sm-8">
                            <span>{{jobList.location}}</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-4 control-label label_payment">Address:</label>
                        <div class="col-sm-8">
                            <span>{{jobList.address}}</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-4 control-label label_payment">City:</label>
                        <div class="col-sm-8">
                            <span>{{jobList.city}}</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-4 control-label label_payment">Zipcode:</label>
                        <div class="col-sm-8">
                            <span>{{jobList.zip}}</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-4 control-label label_payment">Job Type:</label>
                        <div class="col-sm-8">
                            <span ng-repeat="jobtype in jobtypeEditlistcheck" ng-if="jobtype.jobName | capitalize">{{jobtype.jobName | capitalize}} {{$last ? '' : ($index==Users.length-2) ? ' and ' : ', '}}</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-4 control-label label_payment">Start Date:</label>
                        <div class="col-sm-8">
                            <span>{{jobList.start_date | date:'MM/dd/yyyy'}}</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-4 control-label label_payment">End Date:</label>
                        <div class="col-sm-8">
                            <span>{{jobList.end_date | date:'MM/dd/yyyy'}}</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-4 control-label label_payment">Status:</label>
                        <div class="col-sm-8">
                            <span ng-if="status == 0">In Progress</span>
                            <span ng-if="status == 1">Complete</span>
                            <span ng-if="status == 2">Hold</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-4 control-label label_payment">Amount:</label>
                        <div class="col-sm-8">
                            <span>{{jobList.bid_amount}}</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-4 control-label label_payment">Note:</label>
                        <div class="col-sm-8">
                            <span>{{jobList.notes}}</span>
                        </div>
                    </div>
                </div>
                <!-- map div -->
                <div class=" col-sm-6 pad_left">
                    <span ng-if="apiStatus == 'ZERO_RESULTS'">No result found</span>
                    <div id="map" class="no-margin"></div>
                </div>
            </div>
            <div class="clearfix"></div>
            <button type="button" data-toggle="modal" data-target="#myModeljobHistory" class="btn btn-default blue-btn pull-right" ng-click="setDate()">Add Job History</button>
            <h3 class="page_title">Job History:</h3>
            <div class="col-sm-12 col-md-12 user_form  box">
                <div class="col-md-12">
                    <table style="width: 100%;" class="table player-table">
                        <tr>
                            <th>Contractor Name</th>
                            <th>Workers</th>
                            <!--<th>Status</th>-->
                            <th>Start Date</th>
                            <th>Start Time</th>
                            <th>End Time</th>
                            <th>Note</th>
                            <th>Edit</th>
                        </tr>
                        <tr ng-repeat="Job in History">
                            <td>{{Job.name}} {{Job.last_name}}</td>
                            <td>{{Job.crew_count}}</td>
                            <!--<td ><span ng-if ="Job.active == 0 && Job.not_worked == null">InActive</span>
                                 <span ng-if ="Job.active == 0 && Job.not_worked != null">Not Work</span>
                                 <span ng-if ="Job.active == 1">Active</span> </td>-->
                            <td>{{Job.created_at | date:'MM/dd/yyyy'}}</td>
                            <td>{{Job.created_at | date:' h:mm a'}}</td>
                            <td>{{Job.updated_at | date:' h:mm a'}}</td>
                            <td>
                                <p ng-bind-html="Job.not_worked | nl2br"></p>
                            </td>
                            <td><a tooltip-placement="{{placement.selected}}" uib-tooltip="Edit Time {{placement.selected}}" data-toggle="modal" data-target="#editJobtime" ng-click="getEdittime(Job)" type="button" class="btn btn-primary btn-lg"><i class="fa fa-edit" aria-hidden="true">{{placement.selected}}</i></a></td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="col-md-12 ">
                <button type="button" data-toggle="modal" data-target="#myModelnote" class="btn btn-default blue-btn pull-right">Add Notes</button>
                <h3 class="page_title">Notes:</h3>
            </div>
            <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12 banner-one part-two">
                <div class="col-md-12 no-pad all-section">
                    <p class="text-center">{{notesmessage}}</p>
                    <div class="panel panel-default comments" ng-repeat="notes in notesList">
                        <div class="panel-heading">
                            <div class="pull-left"></div><strong ng-hide="notes.user_id == Loginid"> {{notes.name}}  </strong><strong ng-show="notes.user_id == Loginid"> Me  </strong> <strong>added on {{notes.created_at | date:'MM/dd/yyyy h:mm a'}}  </strong>
                            <!--  <div ng-hide ="loginType != 1" class="pull-right right-icon">
                                <i  class="fa fa-pencil-square" style="cursor:pointer" aria-hidden="true" ng-click="editNote(notes)"></i>
                                <i  class="fa fa-trash" style="cursor:pointer" aria-hidden="true" ng-click="delteNote(notes.id)"></i>
                            </div> -->
                            <div class="pull-right right-icon">
                                <i ng-show="Loginid == notes.user_id" class="fa fa-pencil-square" style="cursor:pointer" aria-hidden="true" ng-click="editNote(notes)"></i>
                                <i ng-show="Loginid == notes.user_id" class="fa fa-trash" style="cursor:pointer" aria-hidden="true" ng-click="delteNote(notes.id,notes.job_id)"></i>
                            </div>
                        </div>
                        <div class="panel-body">
                            <p ng-bind-html="notes.note | nl2br"></p>
                        </div>
                        <!-- /panel-body -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /#page-wrapper -->
</div>
</div>
<!--modal box for comment  -->
<div class="modal fade comment_pop" id="myModelnote" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header custom-m-headr">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h2 class="modal-title">Add Note</h2>
            </div>
            <form method="post" name="add_note" ng-submit="addNote(add_note.$valid)" autocomplete="off" novalidate id="add-note">
                <div class="modal-body custom-model clearfix">
                    <div class="form-group col-md-12 comment-height-add">
                        <label for="name">Note</label>
                        <div id="summernote" ng-model="comment"></div>
                        <input type="hidden" ng-model="comment" name="comment" id="comment">
                        <span class="error_label Err" for="error_label"> </span>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-default submit-btn">Add</button>
                </div>
            </form>
        </div>
    </div>
    <!-- /.modal-content -->
</div>
<!-- edit comment -->
<div class="modal fade comment_pop" id="ModeleditComment" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header custom-m-headr">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h2 class="modal-title">Edit Note</h2>
            </div>
            <form method="post" name="edit_note" ng-submit="editNotesave(edit_note.$valid)" autocomplete="off" novalidate id="edit_note">
                <div class="modal-body custom-model clearfix">
                    <div class="form-group col-md-12 comment-height-add">
                        <label for="name">Note</label>
                        <div id="summernote2" ng-model="enote"></div>
                        <input type="hidden" ng-model="edit_note_id" name="edit_note_id" id="edit_note_id">
                        <input type="hidden" ng-model="edit_job_id" name="edit_job_id" id="edit_job_id">
                        <input type="hidden" ng-model="enote" name="enote" id="enote"> <span class="error_label Err" for="error_label"> </span>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-default submit-btn">Update</button>
                </div>
            </form>
        </div>
    </div>
    <!-- /.modal-content -->
</div>
<!-- /.modal-dialog -->
</div>
<!-- delete comment -->
<div class="modal fade delete_pop" id="ModelDeleteComment" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header custom-m-headr">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h2 class="modal-title">Delete</h2>
            </div>
            <div class="modal-body">
                <div class="user_list_detail clearfix">
                    <div class="col-md-12 main-brdr-div">
                        <div class="col-sm-12">
                            <p class="pop_box_title">Are you sure you want to delete this note?</p>
                        </div>
                        <!-- <div class="col-sm-8">
                     <p></p>
                     </div> -->
                    </div>
                    <!--  -->
                </div>
            </div>
            <div class="modal-footer text-center">
                <button type="button" class="btn btn-primary pop-up_btn-green" data-dismiss="modal" ng-click="deletenote(n_id,job_id);">yes</button>
                <button type="button" class="btn btn-primary pop-up_btn-red" data-dismiss="modal">no</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!--  -->
<!--================ modal for edit job timing ===========-->
<div class="modal fade comment_pop" id="editJobtime" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header custom-m-headr">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h2 class="modal-title">Edit Job History</h2>
            </div>
            <form method="post" name="edit_time" ng-submit="editTime(edit_time.$valid)" autocomplete="off" novalidate id="edit_time">
                <div class="modal-body custom-model clearfix">
                    <div class="form-group col-md-12 comment-height-add">
                        <div class="col-sm-4">
                            <label for="name">Contarctor name:</label>
                        </div>
                        <div class="col-sm-6">
                            <select class="form-control" name="edit_contractor_id" ng-model="edit_contractor_id" required>
                                <option value="">Select assign contractor</option>
                                <option ng-repeat="contractor in editcontractorsList" ng-if="contractor.status == 1 " value="{{contractor.id}}">{{contractor.name}} {{contractor.last_name}}</option>
                            </select>
                            <div class="Err ng-hide" ng-show="(edit_time.$submitted || edit_time.edit_contractor_id.$dirty ) && edit_time.edit_contractor_id.$error.required">Please select contractor name</div>
                        </div>
                    </div>
                    <div class="form-group col-md-12 comment-height-add">
                        <div class="col-sm-4">
                            <label for="name">No. of Worker:</label>
                        </div>
                        <div class="col-sm-6">
                        
                            <input type="text" class="form-control" name="edit_no_worker" ng-model="edit_no_worker" id="edit_no_worker" ng-pattern="/^(0|[1-9][0-9]*)$/" required>
                            <div class="Err" ng-show="(edit_time.$submitted || edit_time.start_time.$dirty ) && edit_time.edit_no_worker.$error.required">Please enter number of worker </div>
                            <div class="Err ng-hide" ng-show="(edit_time.$submitted || edit_time.edit_no_worker.$dirty ) && edit_time.edit_no_worker.$error.pattern">Please enter valid number of worker</div>
                        </div>
                    </div>
                    <div class="form-group col-md-12 comment-height-add">
                        <div class="col-sm-4">
                            <label>Start Date:</label>
                        </div>
                        <div class="col-sm-6">
                            <p class="input-group">
                                <input type="text" class="form-control" ng-click="open1()" uib-datepicker-popup="{{format}}" name="edit_start_date" placeholder="mm/dd/yy" ng-model="edit_start_date" is-open="popup1.opened" datepicker-options="dateOptions" close-text="Close" required>
                                <span class="input-group-btn">
                        <button type="button" class="btn btn-default no-margin" ng-click="open1()"><i class="glyphicon glyphicon-calendar icon_calendar"></i></button>
                        </span>
                                <div class="Err" ng-show="(edit_time.$submitted || edit_time.edit_start_date.$dirty ) && edit_time.edit_start_date.$error.required">Please select start date</div>
                            </p>
                        </div>
                    </div>
                    <div class="form-group col-md-12 comment-height-add">
                        <div class="col-sm-4">
                            <label for="name">Start Time:</label>
                        </div>
                        <div class="col-sm-6">
                            <input type="time" class="form-control" name="editStartdate" ng-model="editStartdate" id="editStartdate" placeholder="HH:mm:ss" required>
                            <div class="Err" ng-show="(edit_time.$submitted || edit_time.editStartdate.$dirty ) && edit_time.editStartdate.$error.required">Please enter start time</div>
                        </div>
                    </div>
                    <div class="form-group col-md-12 comment-height-add">
                        <div class="col-sm-4">
                            <label>End Date:</label>
                        </div>
                        <div class="col-sm-6">
                            <p class="input-group">
                                <input type="text" class="form-control" placeholder="mm/dd/yy" uib-datepicker-popup="{{format}}" ng-click="open2()" name="edit_end_date" ng-model="edit_end_date" is-open="popup2.opened" datepicker-options="dateOptions" close-text="Close">
                                <span class="input-group-btn">
                        <button type="button" class="btn btn-default no-margin" ng-click="open2()"><i class="glyphicon glyphicon-calendar icon_calendar"></i></button>
                        </span>
                                <!-- <div class="Err" ng-show="(edit_time.$submitted || edit_time.end_date.$dirty ) && edit_time.end_date.$error.required">Please select completion date</div> -->
                            </p>
                        </div>
                        <div class="col-sm-2">
                          <a style="color: black" href ng-click ="cleardate()" tooltip-placement="{{placement.selected}}" uib-tooltip="clear time {{placement.selected}}" ><i class="fa fa-archive" aria-hidden="true"></i></a>
                        </div>
                    </div>
                    <div class="form-group col-md-12 comment-height-add">
                        <div class="col-sm-4">
                            <label for="name">End Time:</label>
                        </div>
                        <div class="col-sm-6">
                            <input type="time" class="form-control" name="editEnddate" ng-model="editEnddate" id="editEnddate" placeholder="HH:mm:ss" >
                           
                        </div>
                        <div class="col-sm-2">
                         <a style="color: black" href ng-click ="cleartime()" tooltip-placement="{{placement.selected}}" uib-tooltip="clear time {{placement.selected}}" ><i class="fa fa-archive" aria-hidden="true"></i></a>   
                        </div>
                    </div>
                </div>
              
                <div class="clearfix"></div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-default submit-btn">Save</button>
                </div>
            </form>
        </div>
    </div>
    <!-- /.modal-content -->
</div>
<!--================ modal for Add Job History===========-->
<div class="modal fade comment_pop" id="myModeljobHistory" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header custom-m-headr">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h2 class="modal-title">Add Job History </h2>
            </div>
            <form method="post" name="add_jobhistory" ng-submit="addJobhistory(add_jobhistory.$valid)" autocomplete="off" novalidate id="add-note">
                <div class="modal-body custom-model clearfix">
                    <div class="form-group col-md-12 comment-height-add">
                        <div class="col-sm-4">
                            <label for="name">Contarctor name:</label>
                        </div>
                        <div class="col-sm-6">
                            <select class="form-control" name="contractor_id" ng-model="contractor_id" required>
                                <option value="">Select assign contractor</option>
                                <option ng-repeat="contractor in editcontractorsList" ng-if="contractor.status == 1 " value="{{contractor.id}}">{{contractor.name}} {{contractor.last_name}}</option>
                            </select>
                            <div class="Err ng-hide" ng-show="(add_jobhistory.$submitted || add_jobhistory.contractor_id.$dirty ) && add_jobhistory.contractor_id.$error.required">Please select contractor name</div>
                        </div>
                    </div>
                    <div class="form-group col-md-12 comment-height-add">
                        <div class="col-sm-4">
                            <label for="name">No. of Worker:</label>
                        </div>
                        <div class="col-sm-6">
                            <input type="hidden" name="add_newwork_jobasign_id" ng-modal="add_newwork_jobasign_id" id="add_newwork_jobasign_id" ;>
                            <input type="hidden" name="add_newwork_contractor_id" ng-modal="add_newwork_contractor_id" id="add_newwork_contractor_id" ;>
                            <input type="text" class="form-control" name="no_worker" ng-model="no_worker" id="no_worker" ng-pattern="/^(0|[1-9][0-9]*)$/" required>
                            <div class="Err" ng-show="(add_jobhistory.$submitted || add_jobhistory.start_time.$dirty ) && add_jobhistory.no_worker.$error.required">Please enter number of worker</div>
                            <div class="Err ng-hide" ng-show="(add_jobhistory.$submitted || add_jobhistory.zipcode.$dirty ) && add_jobhistory.zipcode.$error.pattern">Please enter valid number of worker</div>
                        </div>
                    </div>
                    <div class="form-group col-md-12 comment-height-add">
                        <div class="col-sm-4">
                            <label>Start Date:</label>
                        </div>
                        <div class="col-sm-6">
                            <p class="input-group">
                                <input type="text" class="form-control" ng-click="open1()" uib-datepicker-popup="{{format}}" name="start_date" placeholder="mm/dd/yy" ng-model="start_date" is-open="popup1.opened" datepicker-options="dateOptions" close-text="Close" required>
                                <span class="input-group-btn">
                        <button type="button" class="btn btn-default no-margin" ng-click="open1()"><i class="glyphicon glyphicon-calendar icon_calendar"></i></button>
                        </span>
                                <div class="Err" ng-show="(add_jobhistory.$submitted || add_jobhistory.start_date.$dirty ) && add_jobhistory.start_date.$error.required">Please select start date</div>
                            </p>
                        </div>
                    </div>
                    <div class="form-group col-md-12 comment-height-add">
                        <div class="col-sm-4">
                            <label for="name">Start Time:</label>
                        </div>
                        <div class="col-sm-6">
                            <input type="time" class="form-control" name="start_time" ng-model="start_time" id="start_time" placeholder="HH:mm:ss" required>
                            <div class="Err" ng-show="(add_jobhistory.$submitted || add_jobhistory.start_time.$dirty ) && add_jobhistory.start_time.$error.required">Please enter start time</div>
                        </div>
                    </div>
                    <div class="form-group col-md-12 comment-height-add">
                        <div class="col-sm-4">
                            <label>End Date:</label>
                        </div>
                        <div class="col-sm-6">
                            <p class="input-group">
                                <input type="text" class="form-control" placeholder="mm/dd/yy" uib-datepicker-popup="{{format}}" ng-click="open2()" name="end_date" ng-model="end_date" is-open="popup2.opened" datepicker-options="dateOptions" close-text="Close">
                                <span class="input-group-btn">
                        <button type="button" class="btn btn-default no-margin" ng-click="open2()"><i class="glyphicon glyphicon-calendar icon_calendar"></i></button>
                        </span>
                                <!--   <div class="Err" ng-show="(add_jobhistory.$submitted || add_jobhistory.end_date.$dirty ) && add_jobhistory.end_date.$error.required">Please select completion date</div> -->
                            </p>
                        </div>
                    </div>
                    <div class="form-group col-md-12 comment-height-add">
                        <div class="col-sm-4">
                            <label for="name">End Time:</label>
                        </div>
                        <div class="col-sm-6">
                            <input type="time" class="form-control" name="end_time" ng-model="end_time" id="end_time" placeholder="HH:mm:ss">
                            <div class="Err" ng-show="(add_jobhistory.$submitted || add_jobhistory.end_time.$dirty ) && add_jobhistory.end_time.$error.required">Please enter end time</div>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-default submit-btn">Add</button>
                </div>
            </form>
        </div>
    </div>
    <!-- /.modal-content -->
</div>
<style type="text/css">
h3 img {
    max-height: 50px;
}

#map {
    height: 400px;
    margin: 0px 0;
    border-radius: 5px;
    border: 1px solid silver;
}
</style>
<style type="text/css">
h3 img {
    max-height: 50px;
}

#map {
    height: 400px;
    margin: 0px 0;
    border-radius: 5px;
    border: 1px solid silver;
}
</style>